[2021-04-13 12:12] gongsu832 commented on #600
If the endianness is still correct in the bitcode, then I guess it must have happened on the way from bitcode to .so. Unfortunately I don't know much about LLVM and what's involved going from bitcode to .so (beyond the fact that llc was used to do the compilation). Hopefully others @tjingrant @caoimhinuibrian etc. can chime in and offer their insights.

[2021-04-13 16:32] sstamenova commented on #599
#605 Fixed the Windows-specific issues with the onnx-mlir build. There are some tests that remain red in the Windows CI build, but they were identified previously as failures in Release on all platforms (see #582).

[2021-04-13 16:32] #599 closed

[2021-04-13 16:33] sstamenova commented on #559
@stephenneuendorffer : I believe #590 takes care of this. Can you confirm it resolved the issues in your environment?

[2021-04-13 18:38] chentong319 commented on #535
@doru1004 I ran the bundle pass and got more info:
[code]
But I can not connect the error message with the code.

[2021-04-13 19:13] caoimhinuibrian commented on #560
Not sure what you want to see. Take any trained model, use onnx-mlir to compile it, link it with a driver and run it multiple times with inputs. The weights are saved in the model binary. You do not need to specify them in order to run the inference. For an example use mnist or resnet or something else that is available out there.

[2021-04-14 05:57] stephenneuendorffer commented on #559
Yes, thanks!

[2021-04-14 05:57] #559 closed

[2021-04-14 06:56] stephenneuendorffer commented on #557
Please see #613

[2021-04-15 02:39] shizy818 commented on #568
@tungld Sure. Will try and let you know.

[2021-04-15 05:32] shizy818 commented on #568
@tungld We've tested both C & JNI API. Both look OK now.

[2021-04-15 09:36] #568 closed

[2021-04-15 09:37] shizy818 commented on #454
Done. Thank you all guys.

[2021-04-15 09:37] #454 closed

[2021-04-15 15:59] sstamenova commented on #582
Does it make sense to mark the two tests as UNSUPPORTED until they are fixed? It seems like a fix is not coming soon and because of the failures, any release builds against the master branch (including the Windows CI) are red.

[2021-04-16 03:56] chentong319 commented on #596
@shizy818 For the pytorch model, the error came from the customized op. Its output type is incorrect.  May need special handling. For the tensor flow model, the error came from the code giving the default value for optional input.

[2021-04-16 05:23] gongsu832 opened #617 "Numberical tests segfault with CMAKE_BUILD_TYPE=Release"
To reproduce,
[code]
They all failed inside `omTensorSetDataPtr`. Backtrace shows that the call to `omTensorSetDataPtr` came for inside `run_main_graph`. So I instrumented `omTensorSetDataPtr` to print out the parameters it got and it was called with tensor=null.
[code]
We can of course check tensor for null inside `omTensorSetDataPtr` but this indicates a bug in the caller that needs to be fixed.

[2021-04-16 15:25] chentong319 commented on #596
@shizy818 @caoimhinuibrian When we use one CustomOp to represent different customized ops, we missed one piece of information: type inference for output type. When we construct Ops in MLIR, we need the element type of output tensor to pass the verifier. The later shape inference will refine the type info. Such type inference is defined in declarative operation definition.
For customized operation,

[2021-04-16 16:13] chentong319 opened #619 "Different version of Slice Op"
@amanwithfruit I am debugging a model and found the error was in ImportNodeSlice. The size for DenseElementAttribute is assumed to be   `{1}`, while the attribute in the test case has two elements.  The bug can be fixed by using the size of the attribute instead of `{1}` for tensor type in DenseElementAttribute.
However, I noticed that the current ImportNodeSliceOp (by #266) is using an old versio

[2021-04-16 16:37] amanwithfruit commented on #619
Let me page this back into my memory and I'll get started on this. Can you put up a failing test case I can use to motivate the fix part of this? The other parts I will refer to the spec.

[2021-04-16 17:28] chentong319 commented on #619
Thanks @amanwithfruit . I can not give you that model directly. I asked the owner to simplify the model so that the buggy part can be shared.

[2021-04-16 17:30] amanwithfruit commented on #619
I know that pain 😅 I'm still paging things back in so take your time.

[2021-04-16 17:34] chentong319 commented on #619
By the way, the code handling axes for SliceOp may be used by other operations, such as ReduceSum, Squeeze and Unsqueezed, all of which changes their axes from attribute to input in the new version.
As for the default value, I am thinking whether some support should be added into the table gen. At least, we may define that function in the Op definition using table gen so that the code is more decl

[2021-04-16 17:37] amanwithfruit commented on #619
Sure - I'll take a look and see if I can re-use anything that already exists

Since they're inputs, I'm not sure what we can do? Unless you're suggesting that we hoist them from ONNX/protobuf inputs to MLIR attrs? Or am I misunderstanding your suggestion?

[2021-04-16 17:42] chentong319 commented on #619
I am thinking of adding a function to generate the default value in the Op definition, hook it with the optional input with default value, and the constructor invokes that function automatically when the corresponding optional input is missing.

[2021-04-19 01:46] seroyer commented on #600
I believe that the issue no longer shows up on the master branch.  However, it still shows up on the llvm-12-release-branch which also has the change to use -O2.  So I don't believe that -O2 is sufficient.

[2021-04-19 02:04] shizy818 commented on #596
Hello, I upload a `Slice` model with axes attribute = [1 ,2].

[code]

[slice_op.onnx.zip](https://github.com/onnx/onnx-mlir/files/6332779/slice_op.onnx.zip) -> rename to slice_op.onnx

[2021-04-19 23:54] caoimhinuibrian commented on #600
@seroyer I do not observe this problem on the llvm-12-release-branch

[2021-04-20 01:34] chentong319 commented on #587
The type verifier is generated automatically from .td file. Should we extend the type description to AnyInteger, AnyFloat or just AnyType?
I checked this model. It just specified wrong type for one placeholder tensor.

[2021-04-20 02:18] doru1004 commented on #535
@chentong319 this PR fixes the problem: https://github.com/onnx/onnx-mlir/pull/628

[2021-04-20 13:18] seroyer commented on #600
I still observe the problem on s390x.  Maybe it is an endian issue?

[2021-04-20 13:34] seroyer commented on #600
My test client running the model zoo tests worked before the changes to the embedded consts.  It works correctly on master branch.  But it fails on release branch:

[code]

Again, this is running on s390x, so big endian.

[2021-04-21 00:16] sstamenova commented on #247
#616 Fixed a few more of the issues on Windows. Of this list, the only remaining one is dlfcn.h (the need for equivalent on Windows).

[2021-04-22 05:57] tungld commented on #600
Hi,

Just found that `loop-unroll` in `opt` was the root cause. It unrolled a loop that added two arrays of 10 elements. One of the array was constant. During the unroll, it seemed it used little endian or wrongly read the array.
[code]

I enabled -O3, and just turned `loop-unroll` off:
[code]
and mnist worked well:
[code]

[2021-04-22 08:05] caoimhinuibrian commented on #600
Great! is the problem the constant here?
%653 = fadd float %652, 0xC69746F7A0000000, !dbg !254
it does look backwards ....
How should we proceed with this? Can we turn of unrolling for now and report the bug to llvm?

[2021-04-22 08:09] caoimhinuibrian commented on #600
... or should we revert the earlier constant fix (putting constants in the IR) and go back to binding the constants separately until we can get llvm to look at this? @gongsu832 @tjingrant @AlexandreEichenberger , any thoughts?

[2021-04-22 09:52] tungld commented on #600
It seems that loop unrolling is only applied to small loops (constant and small trip count): https://github.com/llvm/llvm-project/blob/main/llvm/lib/Transforms/IPO/PassManagerBuilder.cpp#L466. This looks consistent with what Gong observed.

[2021-04-22 09:53] gongsu832 commented on #600
Yeah @tungld great detective work! I think it would be nice to keep this patch since it fixes the problem of having to copy constants buffer. So I would vote for keeping the patch and turning off loop unroll for now, and pointing the gun at the LLVM folks. We do also need to remember that this patch increases the memory footprint (and causes CircleCI build to fail) but I think Tung san is going to

[2021-04-22 16:37] amanwithfruit commented on #619
@chentong319 do you have an update on the problematic part of the model? I want to make sure I fix the right thing 😅

[2021-04-22 18:48] AlexandreEichenberger commented on #600
Good find @tungld

[2021-04-22 20:01] tjingrant commented on #600
Impressive findings @tungld !

@caoimhinuibrian I think we need to evaluate the impact of turning loop unrolling off, probably by running a few representative benchmarks. I wonder if @AlexandreEichenberger knows the effect of switching on/off loop unrolling in LLVM?

It does appear that hot loops should have been unrolled already at the level of LLVM, so maybe nothing to be weary about.

[2021-04-23 02:43] caoimhinuibrian commented on #600
Looked some more into this:
The constant is correctly stored as big-endian on Z. The relevant constant is constant_7
@constant_7 = internal unnamed_addr constant [40 x i8] c"\BD7\BA\F4;\FFQ1=\8Bxq<\F5\B5o\BE\01q\87>\0F\95\81\BDbrl\BDJF\AF=\AC\B1\0A\BD_e\C5"

On x86 this is@constant_7 = internal unnamed_addr constant [40 x i8] c"\F4\BA7\BD1Q\FF;qx\8B=o\B5\F5<\87q\01\BE\81\95\0F>lrb\BD\AFFJ\BD\0A\B1

[2021-04-23 04:10] tungld commented on #600
Yes, it was the compile-time performance, coming from using DenseElementsAttr.

I also think the optimizer gets confused with our float array. One simple way for this problem is using a threshold to choose between using a float array (StringAttr) or DenseElementsAttr. We only use the float array if the number of elements is greater than the threshold. With a small threshold, it would not affect co

[2021-04-23 14:59] AlexandreEichenberger commented on #600
I added the `--disable-loop-unrolling ` option but it does not like both `-O3` and `--disable-loop-unrolling`. Not sure how you got it to work. In any case, this does not change the (unrelated) breakage of my inception test (unrelated)

[code]

[2021-04-23 21:09] sstamenova opened #638 "Resolve circular dependency between ONNXOps and KrnlOps"
From the cmake for ONNXOps:

[code]

There are some major benefits to resolving the circular dependency:
1) The majority of the cmake files in the project use add_dependencies to manage dependencies between the various libs instead of target_link_libraries. target_link_libraries automatically adds the requested link libraries as a dependency in addition to carrying over any compilation flags, incl

[2021-04-23 21:12] gramalingam commented on #638
It would be great to remove the dependency of ONNXOps on KrnlOps!

[2021-04-24 02:04] AlexandreEichenberger commented on #638
It is not that easy because we share code for shape inference and onnx-to-krnl lowering

[2021-04-24 02:10] sstamenova commented on #638
Does it make sense to move the shared code to a new library?

[2021-04-27 20:30] AlexandreEichenberger opened #644 "Help function for creating tensor list"
I created a function that build a tensor list based on the signature returned by `omInputSignature()`

It is pretty simple and use a rudimentary JSON reader lifted from GitHub with a MIT license (very permissive).

Its interface is very simple:

[code]

and assets if there are issues (could also just return null).

My question is
1. Would you find that useful? To me it is to generate a simple prog

[2021-04-27 20:51] AlexandreEichenberger opened #645 "Question about the OMTensor.h interface"
First, I think we should add the signature for the call:

[code]

I failed to add it and I was getting loader symbol not found, because it was in a cpp file. Is there any reason not to add it?

Second, I find the interface to `OMTensorListCreate` counter intuitive because unlike the "shape" parameter (which is copied when creating a tensor), this list is not copied.  However it is deallocated if t

[2021-04-27 20:53] AlexandreEichenberger commented on #644
Right now, it creates the data blocks and leave uninitialized. One could add another parameter to determine if initializing, or provide a list of blocks and setting each corresponding block to the corresponding element in the list.

[2021-04-27 21:54] AlexandreEichenberger commented on #644
Possible interface (currently implemented)

[code]

[2021-04-28 00:27] sstamenova commented on #561
I also have a question about this test (as well as a couple of others such as check-doc) that depend on an onnx installation. Does it make sense to move all such tests out of build all and into a separate check-* that explicitly requires an onnx installation? That way we could (maybe, eventually) get to a point where we can build all successfully on a variety of platforms and any additional steps

[2021-04-28 00:28] sstamenova commented on #557
Updated patch is: #631

[2021-04-29 19:56] chentong319 commented on #596
@amanwithfruit Above is the test case.

[2021-04-30 00:42] #539 closed

[2021-04-30 17:05] amanwithfruit commented on #619
for documentation - test case is here: https://github.com/onnx/onnx-mlir/issues/596

[2021-04-30 20:40] caoimhinuibrian commented on #638
Yeah, we should fix this somehow ... looking into it

[2021-04-30 23:26] bxing-groq opened #648 "Leaky mlir namespace from header file"
Header file `/src/Dialect/ONNX/ONNXOpsHelper.hpp` ([link to line](https://github.com/onnx/onnx-mlir/blame/master/src/Dialect/ONNX/ONNXOpsHelper.hpp#L24) | [link to PR](https://github.com/onnx/onnx-mlir/commit/4d8b855c1737eeeae13739ea40a4a73749e6d275#r50246138)) leaks `using namespace mlir`. Generally, leaking namespaces from header files is an anti-pattern. All files that include them will be forc

[2021-04-30 23:35] tjingrant commented on #645
I think there's good reason to both both sides of the arguments (include it or leave it out). Including it, as you experienced, it a lot easier for most users. However, I think convenience only applies when you're working with a single model. If users would like to link with multiple models, (and assuming that we provide ways to name the entry point function differently for different models), it'd

[2021-04-30 23:41] tjingrant commented on #644
I think this makes sense to me per se, although we probably want to be careful about the impact of including a json reader; including it will likely entail building it during onnx-mlir installation, and linking with it (along with other stuffs like our runtime library) at the end of model compilation each time. I'd also be interested to learn about the motivations, it feels like it may reveal some

[2021-05-03 15:30] AlexandreEichenberger commented on #645
@tjingrant Thanks for the reply.

make sense. I see that there is a good example in the OnnxMlirRuntime.h, I should have looked at it more closely when starting to code. The example does not seems to free the data structures, maybe I can add that.

I agree for the data, but not for the list. It's like "size" or "offset"... small and simpler to belong to the data-structure. From how I read the code

[2021-05-04 14:38] AlexandreEichenberger commented on #638
@caoimhinuibrian, currently half way through a solution. Requires a bit of engineering, not too much as IndexExpr are creating code that currently explicitly use Krnl, but I can work around this. Will push a PR today, probably. Looking forward to your input

[2021-05-04 18:48] caoimhinuibrian commented on #638
@AlexandreEichenberger oh ... I was looking at it ... will stop now. I was pursuing a dependency injection idea to solve

[2021-05-05 13:33] SharonYuIBM opened #652 ""operand #0 does not dominate this use" error using the code from llvm-12-release-branch"
Hello, when trying to compile onnx models using the latest code from the `llvm-12-release-branch` branch, some models fail to be compiled with error:

`operand #0 does not dominate this use`

For example, this one:

[tent.onnx.zip](https://github.com/onnx/onnx-mlir/files/6427454/tent.onnx.zip)

This looks to be a regression since it model works before.

[2021-05-05 17:40] AlexandreEichenberger commented on #638
#653 is implementing the changes. Please feel free to comment on it as you see fit

[2021-05-05 19:41] #638 closed

[2021-05-05 20:07] AlexandreEichenberger commented on #648
will address this in a PR shortly

[2021-05-06 01:28] AlexandreEichenberger commented on #648
implemented in PR #654

[2021-05-06 01:51] caoimhinuibrian commented on #652
@doru1004 @chentong319 is this the same issue as #535?

[2021-05-06 19:10] #648 closed

[2021-05-10 19:58] AlexandreEichenberger commented on #617
@gongsu832 Can you specify on which machine it was? I checked Release on my Mac, there was a bug and I fixed it, I would like to make sure there are no error on the machine you tested.

[2021-05-10 23:14] caoimhinuibrian commented on #652
fixed by #662

[2021-05-10 23:14] #652 closed

[2021-05-10 23:19] caoimhinuibrian commented on #600
fixed by #639

[2021-05-10 23:21] caoimhinuibrian commented on #596
@chentong319 @shizy818 is this fixed?

[2021-05-10 23:23] #560 closed

[2021-05-10 23:28] caoimhinuibrian commented on #561
@sstamenova that seems like a reasonable suggestion to me

[2021-05-10 23:45] amanwithfruit commented on #596
Not yet - I've been busy for the last couple weeks but hopefully I can get the fix up for issue #619 soon which would hopefully fix this.

[2021-05-11 03:09] AlexandreEichenberger commented on #617
#664 fixed all of the issues on Mac and Window, but there are remaining issues on Z. So keeping this one open.

[2021-05-11 13:50] AlexandreEichenberger commented on #582
@sstamenova Let us know if you also see a clean Window CI, because I fixed a bug for Release on Mac, which also fixed it for us on our Window CI. But we see some Release bug on Z still, so it may not be complete (possibly Big Endian, who knows)

By the way, the Window CI is pretty slow because it also rebuild LLVM from scratch. So if you could somewhat cache it, it would make the test faster, so i

[2021-05-11 18:03] NathanielMcVicar opened #669 "Parallelize ctest by default"
Would it make sense to parallelize the ctest target by default ("make test" or "cmake --build . --target test") using a method similar to this https://cmake.org/cmake/help/latest/module/ProcessorCount.html#module:ProcessorCount? On some platforms these tests can take a long time to run serially, so it might be nice to let each test run on a different core (as opposed to making multiple cores avail

[2021-05-11 18:13] AlexandreEichenberger commented on #669
@gongsu832 Please respond to this one, not sure what is best, since we share some of these machines with others for the CIs

[2021-05-11 23:48] gongsu832 commented on #669
All tests including ctest are already parallelized in Dockerfiles. Specifically, ctest is parallelized with `make ARGS=-j${NPROC} test`. NPROC is set by `.buildbot/jenkins-build-*.py` using an algorithm that takes into account both CPU numbers and memory size.
[code]

[2021-05-12 00:08] NathanielMcVicar commented on #669
That makes sense, although -j will still override any defaults, so changing it won't result in a different behavior in CI that sets it manually. Regardless, if you prefer the current approach feel free to close this issue.

[2021-05-12 00:14] sstamenova commented on #669
@gongsu832 : Does it make sense to add a default in the cmake files for people who don't use the dockerfiles? I would personally expect the tests to run in parallel *unless* I did something to make them not as opposed to the other way around.

[2021-05-12 02:07] gongsu832 commented on #669
@NathanielMcVicar Not sure I follow what you are saying. Can you elaborate?

@sstamenova `make test` not running in parallel by default really is a `make` behavior. People who don't use the dockerfiles obviously need to run the command themselves and might be expecting the default behavior.

[2021-05-12 02:59] sstamenova commented on #669
The issue is that other tools (such as ninja) will not run in parallel either. So ```ninja test``` does not run in parallel even though the default behavior for ninja is to run in parallel.

[2021-05-12 03:34] gongsu832 commented on #669
I'm not following. Why doesn't `ninja test` run in parallel if the default is to run in parallel? Also I don't see how it is related to the `make` behavior?

[2021-05-12 05:39] NathanielMcVicar commented on #582
That makes sense to me, since that is tracked elsewhere. Thanks so much for taking a look at this!

[2021-05-12 05:39] #582 closed

[2021-05-12 06:29] NathanielMcVicar commented on #669
I'd like to better understand the thought process here. In general, there is some default behavior for parallelizing (across unit test tools like ctest, pytest, etc. and build tools ninja, make, msbuild, etc.). Typically for most of these tools this is the number of cores. On platforms where that behavior isn't appropriate it can be overridden. If ONNX MLIR instead defaults to serial or small cons

[2021-05-12 06:59] gongsu832 commented on #669
Yes `$(nproc)` was fine most of the time, until we ran into problem with a Jenkins CI server that kept getting killed because it had 128 CPUs (SMT) but only 32GB memory. That was why the algorithm to compute a better NPROC mentioned in https://github.com/onnx/onnx-mlir/issues/669#issuecomment-839293610 was introduced. All build processes and tests have been changed to use the computed NPROC, inclu

[2021-05-13 02:08] sstamenova opened #681 "Circular dependency between OMONNXOps and OMONNXRewrite?"
I am still trying to get HandleLLVMOptions included in the project correctly and one of the things it does by default is build with: ```-Wl,-z,defs``` which forces the build of the shared libraries to resolve all symbols. While adding the dependencies for the libraries, I found that OMONNXOps and OMONNXRewrite appear to have a circular dependency as well. OMONNXOps needs the set of ```mlir::ONNXXX

[2021-05-13 13:08] AlexandreEichenberger commented on #681
I can look into this, probably early next week

[2021-05-14 14:22] AlexandreEichenberger commented on #681
Surveying a bit the code pattern, here is what I see.

Dialect/ONNX/ONNXOps.td generates the build/src/Dialect/ONNXOps.hpp.inc (included in ), which defines the `getCaonicalizationPatterns` for the ops that need this, e.g. for the ONNXAddOp

[code]

These patterns are generated in the Transform/ONNX subdirectory, for example in Combine.cpp
[code]
which are in turn generated by patterns in ONNXComb

[2021-05-14 16:30] sstamenova commented on #681
That would be my expectation based on how the other dialects in mlir are defined. I don't have context, though, into why the decision was made to split some of them between the dialect lib and the transform lib fox ONNX MLIR.

[2021-05-14 18:41] AlexandreEichenberger commented on #681
Yes, MLIR has migrated to a model where under a given Dialect, they have multiple folders. We could go to that model too.

[2021-05-14 20:22] AlexandreEichenberger opened #688 "Gemm inside a loop-if"
With the new Keras models translated to TF and then to ONNX, we have the following pattern:

[code]

Simplified to the extreme, I isolated this pattern that cause problem once we are in the krnl dialect:

[code]

A pattern that has only the "if" or only the "iterate" works just fine. But the one with both results in the following error when further lowering to affine.

[code]

For ref, here is the

[2021-05-14 20:26] AlexandreEichenberger commented on #688
smaller example (without init to zero and +c loop)
[code]

[2021-05-14 20:28] AlexandreEichenberger commented on #688
Smaller yet with the krnl.copy removed

[code]

[2021-05-14 20:35] sstamenova commented on #681
Each dialect in MLIR has multiple libraries associated with it (corresponding to each folder) but the libraries do not have circular dependencies. For example, for MLIRAffine, there's libMLIRAffine and libMLIRAffineTransforms with MLIRAffineTransforms strictly dependent on libMLIRAffine, so the definitions for ```getCanonicalizationPatterns``` are in libMLIRAffine.

[2021-05-15 01:55] AlexandreEichenberger commented on #681
@sstamenova yes, I am arriving at the same conclusion. If we are using DDR to generate basic optimization like canonicalization who are associated with the base dialect (where the ops are defined), then they need to be there too.

[2021-05-24 05:20] tungld opened #697 "krnl.block with unknown dims inside a loop"
I got issues when compiling this program pattern. It seemed it was the problem of getting a dim inside a loop, then passing the dim to krnl.iterate that is blocked.
[code]

Run with `--convert-krnl-to-affine`:

[code]

[2021-05-24 14:42] #697 closed

[2021-05-26 20:40] sstamenova commented on #681
@AlexandreEichenberger : Do you think you could make the necessary changes to remove the circular dependency?

[2021-05-27 20:36] chentong319 opened #708 "Handle multiple versions of onnx"
In onnx-mlir,  onnx operators are represented as operands in mlir dialect without version number attached.  For example, onnx operator `Add` is represented with class `ONNXAddOp`.   The actual version of each operator is controlled by dictionary `version_dict` in `utils/gen_onnx_mlir.py`, with entry like `"Add": 13` for onnx 1.8.1.   Such mechanism allows us to update operators in onnx-mlir gradua

[2021-06-02 14:35] AlexandreEichenberger commented on #644
implemented by #709 which uses LLVM native json reader

[2021-06-02 14:35] #644 closed

[2021-06-02 15:12] AlexandreEichenberger commented on #681
@sstamenova yes, let me do it now.

[2021-06-02 17:32] NathanielMcVicar opened #712 "MLIR removed EDSC helpers"
Per the discussions here https://llvm.discourse.group/t/evolving-builder-apis-based-on-lessons-learned-from-edsc/879 and more recently here https://llvm.discourse.group/t/rfc-dsl-style-dialect-specific-builders/1823 MLIR upstream has removed the EDSC builder helpers (see changes May 19th to May 21st here https://github.com/llvm/llvm-project/commits?author=nicolasvasilache). Normally the right way

[2021-06-02 19:23] #645 closed

[2021-06-02 19:24] AlexandreEichenberger commented on #617
@gongsu832 since we are now checking Debug and Release for Mac/Power/Z can we close this one?

[2021-06-02 19:25] AlexandreEichenberger commented on #555
@doru1004 any updates on this one?

[2021-06-03 09:48] gongsu832 commented on #617
Yes we can close this since the issue is now being tracked with https://github.com/onnx/onnx-mlir/pull/567

[2021-06-03 09:48] #617 closed

[2021-06-03 20:36] #681 closed

[2021-06-04 04:55] tungld commented on #242
There has been no errors with peepholes since then. Close this.

[2021-06-04 04:55] #242 closed

[2021-06-04 17:07] AlexandreEichenberger commented on #712
@NathanielMcVicar thanks for the info. From my read of  https://llvm.discourse.group/t/rfc-dsl-style-dialect-specific-builders/1823 ,  I have no strong position for most of the proposal, so  item 4. above is probably the best choice.

However, probably like linalg, we are generating a lot of loops and some branches. Before using lambda, the code was very much unreadable. I believe the new EDSC lik

[2021-06-04 19:03] AlexandreEichenberger commented on #708
@chentong319  If I understand well, the position that you are taking is that the ONNXxxxOps without number correspond to the latest set, and the ones with numbers correspond to older versions.

There are a couple of scenarios I can see of. Let's take the example of an op where a formerly compile-time attribute becomes a runtime input.

1. Case 1. If its easy to handle former compile-time parameter

[2021-06-04 19:33] NathanielMcVicar commented on #712
Thanks for taking a look! I'm not sure it's exactly what you're asking for, but is the example of fillVal from linalg op promotion helpful (https://github.com/llvm/llvm-project/commit/4519ca3d2e56fee3d9b83a8228db5d5605680d4a#diff-7515fba8de9c19178ad6a3af9aea55c80f69db87073739d0e5a7ae91b9e47538L262)? I couldn't find any with nested loops. I'm sure Nicolas would be happy to drop in and offer a much

[2021-06-04 19:43] gramalingam commented on #708
(Linking this to the prior discussion of this issue: https://github.com/onnx/onnx-mlir/issues/534 ).

I like the idea of supporting multiple versions of an op (like the two versions of ReduceSum).

My minor comment is: using a name without number for the latest set has a disadvantage that the meaning of this will kepp changing whenever onnx-mlir is updated to a new version of onnx. Giving a name a

[2021-06-07 01:07] tjingrant commented on #688
@AlexandreEichenberger there seems to be a really easy fix, if you just put all the unoptimized loops in a single paranthesis.
[code]

Let me look at this issue a bit more to get to the root of the problem.

[2021-06-09 16:24] sstamenova commented on #557
I think #718 addresses any remaining issues by incorporating HandleLLVMOptions. Can you have a look and see if anything else is missing?

[2021-06-09 16:37] chentong319 commented on #708
@gramalingam There are two reasons for not attaching the version number.

1.  Most of the operations in onnx are compatible in different versions. In onnx converter, most of the adaptors are CompatibleAdaptor. When no version number is attached to the operation in onnx dialect, nothing need to be done in interface for those compatible operations. It is a big save when onnx version is upgraded in o

[2021-06-10 02:57] Mookel commented on #192
Hi, all, I am just wondering is there any progress or update on this issue? 😀

[2021-06-11 16:49] sstamenova commented on #388
Recently the way the cmake files from mlir are imported into onnx-mlir was updated and the build on any platform llvm and onnx-mlir support should be green. Can you check if this is still an issue?

[2021-06-11 18:58] NathanielMcVicar commented on #712
I can go ahead with a PR to remove EDSC as per 4, but I think understanding these operations would let someone come up with cleaner solutions. If anyone is interested maybe we can discuss this in more detail offline?

[2021-06-14 15:23] caoimhinuibrian commented on #712
@alexe @doru1004 @chentong319 do we want to discuss? or are we cool with this?

[2021-06-14 17:47] AlexandreEichenberger commented on #712
@NathanielMcVicar would be great to have a discussion. The consensus here is that we would like to preserve the lambda for the iterate constructs, as it makes readability of the code much higher. Should we try to have Nicolas too?

[2021-06-14 17:53] NathanielMcVicar commented on #712
That sounds good! @nicolasvasilache do you have any suggestions, or would you be willing to discuss with us? Thanks!

[2021-06-14 19:25] NathanielMcVicar commented on #712
After speaking with Nicolas it sounds like there isn't going to be any more work on implicit builders or porting EDSC to an out-of-tree repo, so I think if ONNX MLIR wants to keep a structure similar to the current one something like solution 3 above would be required.

[2021-06-15 21:43] AlexandreEichenberger commented on #712
I started looking at all of the EDSC's patches by @nicolasvasilache, it looks like there are builders that are structured for the SCF IfOp / ForOp in the EDSC-free MLIR. So we should be able to use the same scheme, with a bit of work.

@NathanielMcVicar I wonder how could we migrate the code more smoothly than by yanking to the latest MLIR and getting 1000s of compile errors. Would be great to do

[2021-06-15 23:53] NathanielMcVicar commented on #712
My understanding is that there are other structured builders but EDSC provided an implicit builder, which isn't otherwise available, so we would have to manually pass a builder throughout the hierarchy, which ONNX MLIR doesn't currently do.

My thought as to how to do the transition smoothly would be to remove EDSC first and migrate the LLVM hash once that's complete. The downside to this approach

[2021-06-16 14:10] AlexandreEichenberger commented on #712
@NathanielMcVicar I will start migrating the structured builders (currently not attached to a class) to their original operation's builders. That will be a good start. Hopefully I can migrate most of the code that way.

[2021-06-16 15:41] sstamenova commented on #247
#722 addresses the last issue left here. That's not to say all is well on Windows after, but all the bugs listed here will have been fixed.

[2021-06-19 12:42] srplsnh opened #729 "using onnx-mlir docker"
Running onnx-mlir using the docker fails with this message,
$ sudo docker run  onnxmlirczar/onnx-mlir --EmitMLIR  ./onnx-mlir/build/test/unit/Runtime/DocExampleTest/add.onnx
onnx-mlir: /workdir/onnx-mlir/src/Builder/FrontendDialectTransformer.cpp:1205: void onnx_mlir::ImportFrontendModelFile(std::string, mlir::MLIRContext&, mlir::OwningModuleRef&, onnx_mlir::ImportOptions): Assertion `parse_succes

[2021-06-20 03:56] xinjin95 opened #730 "llvm-project/build/bin/opt doesn't exist"
Hi onnx-mlir team and friends,

I got the following errors while building MLIR:
[code]
I ignored this error and continued. Then I got another error while building ONNX-MLIR:
[code]
It looks that I didn't get the opt executable during installing LLVM-MLIR. I'm not sure whether it's related to the first error. Then I tried to get an opt executable by:
[code]
In the following, I re-built onnx-mlir. T

[2021-06-21 05:34] gongsu832 commented on #729
onnx-mlir running inside the docker container has no access to the host file `./onnx-mlir/build/test/unit/Runtime/DocExampleTest/add.onnx` (the whole point of a container). You need to mount the host directory containing your .onnx file into the container, e.g.,
[code]

[2021-06-21 05:38] gongsu832 commented on #730
What did you do before `cmake --build . --target -- ${MAKEFLAGS}`? Did you follow the README on building MLIR? The first error you ignored is the cause of the other errors.

[2021-06-21 08:05] ANSHUMAN87 opened #732 "Compile error in KrnlOps.td"
Please find below cmake config output:

![image](https://user-images.githubusercontent.com/32511895/122727807-13dad280-d295-11eb-90bc-6c55cda7e1cc.png)

I have followed all the steps mentioned at https://github.com/onnx/onnx-mlir#installation-on-unix

However while compiling i am getting below error:
![image](https://user-images.githubusercontent.com/32511895/122728031-54d2e700-d295-11eb-83df-35aa

[2021-06-21 14:03] xinjin95 commented on #730
Yes, I think I followed the previous steps.
[code]

[2021-06-21 16:27] gongsu832 commented on #730
Then try `cmake --build . -- ${MAKEFLAGS}` without the `--target`

[2021-06-22 01:27] chentong319 opened #733 "Asserting error for model yolo"
Error message is:
[code]
This is called from ConstPropHelper.cpp:143. I dumped the resType is <f32> and the sizeInBytes is 4.
@tungld I think you are familiar with the constant from raw buffer. Could you take a look?
Currently, I commented out the assert in AttributeDetail.h:115 and the model is parsed. I think this assert is not correct.

[2021-06-22 01:33] tungld commented on #733
@chentong319 I seemed it confused DenseElementsAttr of 1 element with a splat DenseElementsAttr. Will take this in detail.

[2021-06-22 01:47] tungld commented on #733
@chentong319 where can we get the yolo model? Thanks!

[2021-06-22 02:50] xinjin95 commented on #730
Project building succeeded. Thanks for your help!

[2021-06-22 02:50] #730 closed

[2021-06-22 17:33] chentong319 commented on #733
@tungld I put it in box https://ibm.box.com/s/nlcpg0542m1hsygwfr3ntvw41fuawr4z.

[2021-06-23 01:18] gongsu832 commented on #732
Things to check,

- Did you update onnx after building llvm-project? If yes you may want to rebuild llvm-project.
- Did you try to clean out onnx-mlir/build completely and do a build from scratch? cmake caches in the build directory often causes problems.

[2021-06-23 06:23] tungld commented on #733
@chentong319 This error was caused by scalar tensors during constant propagation, e.g. `tensor<f32>`.  I created a PR to fix it.

[2021-06-23 14:10] #733 closed

[2021-06-25 06:03] ANSHUMAN87 commented on #732
Thanks @gongsu832 for your response!
The issue is resolved now, the root cause was the version mismatch between llvm and onnx-mlir.

[2021-06-25 06:03] #732 closed

[2021-06-26 04:46] srplsnh commented on #729
Got it. Thanks !

[2021-06-26 04:46] #729 closed

[2021-06-29 21:36] caoimhinuibrian opened #747 "Remove CircleCI status from README & replace with Jenkins x86 Linux build status"

[2021-06-30 00:47] gongsu832 commented on #747
@caoimhinuibrian This is fixed in PR https://github.com/onnx/onnx-mlir/pull/734

Note it's failing the DCO due to:
Commit sha: 6b2a512, Author: chentong319, Committer: GitHub; Can not find "chentong319 chentong@us.ibm.com", in ["Tong Chen chentong@us.ibm.com", "Tong Chen chentong@us.ibm.com"].

[2021-06-30 15:13] caoimhinuibrian commented on #747
@gongsu832 Cool, I approved #734 but it has conflicts

[2021-06-30 16:04] AlexandreEichenberger opened #752 "Migrating default branch from master to main"
LLVM made the move to main being the default branch, we should probably do it too for ONNX-MLIR

[2021-06-30 17:34] chentong319 opened #753 "Performance issue for yolo model with unknown size"
The argument tensor of yolo model is of shape tensor<?x?x?x3xf32> (called dynamic version here). If we change the shape of the argument with the shape of the input tensor used for inference, tensor<1x416x416x3xf32>, the performance (called static version) is much better (more than x100).
I did so investigation into this issue.
First, I added instrumentation for the popular op in yolo model: Conv a

[2021-06-30 18:56] AlexandreEichenberger commented on #753
Just to be clear, the slowdown above are the current implementation with Dynamic vs Static vector shape, right?

From having looked at assembly, even the simplest loop:
[code]
If unrolled by the backend, there is literally no scheduling of the reads (b and c) past any write (a) because memory disambiguation is quite broken once we are out of MLIR. For this particular example, the only way to move

[2021-07-01 01:49] tungld commented on #753
Hi Tong,

For unknown dims, Mul needs more operations to check broadcasting.

You can get it as follows, from the output of `EmitLLVMIR`:
[code]

But you cannot read `test.bc` since it is not a human-readable file. To get a human-readable output from the bitcode, use `llvm-dis test.bc -o test.dis`

`mlir-translate`, `llvm-as` and `llvm-dis` are tools in LLVM (in the same folder as FileCheck).

[2021-07-01 09:37] gongsu832 commented on #747
@caoimhinuibrian conflicts are fixed and ready to merge.

[2021-07-01 19:55] chentong319 commented on #753
@tungld  Thanks. I used `--preserveBitcode` flag  and `llv-dis` to get the `.ll` code.
My previous concern about the load for get dim for dynamic version is not an issue. llvm moved that load out of loop.
The check of broadcast is there for the dynamic. But the part for load and multiplication is the same in both dynamic and static version. For this model, if mlir provide support for symbolic dim

[2021-07-01 20:17] chentong319 commented on #753
One concern for dynamic tensor is that their space can not be reused. If we bundle them, the total space might be huge.
When a memref is generated, memref.alloc is inserted. However, the dealloc is not added, unless the output is not used. In general, the dealloc of `memref` should be added at the end of of its live range, which can not be done locally with one op. Currently, we only have one free

[2021-07-01 20:30] AlexandreEichenberger commented on #753
@tungld Interesting: that is if we have the ranks, we still need to test if the dim is != 1 as this would still force broadcasting, isn't it?
This speak in favor of a N>1 dynamic number, as, for example, a model would typically know that the "sizes" of an image would be runtime but would not invoke "broadcasting" of pixels among there runtime image size, if you see what I mean...

[2021-07-01 22:01] tungld commented on #753
Right.

I see. we can make the handling fo broadcasting a bit smarter here.

@chentong319 if you want to quickly test this to see any performance change, you can use a MLIR pass, [buffer-deallocation](https://mlir.llvm.org/docs/Passes/#-buffer-deallocation-adds-all-required-dealloc-operations-for-all-allocations-in-the-input-program). It automatically inserts `dealloc` just at the end of the live

[2021-07-02 11:36] AlexandreEichenberger commented on #753
@tungld thanks for the suggestion, let try existing code first before modifying our own.

[2021-07-02 20:13] chentong319 commented on #753
@tungld Excellent suggestion. I did the experiment in the following steps:
[code]
The result is

- No change in execution time
- deallocs are added in middle of the code
- memory usage in runtime is much lower than directly compiled with onnx-mlir

The slowdown came from other factor. I will check the impact if code is generated with no broadcast assumption.

[2021-07-02 22:16] AlexandreEichenberger commented on #753
@chentong319 great, looking forward to hear what we get now. This option can be run in all cases, after bundling terminates, in case there are un-bundled malloc/free

[2021-07-04 18:55] chentong319 commented on #753
Some correction on the result using mlir buffer-deallocation pass.  Even though there is no  significant change in overall execution time, there is notable change in execution time for onnx.Mul op. I list the comparison of execution time for the first 22 Mul operations. The baseline the dynamic version compiled with onnx-mlir.

onnx.mul | vs. use dealloc | vs. static
-- | -- | --
1 | 1.118986 | 1.

[2021-07-05 06:19] tungld commented on #753
Inspired by this issue, I created a PR #758 to allow us passing static shapes to a dynamic model to avoid performance overhead. It may be  used to test static/dynamic models.

[2021-07-06 15:32] chentong319 commented on #753
I further investigated the impact of broadcast and found that the code for possible broadcasting is NOT the major source of slowdown. Execution time for onnx.Mul is reduce only about 15% on average.
With dynamic shape, whether broadcasting occurs or not can not be determined at compile time. onnx-mlir generates code with selection operations. However, there is no broadcast occur in this model. We

[2021-07-07 15:02] #747 closed

[2021-07-08 15:12] chentong319 commented on #753
I checked the binary with `objdump`.  Similar to the .ll file, the innermost loop body is the same while the loop structure is slightly different. I cannot figure out why the performance can differ by 4x. I used this [link](https://en.wikibooks.org/wiki/360_Assembly/360_Instructions) for assembly reference.
The binary for the third onnx.Mul is list here. The offset of `main_graph` is `6eb0`. I ann

[2021-07-09 11:37] tungld commented on #753
Tong, I checked with ResNet50 and saw the same issue for dynamic dimensions, but found a good news.
- batch size and channel are unknown `onnx-mlir resnet50.onnx --shapeInformation='0:=-1,-1,224,224'` => worked well
- `onnx-mlir resnet50.onnx --shapeInformation='0:1,3,-1,224'` only the image height unknown => same issue as Yolo
- `onnx-mlir resnet50.onnx --shapeInformation='0:1,3,224,-1'` only the

[2021-07-09 16:34] chentong319 commented on #753
I think I found at least one issue: the shape inference for Conv is wrong when the shape is not static.
First, code for [insert allocate](https://github.com/onnx/onnx-mlir/blob/fdd7e58ed144d9c33ca876f8d45b7963f2b210e2/src/Conversion/ONNXToKrnl/NN/Conv.cpp#L85) for Conv is wrong: When the shape is not constant, the input shape is always copied.  We need to use IndexExpr to calculate the output shap

[2021-07-12 05:45] tungld commented on #753
@chentong319 @AlexandreEichenberger I used IndexExpr to infer shape for Conv. PR #764 is ready to review now.

I tested with Yolo. Inference in case of dynamic dims took 79 seconds on my local machine. Memory consumption was about 1.7 GB. We still need a better buffer management for dynamic tensors in the future.

[2021-07-12 16:25] AlexandreEichenberger opened #766 "JNI conversion to long * from int64_t *"
I know it works on most platforms, but maybe we should be more precise.

[code]

and a similar issue here:

[code]

[2021-07-12 21:14] AlexandreEichenberger opened #770 "Unroll and Jam inside KrnlToAffine"
I created a custom branch to evaluate what is happening in the unroll and jam. #769

The original onnx program
[code]

can be lowered to affine with
[code]

and when the `#define UNROLL_IT 1` is set to 1, I get the crash below.
[code]

I added code to dump the function before returning success from the lower matmul pattern. The code is below. I just commented out the matmul operation that was repl

[2021-07-13 00:20] NathanielMcVicar commented on #712
@AlexandreEichenberger can we close this? I believe you have fully removed them. I also wanted to really thank you for being so responsive on EDSC and also doing the LLVM commit update while you were at it 💯

[2021-07-13 00:23] NathanielMcVicar commented on #534
I'm going to close this, since 1.8 specifically is no longer relevant, and future discussion of supporting multiple opsets can continue in #708.

[2021-07-13 00:23] #534 closed

[2021-07-13 00:27] NathanielMcVicar commented on #247
Thanks so much Stella for resolving the rest of these! Future Windows problems can be new issues.

[2021-07-13 00:27] #247 closed

[2021-07-13 00:29] NathanielMcVicar commented on #669
Just to close the loop on this, we have gone with forcing parallel test count using the environment for our own CI. It would be nice to have a consistent approach across the project, but given all the different CI systems that need support, it may not be practical as discussed here.

[2021-07-13 00:55] tungld commented on #770
It seems that you are using unrollAndJam in MLIR which does know about krnl.load and krnl.store. So during the lowering where krnl.load and krnl.store have not lowered to affine.load and affine.store, they become illegal to unrollAndJam. This likely depends on the order of evaluation.

[2021-07-13 00:59] AlexandreEichenberger commented on #770
@tungld , we found a way to make it work... will push the solution soon

[2021-07-13 14:27] AlexandreEichenberger commented on #712
implemented, thanks to all for their constructive feedback, it really help

[2021-07-13 14:27] #712 closed

[2021-07-13 14:33] AlexandreEichenberger commented on #753
@tungld so you verified the output in the dyn case?

[2021-07-13 16:02] #770 closed

[2021-07-14 00:28] tungld commented on #753
I only measured the inference time and memory consumption in the dynamic case, but did not verify the output result since I didn't have the reference output for the model.

[2021-07-14 00:37] chentong319 commented on #753
@tungld Where should I put the expect output? Is your script good enough to be put into git repository?
I ran yolo with the current master branch and got the same execution time as the static version.

[2021-07-14 00:52] tungld commented on #753
@chentong319 how about the same folder you put the yolo model?

It's a small python script. I will polish it a bit then put it into the git repos.

[2021-07-14 04:37] victorygogogo opened #773 "onnx-mlir EmitLib cannot find -lcruntime"
:~/project_code/onnx-mlir$ ./onnx-mlir add.onnx --EmitLib -o libadd
/project_code/llvm-project-for-onnx/build/bin/opt: opt -O3 -o libadd.bc libadd.unoptimized.bc
/project_code/llvm-project-for-onnx/build/bin/llc: llc -filetype=obj -relocation-model=pic -o libadd.o libadd.bc
/usr/bin/c++: c++ libadd.o -o libadd.so -shared -fPIC -L/usr/local/lib -lcruntime
/usr/bin/ld: cannot find -lcruntime
collect

[2021-07-14 05:46] victorygogogo commented on #773
I solved this problem,  so close it.

[2021-07-14 05:46] #773 closed

[2021-07-14 14:35] AlexandreEichenberger opened #774 "Fail to build on window (sys/time.h missing file)"
@chentong319 I have not followed closely the additions to the instrumentations, but it is possible that the Window failure that I saw in one of my PRs is due to a change of yours. Its probably a very small change/

@NathanielMcVicar @sstamenova Maybe you would know what the equivalent of "sys/time.h" is on Window? Tx

Thanks for looking into it.

[code]

[2021-07-14 15:10] AlexandreEichenberger commented on #774
I see that there are implementation of gettimeofday out there for window.

https://stackoverflow.com/questions/10905892/equivalent-of-gettimeday-for-windows

[2021-07-14 15:42] sstamenova commented on #774
@chentong319  @AlexandreEichenberger: It looks like https://github.com/onnx/onnx-mlir/pull/750 is the change that introduced the failure in the Windows CI. Did the Windows CI not fail for the change itself? It really should have, so that the failure shouldn't have been checked in. If it didn't, we should figure out why.

Regardless, this is a good summary of the various options for time functional

[2021-07-14 15:54] chentong319 commented on #774
@sstamenova It is #750. The reason is some os-related utility, such as `gettimeofday` and `system()` and `ps`, are used to get runtime info when the model is executed. It is not the essential part to compile or run a model, and is a prototype. I am thinking to put a `#if` for windows system to provide just an empty function and add the right function later when the code becomes stable. At least, o

[2021-07-14 16:33] sstamenova commented on #774
That would work. Please add me to the PR, so I can have a look.

[2021-07-14 17:44] caoimhinuibrian commented on #774
@chentong319 @sstamenova Please go ahead with this fix. I've made the Windows CI required going forward

[2021-07-14 19:03] AlexandreEichenberger opened #776 "Long build time for Windows CI"
I think adding the WindowCI as mandatory is a good move but at this time:
1) the build takes 2:20 hours to build (last one that passed)
2) we don't have a way to test it (IBM team has access to Mac/Linux x86 but not Windows). Would it be possible to make a virtual machine available to our team for us to develop when there are errors specific to Windows.

My personal preference would be to make the

[2021-07-14 19:06] caoimhinuibrian commented on #776
@NathanielMcVicar @sstamenova please chime in here

[2021-07-14 19:13] caoimhinuibrian commented on #776
While I understand the concern about latency here, I also feel that the purpose of the CI testing is to prevent broken code getting into the repo, so really all tests that we feel are useful should be mandatory.

[2021-07-14 19:20] AlexandreEichenberger commented on #776
It currently take 5x more time for the Window CI to complete as our other CIs.

[2021-07-14 19:21] NathanielMcVicar commented on #776
The build runs on a free Microsoft hosted Windows VM pipeline. These are available to everyone, so shouldn't be a problem for IBM folks to access, but are very small (currently 2 Xeon E5-2673 vCPUs and 7 GB RAM), hence the long build times. More information is available here: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#faq. I think if we wanted

[2021-07-14 19:24] sstamenova commented on #776
Considering that most PRs currently take on the order of days to get approved and committed, I think a 2-hour build is not much of a detriment to the process, while it will guarantee that there are no breaks that accidentally get checked in. I would like to see the Windows CI become required regardless of how long the builds take and then we can look at improving the build time.

I can spend some

[2021-07-14 19:35] caoimhinuibrian commented on #776
Yes, I agree that a couple of hours does not seem to be a huge impediment

[2021-07-14 19:38] caoimhinuibrian commented on #776
Does the Windows build cache the llvm part currently?

[2021-07-14 19:40] sstamenova commented on #776
It does not, that's one of the improvements, but it would require a new pipeline to build just llvm because the free hosted agents are stateless.

[2021-07-14 19:42] NathanielMcVicar commented on #776
I think this is a significant difference, the macOS and Windows GitHub CI builds don't and the macOS one also takes over an hour. The fast Jenkins CI builds use docker and have LLVM cached. I don't see any reason why the Windows build can't use a similar Docker Hub cache (in which case the stateless MS hosted Windows VMs wouldn't be an issue).

[2021-07-14 20:00] AlexandreEichenberger commented on #776
Except that a PR is often built 5-10 times before its squashed, so lower times are clearly appreciated.
Also, smaller PR should be encouraged as they are easier to review, and this is building a disincentive to smaller PRs.

That would be great indeed. LLVM is very large, so it takes a large amount of time to build.

Could we ask you to add some instructions here on how to pull a docker image and

[2021-07-15 02:20] tungld opened #778 "Wrong generated code in zLinux if passing int32 parameters to external function calls at the LLVM level."
Note: This error does not happen with the current master branch of onnx-mlir which is currently passing int64 instead of int32 parameters to external functional calls.

This issue seems to be a limitation in MLIR where integers are signless and there is no way so far to annotate their signness so that lower-level tools like opt/llc can use to correctly generate assembly code.

Detail discussion ab

[2021-07-15 17:42] NathanielMcVicar commented on #776
I've never used a Windows container in Docker before, but I'm sure I can figure it out. :)

[2021-07-16 02:05] tungld commented on #753
Compiling with `--mtriple=s390x-ibm-linux --mcpu=z14` helps reduce the inference time from 80s to 54s.

[2021-07-16 08:33] #19 closed

[2021-07-16 08:34] tungld commented on #196
All ops are available.

[2021-07-16 08:34] #196 closed

[2021-07-16 14:58] chentong319 commented on #753
@tungld Cool! Do we know what kind optimization is enabled by these flags? simdization?

[2021-07-16 17:19] AlexandreEichenberger commented on #753
![image](https://user-images.githubusercontent.com/7581397/125985231-0971a917-d2be-48eb-b3fa-b00a1f9f2454.png)

Its worst than no simd and no unrolling, for code that is simonized and unrolled.

[2021-07-16 17:21] AlexandreEichenberger commented on #753
Its worst than no simd and no unrolling. It results in performance that is akin no optimizations, see GEMM example below

![image](https://user-images.githubusercontent.com/7581397/125985435-3d58a97e-c792-4ddc-a6f0-97225d2b4676.png)

[2021-07-19 16:53] NathanielMcVicar opened #781 "Individual lit tests can only be run pointing to the build directory, not source directory as in LLVM"
This is true both for individual test files and directories. Trying to point to the source version of the test, which works in LLVM, produces the following error:
`llvm-lit: /llvm-project/llvm/utils/lit/lit/TestingConfig.py:XXX: fatal: unable to parse config file '/onnx-mlir/test/mlir/lit.cfg.py', traceback: Traceback (most recent call last):
  File "/llvm-project/llvm/utils/lit/lit/TestingConfig.

[2021-07-20 15:16] AlexandreEichenberger commented on #778
I have long advocating only using 64 bit integers. There are no reasons to limit ourselves to 32 bits, and that way this entire problem is avoided. I would change all int parameters in the RT to 64 bit and be done with it. The sooner the better.

[2021-07-20 15:16] #774 closed

[2021-07-20 15:17] AlexandreEichenberger commented on #766
Implemented with #771

[2021-07-20 15:17] #766 closed

[2021-07-20 15:24] AlexandreEichenberger opened #783 "Adding "gettimeofday" like timing for Windows"
We have added functionality to measure time in two places, and it would be great to have this functionality for Windows as well.

It is needed in OMInstrument.inc and RunONNXLib.cpp Currently # defined out for Windows, as requested in prior PRs.

There are example code already in the third_party libraries, found by just searching gettimeofday. Or paste in your preferred solution.

@NathanielMcVica

[2021-07-20 15:38] gongsu832 commented on #778
I still maintain the position that the type of the variables should be determined by the semantic of the variables, not because using a particular type can seemingly get around some problem that should have been fixed. We can use 64 bit integers in place of all 32 bit integers, but what about short, char, and boolean type parameters? We can't replace them all with int64_t. The fundamental problem

[2021-07-20 19:26] sstamenova opened #785 "-mtriple, TARGET_TRIPLE & LLVM_HOST_TRIPLE"
llvm keeps track of a couple of triples in cmake for each compilation: `TARGET_TRIPLE` (which is set by using `LLVM_DEFAULT_TARGET_TRIPLE`, for example) & `LLVM_HOST_TRIPLE` (which is set by the llvm cmake based on the host). When TARGET_TRIPLE exists, several of the tools such as `llc` will default to using that triple when invoked and that can be overwritten by passing `-mtriple` to the tool. Si

[2021-07-20 21:10] caoimhinuibrian commented on #778
@gongsu832 @AlexandreEichenberger I agree with Alex. Any scalar quantity that is used as an integer should be the largest available size. This is the philosophy we used in our compilers for the last 30 to 40 years. I agree that if someone uses the shorter types, MLIR should be fixed to handle the correct extension, but that is an orthogonal concern in my opinion.

[2021-07-21 00:57] gongsu832 commented on #778
@caoimhinuibrian So I'm curious about the rationale behind this philosophy. As a systems person, this is rather counter intuitive to me. The largest available size obviously depends on the platform, some int32, some int64, and some int128. Does this philosophy apply to floating point as well?

[2021-07-21 14:07] AlexandreEichenberger commented on #785
Currently, when using cmake backend, it eventually goes to test.py which uses a TEST_MTRIPLE and TEST_MCPU to use a default triple. I like your suggestion for 2) better than the current solution that works only for the backend test.

I don't have a preference for 1 vs 2 above. My only suggestion is not to use the `LLVM_HOST_TRIPLE` name because that would imply it also work for clang,... I would s

[2021-07-21 14:09] AlexandreEichenberger commented on #753
@chentong319 maybe just post the latest time with static vs dynamic, and if it is satisfactory, let's close this one.
Working on making conv go faster, this is a separate issue.

[2021-07-21 16:56] caoimhinuibrian commented on #778
@gongsu832 integers are represented by bit patterns that follow 2's complement arithmetic, so other than where they wrap (modulo), the answers are the same for different sizes. Floating point is completely different. Operating on shorter integers is often more expensive (masking operations etc) so from a compiler perspective it's usually best to just go with whatever the register size is on the ma

[2021-07-21 17:15] sstamenova commented on #785
The change is actually fairly simple and I have it working locally, so I can send it for review. If you like 2) better than 1), I'll send it out soonish.

[2021-07-21 21:24] xinjin95 opened #790 "Add ONNX dialect into a standalone project"
Hi onnx-mlir team and friends,

I am working on a dialect translation project. I'd like to add [onnx dialect](https://github.com/onnx/onnx-mlir/tree/master/src/Dialect/ONNX) into my project. How could I write my cmake file? For mlir and llvm, we can add them into a standalone project by `find_package`. Is there a similar way for onnx dialect adding?

Thanks!

[2021-07-21 21:28] AlexandreEichenberger commented on #785
Send what you have for review

[2021-07-22 00:44] gongsu832 commented on #778
@caoimhinuibrian Thanks for the clarification. If I understand you correctly, this "using int64 for all integers" (assuming 64 bit registers) applies to just the "internal" lowering passes, correct? i.e., code written in high level languages can obviously use whatever data types there are like char, short, int, etc. But the compiler internally could represent all of them with int64 in various pass

[2021-07-22 15:36] AlexandreEichenberger commented on #790
@gongsu832 Can you respond? Think you probably have the best view of this. Tx

[2021-07-22 18:02] sstamenova commented on #669
Actually, how about this - what it we added a cmake option to set the parallelism of the tests but had it default to 1? Then for anyone who is not expecting it, the behavior would not change, but for someone who wanted to add parallelism to all of the tests, they could specify it.

[2021-07-22 22:44] caoimhinuibrian commented on #790
@sstamenova has been most active with cmake recently, maybe she can answer? I have a feeling we haven't added support for this yet.

[2021-07-22 22:53] sstamenova commented on #790
There is no support for `find_package` for the onnx dialect (or the krnl dialect, or anything else) at the moment. I think the easiest solution right now would be to use the build directory of onnx-mlir as a starting point for finding the correct headers and libraries and manually setting up the properties that `find_package` would set up if it was supported.

[2021-07-23 03:15] chentong319 opened #794 "Bug with the Unsqueezed Code"
@tungld With the new PR, I got the following error when compiling yolo model.
[code]

[2021-07-23 03:51] gongsu832 commented on #669
I'm not sure why you need a cmake option for it. `make test` already behaves that way. It defaults to serial tests. If you want parallel tests, you just do `make ARGS=-j$(nproc) test`.

[2021-07-23 04:52] NathanielMcVicar commented on #794
We have an unsqueeze update locally, but it breaks some older models (like those used in the backend tests) because there is a semantic change with opset 13 unsqueeze. I think the resolution to this is dependent on #708.

[2021-07-23 04:55] NathanielMcVicar commented on #669
I think we are recovering ground from above now, but this solution doesn't work with ninja (https://github.com/ninja-build/ninja/issues/1387)

[2021-07-23 05:26] tungld commented on #794
Fix this with PR #795.

[2021-07-23 05:57] gongsu832 commented on #669
So I'm not sure what we are trying to achieve here. Making parallel tests work for ninja? Isn't it a ninja problem? I don't want to start a make vs ninja war. People use whatever tool they prefer. I just don't see how this is onnx-mlir's business.

[2021-07-23 14:56] sstamenova commented on #669
The goal is to have a consistent way of building and running tests that works cross-platform and cross-tool. llvm has mostly achieved this using lit to run the tests and with clever cmake defaults, so we would like to have the same experience with onnx-mlir as well.

Coming back to the tests specifically, `ninja`, `make` and `Visual Studio` ALL behave differently when you try to invoke a target an

[2021-07-23 15:17] chentong319 commented on #794
@NathanielMcVicar I have PR#691 for these ops. But that implementation has some limitations: it does not handle axes coming from non-constant tensor. Also  #779 can avoid copy? I am not sure whether it is doable for the new version. At least, we should follow that direction. How is your local fix regarding to the two issues?
Support for multiple version is already in (PR#700). If your local fix is

[2021-07-23 15:18] xinjin95 commented on #790
Hi @sstamenova, thank you so much for your kind information.

`find_package` will try to find the Module or Config `.cmake` files. In llvm and mlir, `find_package` can find the Config `.cmake` file under the `llvm-project/build/lib/cmake/` directory. But I was not able to find the corresponding find in onnx-mlir's build directory.

If I want to include `src/Dialect/ONNX` into my project, which hea

[2021-07-23 16:41] gongsu832 commented on #669
In an ideal world, everybody would be just using `ARGS=-j$(nproc) cmake --build . --target test` and be done with it. The problem is that everybody thinks they can write a better build tool so we end up with 100s of them doing pretty much the same thing.

[2021-07-23 16:54] sstamenova commented on #669
Except `ARGS=-j$(nproc) cmake --build . --target test` does not work for `ninja` or `Visual Studio` only for `make`. And even if it did work for `ninja` or `Visual Studio`, it still wouldn't work on Windows because it's not valid syntax for the Windows command line. This is a very `make`-oriented approach while the most common way to build llvm is `ninja` (look at all the buildbots, for example),

[2021-07-23 17:18] #794 closed

[2021-07-23 17:20] sstamenova commented on #790
Since onnx-mlir does not have an export/config `.cmake` file, you have two options:

1) Add one and send a pull request for it
2) Add the necessary setup in your project

2) is less good long-term and it might have issues, because I am not sure if all the correct headers get installed or binplaced, but it won't touch onnx-mlir. You could do something like this:

* Add a cmake variable to your proj

[2021-07-23 17:55] gongsu832 commented on #669
Of course it does not work for ninja, that's the whole point. On a specific system, if make works perfectly fine, why would I mess with ninja? If it doesn't work on another system (e.g., windows), that's a separate issue (I know the command doesn't work on windows. It's meant to be an illustration, not meant to be taken literally).

Sorry I'm not sure where you get the idea that make is falling ou

[2021-07-23 18:28] NathanielMcVicar commented on #794
@chentong319 Does #795 resolve all of your questions above about opset 13 unsqueeze, or is it still worth considering the approach you mention with multipe versions?

[2021-07-23 20:40] AlexandreEichenberger opened #796 "Asserting s390x-ibm-linux cause a bug for test_scan9_sum_cpu"
When asserting `s390x-ibm-linux` in the backend test, we get an error for test_scan9_sum_cpu

To reproduce in the current master branch:
[code]

I checked that the the option does not change the mlir files until llvm phase
[code]

@chentong319 @tungld didn't we have issues with the scan tests before already? I recalled that there were disabled for a bit.

Mind poking around to see what it is.

[2021-07-23 21:24] sstamenova opened #797 "mtriple, mcpu and march"
onnx-mlir right now provides `mtriple` and `mcpu` as options to both the onnx-mlir executable as well as the backend tests, however, it does not provide `march`. For tools such as `opt` or `clang` generally `mtriple` defines both `march` and `mcpu`, but for more granular control (if `mtriple` is not desirable), both `mcpu` and `march` exist as options.

Something to consider is whether `mcpu` is n

[2021-07-25 19:58] chentong319 commented on #794
@NathanielMcVicar #795 does not handle the upset 13. It use a new approach for lowering: cast the memref to different shape.

[2021-07-26 02:06] tungld commented on #796
I saw this issue before, but did not catch it. Somehow the test passed.

[2021-07-26 12:15] gongsu832 opened #799 "Add JNI tests"
Creating this issue to track the discussions about adding JNI tests.

From last meeting, the main issue appears to be whether JNI should use its own set of tests (option #1) or we can extend some of the existing C/C++ tests to also perform JNI tests (option #2). Both have pros and cons.

The pros of option #1 is that I already started porting some of the model level tests from DLC Classic so we sa

[2021-07-26 14:01] AlexandreEichenberger opened #800 "CONV and Average Pool with dynamic shape"
I added an assert in the code because I believe the current code does not handle dynamic input size properly. Can someone confirm that it is the case?

To me, the `inputSize` below can be negative. When it is, we should really compute the size at runtime, by
1. for shape inference: say its * (runtime)
2. for onnx-to-krnl lowering: get dim and use the value in computations

Is that correct? Or am I

[2021-07-26 14:07] AlexandreEichenberger commented on #800
I see that it appears to perform the above computation, but not use the results...

[2021-07-26 14:49] AlexandreEichenberger commented on #800
Ok, after more experimentation, I see that we have indeed a problem. When the pad shape is "SAME_LOWER" or upper, we erroneously compute it at compile time:

Input file:
[code]

command
[code]

and result (sizes wrongly set to 1 for the pad, when we have no ways to know them at compile time...

[code]

[2021-07-28 02:20] #800 closed

[2021-07-28 16:48] AlexandreEichenberger opened #803 "Convolution with strides and dilation"
Original code for convolution in TestConv, renaming pHBegin to ph as the phEnd are not taken into consideration here. Also, all the input dimensions are labeled with "i" for Input and "o" for Output. Capital letters are for bounds, small caps are for variables.

[code]

Now, my understanding is that:
* For stride, instead of going through all the "h" of the input image, we go by "sh*h" where sh is

[2021-07-29 00:45] tungld commented on #803
@AlexandreEichenberger you are right, the code for Conv in TestConv is obsolete. The implementation (lowering) of Conv is up-to-date and looks similar to your Jupiter notebook where kh and kw are computed on-the-fly: https://github.com/onnx/onnx-mlir/blob/master/src/Conversion/ONNXToKrnl/NN/Conv.cpp#L64

[2021-07-29 13:23] YesserLab opened #806 "Shape inference of Resize"
Hello everyone,
I was wondering if there are plans to implement shape inference of the Resize op any time soon.
I read through the [Sharing Work](https://github.com/onnx/onnx-mlir/blob/master/SharingWork.md) file, tried to do it myself, but sadly I was a bit lost in the table gen syntax. I realize that ONNX implements shape inference for Resize, so would that mean it's just a binding issue ?

This

[2021-07-29 17:44] AlexandreEichenberger commented on #806
To my understanding, Resize Op shape inference is implemented for some modes. Which one are you missing?

[2021-07-30 04:59] tungld opened #808 "README.md is not displayed after the PR #786"
The content of README.md is not displayed after PR #786.  It seemed that PR #786 modified the file mode of README.md.

[2021-07-30 09:17] YesserLab commented on #806
Hi Alexandre, thanks for the quick reply

We are using the mode "nearest". Which causes this error.
In general we use bilinear and nearest.

[2021-07-30 10:10] MATRIXKOO opened #809 "ADD LSP for mlir?"
When I play with MLIR, I found this [MLIR_LSP](https://mlir.llvm.org/docs/Tools/MLIRLSP/)
And I custom the language server.
I use it to check the .mlir results. Maybe I can add this to your repo? If the answer is yes, I will raise a PR.

[2021-07-30 13:44] AlexandreEichenberger commented on #808
Saw that, #810 fixes it without a softlink that seems to be erased by folks working on Windows.

[2021-07-30 13:53] AlexandreEichenberger commented on #809
In general, we update MLIR in ONNX-MLIR from time to time. Last time we did it is with #761 . Are you suggesting that we update it again? If so, you are welcome to do it.

If this requires a different solution, again we are open to adding MLIR tools. It has to pass our CIs and be generally as non-disruptive as possible.

[2021-07-30 14:04] AlexandreEichenberger commented on #806
We don't seem to support these mode at this time
[code]

The fastest would be for you to fork the GitHub dir and add support for it. You should be able to look at what we currently do for the supported modes and adapt a variant that does what you need for the nearest. Grepping ONNXResizeOp should show you the specific places where you will need to do some of the changes.

[2021-07-30 14:25] MATRIXKOO commented on #809
Actually, I forked the office mlir language server. Because the Vscode Extension isn't impl whole feature. It's dialect-customed In that case, you can do
![](
![image](https://user-images.githubusercontent.com/42641719/127667140-d6c084ee-30d4-49cb-9751-1f5b7ed26d94.png)
)
In vscode, I'd like to merge this with your project.

[2021-07-30 14:59] AlexandreEichenberger commented on #809
Are you saying that you are interested in pushing changes that are not in MLIR main branch? If so, the best way to include it in ONNX-MLIR is to get it approved by MLIR first. We would be wary to complicate the merging of onnx-mlir with llvm-project repo.

I also use viscode and there is a mode that prettify .mlir file.

[2021-07-30 14:59] AlexandreEichenberger commented on #809
@caoimhinuibrian you are a more advanced vscode user, maybe you can chime in.

[2021-07-30 15:18] MATRIXKOO commented on #809
Yes, But it's not MLIR's main feature, just a stand-alone tool to help you to read mlir more comfortably.
It's just a vscode extension. But need dialect sources to compile .

[2021-08-02 06:34] #808 closed

[2021-08-03 23:05] #783 closed

[2021-08-05 16:25] caoimhinuibrian commented on #809
If I understand correctly, you want to contribute the LSP code for the onnx-mlir dialects? If so, please go ahead and submit a PR so we can look at what you are doing.

[2021-08-06 07:09] tungld opened #816 "Wrong output for a simple function that returns a constant - happen on ZLinux"
While checking the PR #815 I found that a simple program failed on ZLinux:

A test program that just prints out a constant tensor:
[code]
Compile the code using `onnx-mlir` and run using Python or C, output is `[2., 3.]` (it should be `[3., 2.]`).

Checking the constant in the generated LLVM IR, it is correctly generated:
[code]

However, using `-O0` instead of `-O3` in the llvm `opt` command prod

[2021-08-06 07:20] tungld commented on #816
Now, we generate LLVMIR using `onnx-mlir-opt` but run the LLVMIR code using `mlir-cpu-runner` with `-O0` or `-O3`.

Since `mlir-cpu-runner` does not support tensors as result, we change our code so that only the first element in the constant tensor is returned.

[code]

Compile and run:
[code]
We got the correct result here for both `-O0` and `-O3` in `opt`.

Some potential places in `onnx-mlir` t

[2021-08-06 08:58] MATRIXKOO commented on #809
Yes. You're right.I impl  mlir-lsp-server executable.
Vscode Extension is available on https://marketplace.visualstudio.com/items?itemName=MomenAbdelkarim-WyattCalandro-LuisPrieto.mlir
Install the Extension, and set The mlir-lsp-server executable path.
I will commit my code later.

[2021-08-06 20:05] chentong319 opened #817 "New issues for yolo model with the latest master branch"
For the original model (dynamic shape), I got the following error:
[code]
I guess the previous version just assumed the shape of the output tensor.

This error went away if the static shape of the input tensor for the model  is provided. However, the program did stop for extremely long time (> 30 minutes) just for `--EmitMLIR`. I checked and found it stuck in optimize-memory-pool pass.

[2021-08-09 09:39] AlexandreEichenberger commented on #817
Yes, currently the code was just assigning bogus value to the padding. If the size is RT, then SAME_* needs to introduce actual computations to determine the size.
I looked at the static yolo that you gave me, @chentong319 , and there were only pad sizes that were explicit.
If it is in the model, then we should really rework the CONV with shape helper framework to handle this problem systematicall

[2021-08-10 08:30] tungld commented on #816
This is definitely a bug in llvm opt, which does constant folding to replace memcpy with load/store **when memcpy length is 1/2/4/8**: https://github.com/llvm/llvm-project/blob/main/llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp#L135
[code]

In our example above, memcpy is generated by MLIR to copy data from the constant to the returned Memref.  The memcpy length is 8.

Let's use a constant

[2021-08-10 08:41] AlexandreEichenberger commented on #816
@tungld thanks for your careful evaluation. If the bug is only on Z, should we forward it to the German support team? Or does it occur on all platforms?

[2021-08-10 08:45] tungld commented on #816
Yes, it is only on Z. I'll try to see if it is easy to fix or not. If it is non-trivial, I will forward it to the German support team.

[2021-08-11 05:00] tungld commented on #816
Found the root cause of this issue, and possibly of all constants related issues we have got on Z so far.

It was because LLVM opt uses module's DataLayout to know whether data is in little or big endian, e.g. `bool isLittleEndian = DL.isLittleEndian();` where DL is the module's DataLayout.
If there is no DataLayout information, it is little endian by default. So all optimizations related to const

[2021-08-11 10:05] #816 closed

[2021-08-11 10:10] AlexandreEichenberger commented on #816
@tungld please close if your latest pr #819 fixed this issue

[2021-08-12 01:31] tungld commented on #816
Yes, it fixed the issue.

[2021-08-12 05:13] tungld commented on #600
Just a memo. This PR #819 annotates ModuleOp with endianness information. With this information, LLVM optimizations correctly interprets our float array which is stored in string. So I can say we completely solve this issue on Z.

[2021-08-12 11:18] gongsu832 commented on #600
@tungld Kudos for getting to the root of this.

[2021-08-17 20:04] AlexandreEichenberger commented on #817
Update #826 should fix this issue.

[2021-08-17 20:06] AlexandreEichenberger commented on #809
@MATRIXKOO let us know when your code will be uploaded.

[2021-08-18 10:52] MATRIXKOO commented on #809
This week. I am a little busy recently.

[2021-08-19 00:31] #817 closed

[2021-08-24 15:07] tungld opened #832 "Default axis value for softmax Opset v13 is used for softmax v11"
In onnx-mlir, the latest Opset version of softmax is v13 whose default axis is -1, while the default axis for softmax v11 is 1.

So, if a model contains softmax v11 without axis attribute, onnx-mlir will read softmax as if it is v13 and use default axis -1, which is wrong for >2D tensors, e.g. <1x1000x4x5xf32>

[2021-08-25 22:44] sstamenova opened #835 "Test suites"
Right now there are several different types of tests in onnx-mlir:

1) The lit tests in test/mlir
2) The numerical tests in test/numerical
3) The backend tests in test/backend
4) The unit tests in test/unit and test/onnx2mlir which do not require an onnx install
5) The one unit test in test/unit/Runtime/DocExampleTest that does require an onnx install
6) The doc tests in doc/doc-check

Some of the

[2021-09-03 00:38] AlexandreEichenberger opened #843 "Memory Bundling Performance"
We should get a cost/benefit analysis of Memory Bundling. The current options are:
1.  memory bundling enabled (default)
2. memory bundling disabled, mlir inserts delete eagerly
3. new: hybrid approach where bundling is enabled for static, disabled for dynamic

And we should evaluate static and dynamic models in terms of:
1. memory footprint
2. execution time
3. compilation time

Ideally, we would

[2021-09-09 01:42] tungld opened #850 "Doxygen html files not found"
It seems that html files for OMTensor and OMTensorList APIs are not generated. We will see "Page not found" when clicking on links in http://onnx.ai/onnx-mlir, e.g. http://onnx.ai/onnx-mlir//doxygen_html/_o_m_tensor_8h.html

[2021-09-09 07:27] tungld commented on #850
Doxygen was called by TravisCI and removed by this PR: https://github.com/onnx/onnx-mlir/pull/518.

Perhaps, we should setup doxygen for Jenkins CI. @gongsu832 could you please help with this? Thanks!

[2021-09-11 16:38] gongsu832 commented on #850
It's not a simple matter to run doxygen. The generated files need to be deployed to the onnx.ai site. TravisCI had a function to do that. GitHub Actions might have a similar function. But I'm not familiar with GitHub Actions so I'll need to read some doc and see if it can be done.

[2021-09-12 13:54] shllvii opened #856 "Linking failed for undefined reference"
I follow the installation instructions but meet a linking failure when running ninja. Error messages are as follows:
[196/251] Linking CXX executable Debug/bin/binary-decoder
FAILED: Debug/bin/binary-decoder
: && /home/CORP.PKUSC.ORG/shallwe/gcc/gcc11/bin/g++  -gdwarf-4 -fPIC -fno-semantic-interposition -fvisibility-inlines-hidden -Werror=date-time -Wall -Wextra -Wno-unused-parameter -Wwrite-strin

[2021-09-14 14:00] AlexandreEichenberger opened #859 "Tracking Performance"
As our compiler matures, we are tuning for performance and we would like to make sure we have to regressions.

The proposal it so have a "performance" run that works on demand and/or when publishing the changes, so that we may minimally have a record of whether a PR helps or hurts a test.

We could send the results also to a mailing group for folks to be informed.

For the mechanics, some folks in

[2021-09-16 15:36] Joejiong opened #860 "is ok that I could convert xxx.mlir back to onnx?"
Hi friends,
is ok that I could convert xxx.mlir back to onnx?

this is important for me, maybe others, because, when u get an raw trained model from some framework, then I transfer to mlir for optimization, and then, I don't want to directly use it to lower to llvm bitcode later obj. I want to transfer the optimized xxxx.mlir back to xxxx.onnx for other runtime system that already support onnx as

[2021-09-16 16:32] AlexandreEichenberger commented on #860
Hi @Joejiong, there is some interest in this functionality but this is currently not on our internal roadmap. We would be excited to review any PRs that you may have.

[2021-09-17 01:11] AlexandreEichenberger commented on #843
Info from Doru:

Fixed by PR #855

- was broken since introduction of reinterpret_cast. No sharing of memory slots was happening for any bundled MemRefs when a reinterpret_cast was present anywhere in the program;
- bundling of dynamic MemRefs disabled;
- exclude processed MemRefs from being considered again by optimization phase.

Static Yolo model impact:

- Memory: 85% reduction from 1100 MB to

[2021-09-17 07:30] gongsu832 opened #862 "Numerical tests compiled with mcpu=z14 slower than without"
So I produced a patch to compile backend and numerical tests with `-mcpu=z14` which supposedly generates SIMD instructions. When I run the numerical tests, all the TestXXX tests run slower with `-mcpu=z14`. Note the test time includes compilation so compilation+runtime with `-mcpu=z14` is slower. This is a bit strange.

**Run without `-mcpu=z14`**
[code]

**Run with `-mcpu=z14`**
[code]

To be abl

[2021-09-17 08:30] tungld commented on #862
With `-mcpu=z14` I think compilation will take more time since more instructions are generated for simd.  Also, these numerical tests often use a small range for tensor size, there might be small difference in inference time.

[2021-09-17 09:38] gongsu832 commented on #862
Yes I was suspecting the SIMD runtime gain didn't offset the compilation overhead. Just want to make sure it is indeed the case.

[2021-09-17 11:46] chentong319 commented on #843
I test the old yolo model (dataport_object_detect) with the current version of onnx-mlir (14467247fa1630bbb011e3f30b591565f6797102) on a s390 machine. The performance, with and without memory bundling, are compared. Flag `--disable-memory-bundling=true` is used to disable bundling.

1.  For dynamic input

-  Compile time: 6m39 vs. 5m21
- Virtual memory size: 1.3 G vs. 326 M
- Execution time: 84.7

[2021-09-17 14:45] AlexandreEichenberger commented on #843
@doru1004 @chentong319

Looking at the dynamic data, this means that bundling does not remove the delete, and thus prevents mlir to lower the virtual memory size, or maybe the MLIR pass was not invoked. It appears that for the CPU, based on this one benchmark, bundling still need more virtual memory, compilation time is much longer, and it runs about the same speed (-0.4s for dyn, +-.1 for static)

[2021-09-17 17:22] chentong319 commented on #843
The dealloc pass of mlir is not invoked when bundling is on.  Tung's PR861 is to fix this issue. Should we hold that PR until we have an agreement on plan?

[2021-09-18 05:27] Joejiong opened #865 "BUILD, error: Value specified for template argument #0 (OpBuilder:p) is of type 'dag', expected 'string': (ins "Value":$X)"
hi friends,
when I follow you readme to build the project, I got a compilation error:

[code]
clang -v
[code]

[2021-09-18 05:36] Joejiong commented on #860
thx for the response.

[2021-09-18 08:24] #865 closed

[2021-09-18 08:29] Joejiong opened #866 "Bert e2e model support?"
Hi friends,

Is there any bert.onnx -> bert.mlir sample code?
when I when to onnx model to test
[code]
use the following cmd:
[code]
I got error with:
[code]
when I try:
[code]
I got a coredump:
[code]

[2021-09-18 14:41] Joejiong opened #867 "could not actually emit mnist-1.onnx model from onnx-model repo"
I could not actually emit mnist-1.onnx model from onnx-model repo

π models/vision/classification/mnist/model master ✗ ❯ onnx-mlir --EmitONNXIR mnist-1.onnx
onnx-mlir: /Workspace/onnx-mlir/src/Builder/FrontendDialectTransformer.cpp:1304: void onnx_mlir::ImportFrontendModelFile(std::string, mlir::MLIRContext&, mlir::OwningModuleRef&, onnx_mlir::ImportOptions): Assertion `parse_success && "Onnx Mode

[2021-09-18 15:10] Joejiong commented on #866
solved

[2021-09-18 15:10] Joejiong commented on #867
solved

[2021-09-18 15:10] #867 closed

[2021-09-19 05:16] Joejiong commented on #350
@chenqiny
Would it be possible to provide a debug option to print the following things?

Hi friends,

Is there any bert.onnx -> bert.mlir sample code?
when I when to onnx model to test
[code]

[2021-09-21 06:32] Joejiong commented on #128
any update?

[2021-09-22 11:31] tungld commented on #128
FYI, I wrote a python script to examine the current status and below is the result. Will report the status monthly.

(@AlexandreEichenberger I added error messages when compilation failed)

# ONNX-MLIR supports 90 ONNX ops

['abs', 'acos', 'acosh', 'add', 'and', 'argmax', 'asin', 'asinh', 'atan', 'atanh', 'averagepool', 'batchnormalization', 'cast', 'ceil', 'clip', 'concat', 'constant', 'constanto

[2021-09-22 11:54] tungld commented on #866
Hi @Joejiong,

OneHot has not yet been supported in onnx-mlir, so bertsquad is expected to fail. Even if shape inference is turned off there is no implementation code for OneHot.

[2021-09-22 15:01] AlexandreEichenberger commented on #128
Big thanks @tungld

[2021-09-22 15:49] AlexandreEichenberger commented on #866
@Joejiong

would be great if you could consider implementing this op. It is relatively straightforward. Definition of the op is here:
https://github.com/onnx/onnx/blob/master/docs/Operators.md#onehot

[2021-09-24 17:42] chentong319 opened #872 "Handle scalar with Krnl"
I discovered this issue when working on yolov5 model.  I got `error: Expected positive number of original loops.`
The model has some scalars with type `tensor<f32>` or `tensor<i64>`. Tense with scalar type is needed because some ops, for example, Clip, require scalar input. Moreover, some shape related ops, such as Squeeze/Unsqueeze, behave differently between tensor<i64> and tensor<1xi64>. Theref

[2021-09-24 21:30] AlexandreEichenberger commented on #872
@chentong319

That error cannot be eliminated. Basically, the program is trying to do a loop structure with 0 or fewer loop nest. That is simply not allowed.

Note that no matter the scheme, the number of loops needs to be known at compile time. If that is the case, then you need to isolate the case with 0 loop nests, and if not zero, you can construct an iterate where the number of loops is an ar

[2021-09-25 00:13] chentong319 commented on #872
The semantics of scalar type is simple:  there  is always only one element in the tensor.
The problem is how we handle scalar type uniformly with "real" tensor. I am thinking of providing a set of interface that treat scalar as one-element tensor, perhaps under the hood of IndexExpr. We just need to be careful to use the original type info for graph-level and hopefully we do not need to change low

[2021-09-26 03:00] zijin520 opened #874 "got an error when executing "cmake --build .""
[ 40%] Built target OMResultTypeInferenceOpInterfaceIncGen
[ 41%] Built target OMHasOnnxSubgraphOpInterfaceIncGen
[ 41%] Built target OMShapeInferenceOpInterfaceIncGen
[ 41%] Built target OMONNXRewriteIncGen
[ 41%] Building CXX object src/Dialect/ONNX/CMakeFiles/OMONNXOps.dir/ONNXOps.cpp.o
/home/user/mlir/onnx-mlir/src/Dialect/ONNX/ONNXOps.cpp: In static member function ‘static void mlir::ONNXEntr

[2021-09-27 00:47] tungld commented on #872
Regarding loop creation, it seems not related to IndexExpr. We are defining a nested loop with a given number `createKrnl.defineLoops(numberOfLoops)`, so it is clearly that users of krnl need to know `numberOfLoops`, and should check if it it zero or not, except we need to change how to define nested loops. So far all element-wise ops have had a check `if numberOfLoops > 0 then emit krnl loop`. If

[2021-09-27 01:50] chentong319 commented on #872
@tungld The error occurred when the loop is initialized with IndexExpr. Of course, we can create the krnl with the special check for scalar. But we did not do such check in many places. It would be better if we find a uniform way to handle scalar and tensor. Will tensor<i32> and tensor<1xi32> be both translated into memref<1xi32>?

[2021-09-27 02:42] zijin520 opened #875 "C99 Runtime API website 404"
http://onnx.ai/onnx-mlir/
OMTensor C99 Runtime API
OMTensorList C99 Runtime API

![image](https://user-images.githubusercontent.com/83391270/134837810-6e16ed90-02d6-4f81-9b32-f7addd9b693a.png)

![image](https://user-images.githubusercontent.com/83391270/134837891-f0a2f276-7abc-47cf-90a9-539c7d00771b.png)

[2021-09-27 04:46] tungld commented on #872
Is it a good idea to import all ONNX scalars as tensor<1xtype> instead of tensor<type> so that we don't have scalar tensors? Then there is no problem with loops or IndexExpr. Loops with upper bound 1 will be eliminated eventually I think.

[2021-09-27 09:13] zijin520 commented on #874
The former error seems to be the llvm-project code version is not consistent with onnx-mlir. So I copy both the llvm-project/ and onnx-mlir/ code from onnxmlirczar/onnx-mlir-dev to the ubuntu host. Another error occurs bellow. Anybody can help me? Thanks.

[ 85%] Linking CXX static library ../Debug/lib/libMainUtils.a
[ 85%] Built target MainUtils
Scanning dependencies of target onnx-mlir
[ 85%] Bu

[2021-09-27 13:55] AlexandreEichenberger commented on #872
I never really understood the difference between  `tensor<1xtype>` and  `tensor<type>`, and the even stranger definition of `tensor<0xtype>`.

If we do that, let's make sure we have a sufficient number of tests to prevent regressions...

[2021-09-27 14:05] chentong319 commented on #872
No. Actually it's my first thought and I implemented it. It cause errors in the model. As I mentioned previously:
 `Tense with scalar type is needed because some ops, for example, Clip, require scalar input. Moreover, some shape related ops, such as Squeeze/Unsqueeze, behave differently between tensor and tensor<1xi64>. `

[2021-09-27 14:21] tungld commented on #872
Regarding `tensor<0xtype>`, it reminds me of this discussion thread: https://llvm.discourse.group/t/what-is-the-semantics-of-memref-0xf32-and-tensor-0xf32/3557

[2021-09-27 17:38] AlexandreEichenberger commented on #875
I believe #873 fixes this. Let us know if it works for you (by closing this issue)

[2021-09-27 17:44] AlexandreEichenberger commented on #862
Correct, we need to add timing to a few meaningful sizes. @tungld you suggested a benchmark sometimes ago, was it DeepBench? I searched my inbox but could not locate it again.

[2021-09-28 00:50] zijin520 commented on #875
@AlexandreEichenberger It works now. Thanks a lot.

[2021-09-28 00:55] AlexandreEichenberger commented on #875
your welcome, @gongsu832 did the work :-)

[2021-09-28 01:14] zijin520 commented on #874
@AlexandreEichenberger For the first try, I cloned the newest code of default branch from https://github.com/onnx/onnx-mlir.git and https://github.com/llvm/llvm-project.git, including third_party folders. It indeed a try from zero. I think the llvm-project code may be not consistent with onnx-mlir. Could you please help the confirm it or give some suggestions? Thanks

[2021-09-28 09:05] #874 closed

[2021-09-30 04:43] tungld commented on #778
The same error was reported here in LLVM bugs: https://github.com/onnx/onnx-mlir/issues/778

It seems there is no solution so far except using int64 as we are doing.

[2021-10-04 19:55] axmat opened #888 "Converting Krnl to affine or std"
It seems that even after converting the Krnl dialect to the Affine dialect by using `onnx-mlir-opt --convert-krnl-to-affine --lower-affine input.mlir > out.mlir`, some operations of Krnl are not converted to Affine. How to get rid of the Krnl dialect ?

When I try to add the C wrappers using `mlir-opt --convert-std-to-llvm='emit-c-wrappers=1' --allow-unregistered-dialect out.mlir -o c.mlir` I am g

[2021-10-05 01:48] AlexandreEichenberger commented on #888
To get a good feel, either read the code that plan the optimizations, and/or run `onnx-mlir` with the `-print-ir-after-all` options. There are indeed more opts to lower krnl just before LLVM. Others are needed if there are simd instructions.

[2021-10-05 08:05] tungld commented on #128
Just check some old models to see why Gemm failed. Actually these models seemed incorrect, for example, the output of MaxPooling (4D tensors) was passed to Gemm which supported only 2D, so Gemm failed.

Looking at onnx/models, these old models will be removed by this PR: https://github.com/onnx/models/pull/389.
So, we perhaps don't need to care about these old models.

[2021-10-05 20:04] AlexandreEichenberger commented on #856
Is this error still happening?

[2021-10-12 01:03] tungld commented on #128
New update: 101 models can be compiled now (it was 83 in the previous update). Out of 17 models failed to compile, 12 models are deprecated (using Opset <=3)

# ONNX-MLIR supports 102 ONNX ops

['abs', 'acos', 'acosh', 'add', 'and', 'argmax', 'asin', 'asinh', 'atan', 'atanh', 'averagepool', 'batchnormalization', 'cast', 'ceil', 'clip', 'concat', 'constant', 'constantofshape', 'conv', 'cos', 'div',

[2021-10-14 19:57] AlexandreEichenberger commented on #809
Closing this issue, established that we will consider the PR once the code is ready for review. Thanks for contributing.

[2021-10-14 19:58] AlexandreEichenberger commented on #806
@chentong319 would you be able to see if it is difficult to implement this additional mode? Tx

[2021-10-14 20:02] AlexandreEichenberger opened #916 "Updating onnx.md and krnl.md"
Right now, our doc dir has possibly outdated onnx.md and krnl.md files, which can be auto-generated from their respective Dialect/ONNX/ONNXOps.td and Dialect/Krnl/KrnlOps.td using the `make onnx-mlir-docs` command.

That make script generates the up to date files under the build directory. Kevin's suggestion is that we automatically move them under Docs/Dialect subdirectories, when we rebuild the

[2021-10-15 13:43] AlexandreEichenberger opened #918 "CI issue on Windows, related to python versions"
From an unrelated PR (#912)

From @sstamenova

Change the CMakeLists.txt file for onnx-mlir to optionally not search the windows registry for installed python. This will work for developers who haven't added python to their environment and the Windows CI can pass the variable to not search the registry.
Both have pros/cons. I would personally choose 1) because I'd expect that everyone already has

[2021-10-16 15:06] #918 closed, assigned to sstamenova

[2021-10-18 18:47] AlexandreEichenberger opened #922 "Next Ops to work on"
Idea: put here a quick comment to claim the operations that you care currently working on, so that we do not replicate work.
Can also add a request for new op.

[2021-10-19 09:19] tungld commented on #922
Working on NonMaxSuppression

[2021-10-19 09:25] tungld commented on #916
Have you looked at [`make OMONNXOpsIncTranslation`](https://github.com/onnx/onnx-mlir/blob/master/utils/CMakeLists.txt#L24)? It automatically generates `.inc` files and move them to appropriate places. I hope we can do the same for `make onnx-mlir-docs`

[2021-10-19 13:59] etiotto opened #926 "Support for SpaceToDepth operator"
Implement the SpaceToDepth operator. The operator outputs a copy of the input tensor where values from the `height` and `width` dimensions are moved to the `depth` dimension. The attr `blocksize` indicates the input block size.

* blocks of size `blocksize x blocksize` are rearranged into the depth dimension
* The new depth is `blocksize * blocksize * depth`
* The input tensor's height and width m

[2021-10-19 14:09] etiotto opened #927 "Support for DepthToSpace operator"
`DepthToSpace` rearranges data from depth into blocks of spatial data. This is the reverse transformation of `SpaceToDepth`. The output tensor is a copy of the input tensor where blocks of size `blocksize * blocksize` from the depth dimension are moved in spatial blocks to the height and width dimensions. By default, mode = DCR. In the DCR mode, elements along the depth dimension from the input te

[2021-10-19 14:11] etiotto commented on #922
I am working on `SpaceToDepth` (

[2021-10-19 14:20] etiotto opened #928 "Remove warnings & modernize code"
The goals of this PR are:
  - fix warnings reported by gcc and/or clang
  - modernize C++ code to follow guidelines reported by the `clang-tidy` tool
  - avoid polluting logs with `third_party` projects warnings

[2021-10-19 15:04] gongsu832 opened #929 "Output tensor generated for the constant input test models cannot be freed"
I ran into this when trying to extend backend tests to JNI.

Most of the `TEST_CONSTANT=true` tests failed for JNI because they get an error
[code]
in the `jniwrapper.c` when the code is calling `omTensorListDestroy` to free the output tensors from the native code after making a copy to construct the corresponding Java object. The problem didn't manifest in the C/C++ tests because `PyExecutionSess

[2021-10-19 16:05] etiotto opened #930 "Use LLVM_DEBUG to add tracing code (rather than custom approaches)"
The standard way to add tracing code in the LLVM and MLIR projects is to use the `LLVM_DEBUG` macro (https://llvm.org/docs/ProgrammersManual.html#the-llvm-debug-macro-and-debug-option).  Currently there are "home brewed" solutions in various `onnx-mlir` source files.  We should migrate the code to consistently use the standard MLIR/LLVM solution.

[2021-10-19 18:25] #928 closed, assigned to etiotto

[2021-10-19 18:27] etiotto opened #931 "Refactor Shape Inference code"
The shape inference code for ONNX MLIR operators is mostly centralized in `ONNXShapeHelper.cpp`. This file is very large and should be split to reduce the possibility of merge conflicts.

[2021-10-20 01:51] tungld commented on #929
In case of `TEST_CONSTANT=true`, the output is possibly totally calculated by constant propagation so the output would be a constant (which is stored on data segment), e.g. Add(x, y) if x and y are constants, output is definitely constant thanks to constant propagation.
I think that's why it failed to free the output.

[2021-10-20 02:25] tungld opened #934 "OneHot in Bert model (opset 10) failed"
When compiling [Bert opset 10 model](https://github.com/onnx/models/blob/41ccf18ba5a815dab714899ac234e9b1e4293c20/text/machine_comprehension/bert-squad/model/bertsquad-10.onnx), there were an error
[code]

This error was related to the lowering of OneHot.

[2021-10-20 04:29] gongsu832 commented on #929
Running under valgrind memcheck,
[code]

**`Address 0x4846a20 is 0 bytes inside data symbol "constant_0"`**

So it looks like the data buffer inside the tensor is still pointing to the constant, not the malloc-ed copy.

[2021-10-20 04:54] tungld commented on #929
My above code was generated from a program which returns a constant directly, not reshape, that was
[code]
So there is no problem with returning a constant.

Now I tested with test_reshape_zero_and_negative_dim. I confirmed that, for reshape with constant output, there was no malloc:
[code]

The above LLVM code was generated from this intermediate program of reshape:
[code]

`reinterpret_cast` is

[2021-10-20 05:02] gongsu832 commented on #929
Ah OK. I thought the code with the malloc-ed copy was from `test_reshape_zero_and_negative_dim`. So the problem is indeed as we suspected, trying to free static memory due to `owning` flag being set.

[2021-10-20 13:14] chentong319 commented on #929
@tungld I feel that this issue is related to what we discussed on Monday: If output tensor is not created but reuse the input, the assumption on data flow in MLIR is broken. Is it the case?

[2021-10-20 14:53] AlexandreEichenberger commented on #922
FYI, here are some of the benchmarks we are focusing on and that have ops that are not working yet.

high priority: (from model zoo)
- Roberta,
- Bertsquad (onehot),
- Bidaf (‘compress’, ‘hardmax’, ‘categorymapper’),
- yolo3 nonmaxsuppression
- tigny-yolo3: ‘round’, ‘nonmaxsuppression’

high priority: support compile models compiled to their lowest component (like RNNs not exported as high level O

[2021-10-20 15:28] etiotto opened #936 "Threat all warnings as errors."
Given that `onnx-mlir` is a project that leverages LLVM and MLIR, and that the LLVM code policy is to consider warnings as if they were errors (https://llvm.org/docs/CodingStandards.html#treat-compiler-warnings-like-errors), I think we should attempt to keep the code as clean as possible and add options to the `cmake` files to force the build compilers(s) to stop compilation when a warning is dete

[2021-10-20 16:11] sstamenova commented on #936
I would recommend following the `llvm-project` pattern and having a cmake variable that turns this functionality on or off. `LLVM_ENABLE_WERROR` is the llvm variable.

I have not tested it, but I suspect that because we import `HandleLLVMOptions.cmake` from `llvm-project`, passing `LLVM_ENABLE_WERROR` to the cmake for `onnx-mlir` will work already. If you want an `onnx-mlir` specific variable, you

[2021-10-20 16:13] sstamenova opened #937 "Build the onnx submodule via `setup.py` on Windows to match other platforms' CIs."
See https://github.com/onnx/onnx-mlir/issues/918 for more details.

Right now the Wincows CI calls `pip install` on onnx rather than building it from the submodule. Other CIs (not CircleCI which is obsolete) build the submodule instead. The recommendation is to do the same on Windows assuming it is possible.

I'm opening this so that we can keep track of the issue and I might have time to look at

[2021-10-20 16:14] etiotto commented on #936
Thanks @sstamenova for the useful pointer. I was just looking at that file and I would also prefer to reuse `LLVM_ENABLE_WERROR` is that works. We could initially add the code, and leave `LLVM_ENABLE_WERROR` off by default. Then transition to `LLVM_ENABLE_WERROR` on in steps (or use a similar variable).

[2021-10-20 16:18] sstamenova commented on #936
I would avoid adding the logic if `LLVM_ENABLE_WERROR` works. I suggest trying it locally and see if passing the variable to cmake has the desired effect. Then all you have to add to the cmake for onnx-mlir will be something like:

`option(ONNX_MLIR_ENABLE_WRROR "Treat warnings as errors." OFF)`
`set(LLVM_ENABLE WERROR ${ONNX_MLIR_ENABLE_WERROR}`

[2021-10-21 15:18] etiotto opened #941 "Support for the CategoryMapper operator"
Implement the `CategoryMapper` operator. The operator has one input tensor.  The output tensor has the same shape as the input tensor. The output tensor is produced by mapping the values in the input tensors. Mapping an input value to an output value is done by matching the input value in one of the two sequences (attributes) which have equal length.

The operator converts either integers to strin

[2021-10-21 15:27] etiotto commented on #922
I am going to look at `categorymapper` (#941).

[2021-10-24 01:33] gongsu832 commented on #929
That's exactly what the ownership flag is designed for. We have cases where the data may or may not come from the user and we don't want to mess with the data when they are supplied by the user. Getting rid of the ownership flag means we need to copy all the user data.

Now we also see that there are cases where the data did not come from the user but they cannot be freed either since the data are

[2021-10-26 02:45] AlexandreEichenberger opened #949 "Meetings about ONNX-MLIR"
Trying to reach out to the ONNX-MLIR community.

First let me tell you that we at IBM we are very appreciative of the help that we are getting from the open source community on this project. Big thanks to all of you.

We have operated so far by opening issues/pr to discuss among the wider group, while having IBM internal meetings where we discuss about onnx-mlir activities.

Would there be an inte

[2021-10-27 13:09] etiotto opened #953 "Fix problem in EnableMemoryPool code"
PR #942 has exposed the following problem:

On Linux the end-to-end test failed to produce the expected result (a few elements of the output tensor were corrupted).  The problem was that a `memref.alloc` operation was removed incorrectly (the allocated memory was  actually returned by the function that contained the allocation).  It appears that the code in `checkOpResultIsReturned` (EnableMemoryP

[2021-10-27 20:03] #927 closed, assigned to etiotto

[2021-10-28 14:58] AlexandreEichenberger opened #955 "Changing policy on how we merge to master"
Currently, we force a successful CI run on the absolute latest version of master. This force us to serialize the merging of branches to master, with a 3h delay due to the WindowCI.

I am proposing that we switch to the same mode as LLVM. If a branch successfully run the CIs on the master branch, and the current approved branch can do a clean merge/rebase on the master, then we allow merging that b

[2021-10-29 18:58] sstamenova commented on #776
@AlexandreEichenberger : Either Nate or I will have a look next week.

[2021-10-29 19:13] sstamenova commented on #955
There are a couple of things that make this successful for LLVM:

1) There are buildbots that cover a lot of scenarios AND the buildbots send devs emails when they fail - so no "manual" step of checking status is required. No email = successful build, so no action needed

2) The buildbot owners (as well as the community at large) will deal with issues when a commit breaks the bots but the committe

[2021-10-30 02:40] AlexandreEichenberger commented on #955
@sstamenova thanks for your thoughtful comments and your insight on the LLVM process.

If the WindowCI is down to a similar time as the others, probably waiting the 30 min or so to be sure that we have no issue by merging into the latest is probably going to be fine. Last week, we had a pileup of 10+ PR ready and folks were stopping to rebase because there was always someone else putting their cha

[2021-11-01 14:11] chentong319 commented on #922
working on Resize.

[2021-11-01 19:59] sstamenova commented on #955
@AlexandreEichenberger: There is a third option - I think (though I am not 100% sure) that there should be an option to have the CIs exclude certain files. For example, the Windows CI could run only if files other than the documentation files have been changed.

[2021-11-01 23:18] sstamenova commented on #955
I looked at the documentation for Azure Pipelines ang GitHub, and I'm pretty sure there are a couple of simple improvements we can make to the CI flow on Windows (in addition to figuring out how to save llvm builds which we will do regardless). See https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml for more information.

1) We can exclude documentation

[2021-11-01 23:23] #937 closed

[2021-11-02 14:13] AlexandreEichenberger commented on #955
Thanks, @gongsu832 is also having the test going in parallel, he say that it also shave some time. That should work orthogonally with your suggestions.

For your 1 above, are you saying that we can ensure that changes to the docs (e.g. md files) and/or files under `doc/` does not need to have CI confirmation? Or are you saying that we can skip the `make check-docs` target?

I will defer on @gongsu

[2021-11-02 16:10] etiotto commented on #953
Here is a reproducer:

[code]

The code produced contains an incorrect deallocation for `%0`:

[code]

[2021-11-02 16:34] gongsu832 commented on #955
Looking at the time breakdown of Windows CI, the vast majority of time was spent on building llvm-project. Removing that would bring the Windows CI build time to be around 40-50 minutes, on par with the Linux Jenkins CIs. So I would refrain from making any changes until that is done, to avoid making an already fairly involved build system even more complicated.

[2021-11-02 17:47] sstamenova commented on #955
It is possible to tell the CI that changes to files in a directory, or with a certain extension, etc. should not trigger it at all.

Let's wait until the llvm builds are resolved to make these changes.

[2021-11-03 10:05] chenqiny opened #969 "Issues to use location information for performance investigation"
I tried to get location information for resnet-50 model in onnx-model-zoo.

**Command:**
onnx-mlir --preserveBitcode --preserveLocations  --preserveMLIR   /external/onnx-zoo/models/vision/classification/resnet/model/resnet50-caffe2-v1-7.onnx

**Expect:**
1. User can get mlir files for each pass
2. User can get location information in mlir files. The location attributes indicates source line number

[2021-11-03 13:52] AlexandreEichenberger commented on #969
@chentong319 I recall you did work to get better line numbers. Is your work able to cover these cases? Thanks for looking into this.

[2021-11-03 13:54] AlexandreEichenberger commented on #934
PR #967 is now merged into master, with more support for conversions.

@tungld  Let me know if that covers the cases experienced in Bert.

[2021-11-03 13:58] AlexandreEichenberger commented on #930
I believe all printf were transformed using the scheme recommended here. Will migrate some of the text here into our documentation.

[2021-11-03 14:25] AlexandreEichenberger commented on #929
Is there a PR linked with this issue?

[2021-11-03 14:26] AlexandreEichenberger commented on #926
PRs are being reviewed and merged

[2021-11-03 14:26] AlexandreEichenberger commented on #888
closed due to lack of activity

[2021-11-03 14:26] #888 closed

[2021-11-03 15:12] gongsu832 commented on #929
No. Still waiting for a fix.

[2021-11-03 16:17] etiotto commented on #926
PR #921 is not merged so I prefer to keep this work item open until then.

[2021-11-03 19:54] AlexandreEichenberger commented on #916
@tungld found a way, linked a PR that implements this change.

[2021-11-03 20:11] #803 closed

[2021-11-03 20:11] AlexandreEichenberger commented on #797
@sstamenova can we close this?

[2021-11-03 20:12] AlexandreEichenberger commented on #796
working now

[2021-11-03 20:12] #796 closed

[2021-11-03 20:15] AlexandreEichenberger commented on #790
@sstamenova Is it something that someone under your org might be willing to do?
@gongsu832 if you see values and have some time?

[2021-11-03 20:16] AlexandreEichenberger commented on #781
@NathanielMcVicar is this an issue that is still relevant/occurring? I

[2021-11-03 20:17] AlexandreEichenberger commented on #778
@tungld is this issue resolved? Has the transition to int64 been done (if that is the preferred solution)

[2021-11-03 20:20] AlexandreEichenberger commented on #619
@chentong319 can this issue be closed, or is there more to do?

[2021-11-03 20:21] sstamenova commented on #797
I would like to see an answer to the question before we close it. That way if it comes up again for someone, they can find it.

[2021-11-03 20:21] AlexandreEichenberger commented on #596
@amanwithfruit is this issue still relevant?

[2021-11-03 20:22] sstamenova commented on #790
@AlexandreEichenberger: Is this still the only request for `find_package` functionality? If so, I don't think we would invest in it since we don't need it.

[2021-11-03 20:23] sstamenova commented on #781
This is still an issue - in that the functionality is different from the llvm tests. It would be nice to have, but not really a very high priority.

[2021-11-03 20:34] amanwithfruit commented on #596
I don't think so, the fix should have gone in by now.

[2021-11-03 21:04] #930 closed

[2021-11-04 00:42] #916 closed

[2021-11-04 00:54] #953 closed

[2021-11-04 01:00] AlexandreEichenberger commented on #587
Can someone look into this one? I am getting a strange error
[code]

Thanks

[2021-11-04 01:10] tungld commented on #778
We are using int64 at this moment and there is no problem in onnx-mlir. However, we still want to keep this opened until MLIR can correctly generate Z instructions annotated with zeroext/signext.

[2021-11-04 01:19] tungld commented on #929
I will take a look at this soon.

[2021-11-04 01:41] tungld commented on #934
I confirmed we can compile Bert now.

[2021-11-04 01:41] #934 closed

[2021-11-04 13:12] AlexandreEichenberger commented on #790
closing request, will rely on folks needing this feature to implement it

[2021-11-04 13:12] #790 closed

[2021-11-04 14:31] AlexandreEichenberger commented on #916
implemented in #972

[2021-11-05 00:35] chentong319 commented on #587
This error is caused by that the name 'conv2d/bias/read' appears in the input list and value_info list . I do not why this error did not appear previously.
However, the converter generated this error message: `[ShapeInferenceError] Inferred shape and existing shape differ in rank: (0) vs (4)`
We should give up this model.

[2021-11-05 02:02] #926 closed

[2021-11-05 04:39] tungld commented on #929
@gongsu832 I created a PR #975 to address this issue. The PR will set `owning` flag correctly according to whether the output is constant or not. Please take a look and test in your environment if possible. Thanks!

[2021-11-05 12:37] gongsu832 commented on #929
@tungld I can confirm that backend constant tests with JNI now pass correctly. Thanks for the fix!

[2021-11-05 15:49] AlexandreEichenberger opened #978 "Minimum opset support & better frontend / shape inference error messages"
Right now, we get very cryptic error messages, esp when we don't support an op. If it passes the frontend, then we get errors in the shape inference; if it does not pass the frontend, often we get an error about a type being wrong or something like that (often a symptom that the newer opsets use a different type for the same args).

My suggestions are 3 folds

1. Create a minimum supported opset (

[2021-11-05 19:01] AlexandreEichenberger commented on #190
closed for lack of activity

[2021-11-05 19:01] #190 closed

[2021-11-05 19:11] AlexandreEichenberger commented on #688
Confirming that the proposed solution works

[2021-11-07 10:05] gongsu832 opened #979 "OMTensorList _size bug"
This is another 32-bit/64-bit int type mismatch bug uncovered by the JNI tests I'm trying to add.

The `_size` field of `OMTensorList` is defined as `size_t`, which is 8 bytes on most platforms. However, the APIs `omTensorListCreate` and `omTensorListCreateWithOwnership` take 4 bytes int as parameters. As we have seen before, this will result in the upper 4 bytes of `_size` getting garbage at rand

[2021-11-08 04:18] tungld commented on #979
@gongsu832 Gong, I changed all API calls to use 64-bit int in the PR #975 also, since it is easy to be done.

[2021-11-08 04:59] gongsu832 commented on #979
@tungld Thanks. We'd also need to change all the API calls in `src/Runtime/OMTensor.inc, OMTensorList.inc`, and their corresponding headers in `include/onnx-mlir/Runtime/OMTensor.h, OMTensorList.h`.

[2021-11-08 05:12] tungld commented on #979
Yes, done.

[2021-11-08 06:42] gongsu832 commented on #979
@tungld While we are at it, perhaps we should rename the API `omTensorCreateEmptyDeprecated` to `omTensorCreateUntyped` or switch to `omTensorCreateEmpty`? It's weird to call something with `Deprecated` in the name.

[2021-11-08 06:57] tungld commented on #979
@gongsu832 I asked the same question in my mind about this function name. Maybe `omTensorCreateUntyped` is more suitable since it does not set shape and data type.

[2021-11-08 11:10] #929 closed

[2021-11-08 11:17] tungld commented on #979
@gongsu832 FYI, I just merged the PR. If it did not help fix this issue, please let me know. Thanks!

[2021-11-09 12:17] gongsu832 commented on #979
@tungld All JNI tests pass now. Thanks. Closing the issue.

[2021-11-09 12:17] #979 closed

[2021-11-09 15:08] AlexandreEichenberger opened #983 "Verify for ONNXScatterNDOp"
@DavidChan0519 Made this issue as a reminder of what remains to be done for shape inference. Thanks

-----------

Looking at the spec of the operation, I see that there are some conditions to the operation. Quoting the specs

Inputs

data (differentiable) : T
Tensor of rank r >= 1.
indices (non-differentiable) : tensor(int64)
Tensor of rank q >= 1.
updates (differentiable) : T
Tensor of rank q + r

[2021-11-09 23:48] AlexandreEichenberger commented on #776
@sstamenova @NathanielMcVicar how is it going? We are really looking forward to the faster times.

[2021-11-10 06:38] tungld opened #984 "Error when using separated `krnl.iterate`"
I tested the following simple code:

[code]

When lowering to affine using `convert-krnl-to-affine`, I got:

However, there is no problem if we use a singe `krnl.iterate` for `%ii1` and `%ii2`, like this:
[code]

I wonder if this is a bug or my way of writing that code is not recommended. @AlexandreEichenberger @tjingrant any thought?

[2021-11-10 14:36] AlexandreEichenberger commented on #984
@tungld currently the Krnl lowering is very finicky. What is missing here is the permute, in the first pattern. I found that for N nested loop with M unrolled loops, you need to declare all N together, then block, then have one permute with all of the N+M loop, even if some loops are not permuted and/or blocked, then one kernel iterate with if possible all of the bounds (safer that way), and then

[2021-11-10 14:38] AlexandreEichenberger commented on #984
The hope is that there might be a pattern that satisfies all conditions; I have currently a PR #981 that tries to use @tjingrant latest suggestion #688 but I think some pattern may not fit, to be determined yet.

[2021-11-11 14:53] #983 closed

[2021-11-11 14:54] DavidChan0519 commented on #983
I have added the verify interface implementation for scatterND op already.

[2021-11-11 17:30] AlexandreEichenberger opened #990 "Getting involved, possible area of work for new contributors"
##Possible areas of contributions

Below is a lit of possible new contributions that new developers can contribute.  We are always ready to help you perform new tasks, a good way to get help is to open an issue and state the problem you would like to address and request for help.

1. Implementing new operations
2. Improving the performance of current operations
3. Implementing a performance monito

[2021-11-12 01:02] tungld opened #992 "Document about the infrastructure for Constant Propagation and how-to"
Writing a guideline about constant propagation and how to support a new op.

[2021-11-12 01:09] AlexandreEichenberger opened #993 "Doc for constants"
Please add, even if short at this time

[2021-11-12 01:30] tungld commented on #993
Will have it soon, early next week. BTW, this is a duplication of #992 :)

[2021-11-12 01:53] tungld commented on #128
# Summary
We examine 116 models out of 128 models in the ONNX model zoo (12 models are exclusive because they use quite old opset, < 3).

Out of 116 models:
- 107 models can be compiled.
- 4 models have missing ops:
   1. bidaf-9: missing {'CategoryMapper'}
   2. fasterrcnn-10: missing {'roialign', 'scatter'}
   3. maskrcnn-10: missing {'roialign', 'convtranspose', 'scatter'}
   4. resnet50-v1-12-

[2021-11-12 03:12] tungld commented on #984
[code]
This looks like a bug, `%ii2` is marked as unroll so there is not AffineForOp for `krnl.iterate(%ii2)`. Now `krnl.get_induction_var_value(%ii2)` will look for the induction variable of the corresponding AffineForOp, but AffineForOp does not exist, so empty region.

[2021-11-12 14:56] AlexandreEichenberger commented on #984
I believe you may need a permute because of the block, try it to see if it helps

[2021-11-12 16:45] AlexandreEichenberger commented on #752
FYI, we are planning to rename our master branch to main, around Friday 19th. Thereafter, you will have to rebase on master. Let us know if there are issues with this migration.

Done to conform with the new wordings that are recommended for computer science projects

[2021-11-12 23:02] tungld commented on #984
Thanks for your suggestion! I tried with permute but still got the same error. Now I know it is because unroll does not work well with get_induction_var. I am in the middle fixing the bug and can be partially generate code (without permute).

[2021-11-15 20:34] etiotto opened #996 "Check mismatch between compiler gen. call and runtime prototype"
Internal testing reports the following:

"For the runtime library I noted the prototype `void @omTensorSetDataPtr(i8*, i32, i8*, i8*)`. Comparing this with latest onnx-mlir source, it seems to me that the i32 parameter is really int64_t aka i64."

We need to verify whether that is a problem (or still a problem).

[2021-11-15 20:47] AlexandreEichenberger commented on #996
This problem was detected by Kai Nache and he mentioned that he saw at least another instance of the same problem, so it would be good to do a general review of places with i32 param in our onnx-mlir code.

My recommendation would be to move all parameters of the runtime interface to i64, so that the code be as regular as possible.

[2021-11-15 20:50] etiotto opened #997 "Missing data layout information in generated LLVM IR files"
Example:
[code]

The `onnx-mlir` compiler should set the target datalayout specification properly (i.e. a complete specification, see https://llvm.org/docs/LangRef.html#langref-datalayout). Currently it only sets the target endianess.

[2021-11-15 21:22] etiotto opened #998 "Missing alignment specification for global constant"
Example:
[code]

The definition for the global variable `c`:
[code]
should have an alignment specification, for example 16 (code generated by clang for a global array of ints has alignment 16):
[code]

[2021-11-16 00:41] #984 closed

[2021-11-16 00:49] tungld commented on #998
I have no idea about whether we should set default alignment for global constants or not. But, just in case we want to do that, we can set it in `krnl.global`, e.g.
[code]

[2021-11-16 07:18] sjkbar-furiosa opened #999 "LLVMIR, generated by --EmitLLVMIR, can not be converted into "so" file by --EmitLib"
on git has ebd5daed9cf6ac8296e03dc00d325dec5a10fe02, following command does not work.
I am using mac big sur(11.2.3)

onnx-mlir --EmitLLVMIR ./third_party/onnx/onnx/backend/test/data/node/test_averagepool_2d_ceil/model.onnx
onnx-mlir --EmitLib ./third_party/onnx/onnx/backend/test/data/node/test_averagepool_2d_ceil/model.onnx.mlir

[code]

I think generating llvmir has bug.
Could you take a look in

[2021-11-16 17:01] Diksha-G opened #1001 "ONNX-MLIR Installation issue on macOS Monterey"
I am trying to install ONNX-MLIR on macOS Monterey. I followed the steps for Installation on UNIX. I get the following error while building ONNX-MLIR:

[106/300] Building onnx.md...
FAILED: src/Dialect/ONNX/onnx.md /Users/dikshagupta/llvm-project/build/onnx-mlir/build/src/Dialect/ONNX/onnx.md
cd /Users/dikshagupta/llvm-project/build/onnx-mlir/build && /usr/local/opt/llvm/bin/mlir-tblgen -gen-op-do

[2021-11-17 00:48] tungld commented on #998
So do I.

I wonder whether `target datalayout` has any effect on performance or not. I see that alignment is mentioned in its description: https://llvm.org/docs/LangRef.html#langref-datalayout

[2021-11-17 02:54] AlexandreEichenberger commented on #998
@tungld nice find. From a quick read, `target data layout` is a good way to say the alignment for the default type sizes.

There is one for the "aggregate" (is that struct or unions?). Looking at LinuxOne, for structs, it was complicated. It basically looked at the largest type in the struct, and then made the entire structure aligned to that.

For our tensors, we are mainly looking at arrays, and

[2021-11-17 03:08] gongsu832 commented on #998
Quote from https://www.gnu.org/software/libc/manual/html_node/Aligned-Memory-Blocks.html
[code]
The default alignment on 64-bit systems is typically 16 bytes. So it's hard to believe the performance degradation is actually due to the alignment itself. More likely explicitly setting alignment to 16 bytes may have other side effects that caused the performance degradation.

[2021-11-17 09:04] sjkbar-furiosa opened #1005 "run-onnx-lib can not run nonmaxsuppression models."
NMS required i64 input but run-onnx-lib(https://github.com/onnx/onnx-mlir/blob/master/utils/RunONNXLib.cpp#L362) does not support i64.
It makes following assertion failure
[code]
#######################
[    { "type" : "f32" , "dims" : [1 , 10 , 4] , "name" : "boxes" }
 ,    { "type" : "f32" , "dims" : [1 , 1 , 10] , "name" : "scores" }
 ,    { "type" : "i64" , "dims" : [1] , "name" : "max_output_

[2021-11-17 15:54] AlexandreEichenberger commented on #1005
Hi @tungld can you estimate if adding support for 64bit quantities is difficult?
@sjkbar-furiosa would you be open to adding the functionality if it is not too hard?

[2021-11-17 16:01] AlexandreEichenberger commented on #1001
I am running on Monterey and have not had any new difficulties. For BigSur, I had to do this (see in the doc)

Also grep the README for "mac" as there are sometimes a few things to do that are different.

Also if it fails building `onnx.md`, that is building some documentation. You may try to just execute `make check-onnx-lit` to see if that is successful. Let me know if that worked for you.

[2021-11-17 17:47] Diksha-G opened #1007 "Onnx Model Parsing Failed"
I have setup ONNX-MLIR on a Ubuntu vm.

I am trying it out on a model using the following:
./onnx-mlir --EmitLib mnist-1.onnx

This returns the following error:
Onnx Model Parsing Failed on mnist-1.onnx

I would appreciate your help.

[2021-11-17 19:54] AlexandreEichenberger commented on #1001
We are removing the building of the .md files by default, they should not be there. It may not solve all your issues, but is a first good step for us to do.

[2021-11-17 20:16] etiotto opened #1010 "Improve PerfectHash code to avoid infinite loops."

[2021-11-17 21:20] AlexandreEichenberger commented on #1010
See this issue for a few suggestions on how to avoid the infinite loop.

https://github.com/onnx/onnx-mlir/issues/941#issuecomment-954221677

I came to realize that V and G can have different sizes: grow G to have a bigger set of hash values that then map to the V array
Or grow V with the same sized G to have more entries and thus more possibilities.

Personally, I prefer the growing of G as this

[2021-11-17 22:35] #1001 closed

[2021-11-18 01:13] sjkbar-furiosa commented on #999
https://github.com/onnx/onnx-mlir/pull/1002 PR solve this problem.
Thanks

[2021-11-18 01:13] #999 closed

[2021-11-18 01:36] tungld commented on #1005
@AlexandreEichenberger the input  `max_output_boxes_per_class` of NMS has type of `tensor(int64)` and our implementation supports it. The issue here is @sjkbar-furiosa would like to run NMS with `RunONNXLib.cpp` which has not yet not supported i64 for inputs.  Perhaps PR #1006 is enough.

[2021-11-18 07:18] zhangxj19 opened #1012 "failed at cmake --build . (/usr/bin/ld: /usr/lib/x86_64-linux-gnu/libprotobuf.a(common.o): relocation R_X86_64_PC32 against symbol `stderr@@GLIBC_2.2.5' can not be us ed when making a shared object; recompile with -fPIC)"
I failed at the onnx-mlir building stage of "cmake --build ."
Here is my error info:
[code]

It looks like the problem is about protobuf.
Here is how I install protobuf
[code]
But there's nothing to do with "/usr/lib/blablabla"

[2021-11-18 08:13] #992 closed

[2021-11-18 08:13] #993 closed

[2021-11-18 15:03] AlexandreEichenberger commented on #1005
#1006 is now merged. @sjkbar-furiosa please try to see if it works after rebasing

[2021-11-18 15:50] etiotto commented on #998
Yup that is the case. The missing datalayout problem is tracked in #997.

Aggregate means both struct and unions (and class too).

Yes aggregate types should be aligned according to the alignment of their most strictly aligned member.

The *minimum* alignment for an array should be equal to the alignment of its element type. However we are allowed to specify a more stringent alignment (in C users

[2021-11-18 15:58] etiotto commented on #998
So here is a proposal:
  - if `krnl.global` was generated with an explicit alignment we should respect it and the corresponding LLVM IR should have the same `align` specifier value.
  - if `krnl.global` was not created with an explicit alignment specifier we should respect the target architecture convention and set the `align` specifier in the generated LLVM IR  to convey the same value that clang

[2021-11-19 01:15] sjkbar-furiosa commented on #1005
Thanks. It works

[2021-11-19 01:16] #1005 closed

[2021-11-19 02:19] tungld commented on #1007
@Diksha-G this mnist model uses ONNX opset v1 which is quite old and we do not support at this moment. If possible, please use a new version of mnist, e.g. mnist-8. Thanks!

[2021-11-19 02:54] Diksha-G commented on #1007
I tried mnist-8.onnx on my vm.

root@mlir-onnx:~/llvm-project/build/onnx-mlir/build/Debug/bin# ./onnx-mlir --EmitLib mnist-8.onnx
Onnx Model Parsing Failed on mnist-8.onnx

But it works on resnet50-v1.onnx

[2021-11-19 12:32] tungld commented on #1007
Are you using the latest commit of onnx-mlir? I cannot reproduce the issue on my environment, using mnist-8.onnx. If you send us the model you are using, I can check it with my environment.

[2021-11-19 15:13] etiotto commented on #998
Looks Like we have agreement. I'll start working on the patch for this.

[2021-11-19 16:52] chentong319 opened #1016 "make error with jni"
On the recent master branch, new errors:
1.  complaint about `/home/chentong/onnx-mlir/build/src/Runtime/jni/jsoniter` is already there. I guess its a make script issue. I can delete that directory and continue.
2. I do not understand the following error
[code]
@gongsu832, I assume that these issues are caused by your PR.

[2021-11-19 18:24] gongsu832 commented on #1016
It's a known problem on MacOS. Workaround before it's fixed: `brew install maven` and run `alias nproc="sysctl -n hw.logicalcpu"` in your shell.

[2021-11-22 22:18] renxida opened #1020 "[easy fix] docker/onnx-mlir.py quits silently if docker pull returns an error code"
https://github.com/onnx/onnx-mlir/blob/5a01b4cd2a20e0d6f42cb16705fcf306c20903ee/docker/onnx-mlir.py#L51

This line would end the script silently if docker-pull returns an error.

Took me a while learning to use pdb to figure this out.

Would be nice if other people don't have to do it

[2021-11-23 02:20] gongsu832 commented on #1020
Some docker error message should have been printed? The script wasn't meant to be used non-interactively but feel free to create a PR that return nonzero in error cases.

[2021-11-23 04:29] renxida commented on #1020
Oh i was using the script interactively. It's less about the return value, more about something going wrong and me having no way to figure out what happened.

I'll write up a fix and send in a PR!

[2021-11-25 07:59] flyingcow8 commented on #1012
i met this problem too!

[2021-11-25 08:29] flyingcow8 commented on #1012
I solved it. Maybe you used apt to install the protobuf compiler. Please remove it and build it from source.

[2021-11-30 17:12] NathanielMcVicar commented on #776
@AlexandreEichenberger I apologize for my radio silence. I've been on leave, but I would like to take a look at this now, if the situation hasn't changed. Our current thought is to cache LLVM as an Azure DevOps pipeline artifact. I don't see any reason this won't work with the free builders in the documentation, but I haven't tried. We would then rebuild on any change to utils/clone-mlir.sh.

[2021-11-30 18:35] AlexandreEichenberger commented on #776
Would be great if you had a chance, and yes, its still taking significantly longer than the other builds.

[2021-12-01 14:25] #941 closed

[2021-12-01 17:10] sstamenova opened #1031 "Pull Requests should always be updated such that they preserve history"
Recently I've noticed people are updating their PRs by force pushing in such a way that the previous commits disappear. This means a reviewer doesn't have an easy way to compare what was changed between the two versions of the PR making it really difficult to track updates. In general, I would expect that PRs should always preserve history so that changes can be compared easily and things don't ge

[2021-12-01 17:51] gongsu832 commented on #1031
This is likely because starting recently (about two or three weeks ago) there seemed to be some problem with the PRs not keeping track of changes in the target master (now main) branch.

For example, I submitted a PR1 at some point against main. Then Kevin submitted another PR2 afterwards and PR2 got merged into main first. So I rebased my PR1 to the new main which now includes commits from PR2. H

[2021-12-02 14:15] #997 closed

[2021-12-03 02:15] efenniht-furiosa opened #1035 "A bug in NonMaxSuppression implementation"
I found that NonMaxSuppression may have different outputs between onnx-mlir and onnxruntime. I made an ONNX model of a single NMS operator and ran with following (randomly generated) inputs:
[code]
I expected output would be (and onnxruntime returned) `[[0, 0, 5], [0, 0, 4], [0, 0, 3], [0, 0, 0], [0, 0, 2]]`, but binary compiled by onnx-mlir returned `[[0, 0, 5], [0, 0, 3], [0, 0, 2]]` instead.

T

[2021-12-04 17:01] renxida opened #1038 "RunONNXModel.py doesn't find PyRuntime.cpython-38-x86_64-linux-gnu.so"
By default, `utils/RunONNXModel.py` looks for `PyRuntime.cpython-38-x86_64-linux-gnu.so` under `$ONNX_MLIR_HOME//lib`.

However, `PyRuntime.cpython-38-x86_64-linux-gnu.so` is built by default under `build/Debug/lib`.

I am using the docker images. Running "make PyRuntime" under `build` puts the binary in `build/Debug` by default.

Am I doing something wrong / unexpected?

If not, i'll submit a PR

[2021-12-06 00:51] tungld commented on #1038
@renxida we usually set `ONNX_MLIR_HOME` to `build/Debug` so the script will find the .so in its `lib`.

@gongsu832 `make PyRuntime` puts the generated .so to into `build/Debug`. Is it expected or should we put it into `build/Debug/lib`?

[2021-12-06 01:52] gongsu832 commented on #1038
The .a/.so libraries used to be under `build/lib` but are now under `build/Debug/lib` or `build/Release/lib` depending on the build type since we switched to multi-config. The `onnx-mlir-dev` image is a Debug build so the libraries are under `build/Debug/lib`. They were never put under `$ONNX_MLIR_HOME/lib`.

[2021-12-06 02:42] tungld commented on #1038
@gongsu832 thanks for the information!

@renxida could you please check with your environment again? When I ran `make PyRuntime` in my environemnt (not docker), the .so file was under `build/Debug/lib` correctly:
[code]

[2021-12-06 03:13] Diksha-G opened #1041 "PyRuntime Error during inference: ModuleNotFoundError"
I am trying to run inference on an onnx model compiled using onnx-mlir. When I execute the python script, it throws the following error:

`ModuleNotFoundError: No module named 'PyRuntime'`

The path to my PyRuntime is:
[code]

So, I created a create a symbolic link to it:
`root@onnx-mlir:~/llvm-project/build/onnx-mlir/build/Debug/bin# ln -s /llvm-project/build/onnx-mlir/build/src/Runtime/CMakeFile

[2021-12-06 04:25] chenqiny opened #1042 "OMInstrument.h not found on onnx-mlir::amd64 docker image and got compilation error"
I used latest onnx-mlir::amd64 docker image (ID: b8fa440f0203)

When I compile my sample code which calls cruntime, I got OMInstrument.h not found error.

See the error below. OnnxMlirRuntime.h requires OMInstrument.h, but it is not found. There is only OnnxDataType.h in the /usr/local/include/onnx-mlir/Runtime/

[code]

[code]

[2021-12-06 05:06] imaihal commented on #1041
http://onnx.ai/onnx-mlir/UsingPyRuntime.html

How about creating a link to `onnx-mlir/build/lib`?

[2021-12-06 05:35] gongsu832 commented on #1042
`onnx-mlir` is a minimal image to allow you to compile ONNX models without any compilation and installation on the host. For development work, you should use the `onnx-mlir-dev` image.

[2021-12-07 07:52] tungld commented on #1035
@efenniht-furiosa thank you for finding the root cause! Do you think just moving `selected_box_index = order[b, c, s]` up  and using `selected_box_index` instead of `s` are enough?

Are you interested in creating a PR for the change? The NMS implementation is quite similar to the python code. Since you have a test example, you can check the correctness quickly.

[2021-12-07 09:20] negiyas opened #1044 "Compilation errors relating to the protobuf include files."
I got the following compile errors to build the latest main branch of onnx-mlir  (commit 90d33c03d01356668318b386098667ddcd04d644 ).
It seems that we need to include google/protobuf/port_def.inc file in the protobuf package.

[code]
protoc version 3.11.4 is in the PATH, and according to output of cmake attached below, it seems that cmake can find the protobuf include path correctly.
Should we set

[2021-12-07 09:28] MaeThird opened #1045 "error: failed to materialize conversion for result #0 of operation 'onnx.Add' that remained live after conversion"
ONNX Version: 1.9.0
LLVM: 14.0.0git
clang: 12.0.5

compile onnx-mlir from source(git from newly master).**Even the example can't work**.
[code]
**I also tried some onnx models and none of them work**.
Any help ?

[2021-12-07 12:37] MaeThird commented on #1044
I solved this by adding protobuf's directory(in my case it's  /usr/local/include)directly in CMakeLists.txt like
 ```set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -I/usr/local/include")```

[2021-12-07 16:04] gongsu832 commented on #1044
@negiyas Did you by any chance updated either python or protobuf? If yes you need to rebuild `third_party/onnx`.
[code]
That's what I do typically.

[2021-12-07 23:56] negiyas commented on #1044
@MaeThird I can avoid the errors by adding protobuf's directory in CMakeLists.txt. Thank you for the comments.
@gongsu832 I executed "python setup.py install" at third_party_onnx, but it cannot fix the issue.
In my case, I could built onnx-mlir before, and I did not update python or protobuf after that.
I clone the onnx-mlir project from scratch by "git clone --recursive https://github.com/onnx/on

[2021-12-08 03:08] #1045 closed

[2021-12-08 03:24] gongsu832 commented on #1044
@negiyas I think we found the problem and Alex already fixed it. A slightly better PR will be coming.

[2021-12-08 16:37] chenqiny commented on #1042
Thank you.

[2021-12-08 16:37] #1042 closed

[2021-12-09 13:53] #998 closed

[2021-12-09 15:31] #1020 closed

[2021-12-09 15:32] renxida commented on #1041
See my other issue.

PyRuntime actually requires building, and builds to build/Debug/lib

[2021-12-09 15:37] renxida commented on #1038
@gongsu832 Yes, they are built to `build/Debug/lib`, and I'm saying that `utils/RunONNXModel.py` should be edited to give a clear message about where to look for it.

@tungld I have no problem about where the `.so` file goes. I just want `util/RunONNXModel.py` to either (1) be able to locate the `.so` file on its own or (2) give an informative message about where the `.so` file could be found.

[2021-12-10 07:08] negiyas commented on #1044
@gongsu832 I am closing this issue. Thank you.

[2021-12-10 07:08] #1044 closed

[2021-12-10 16:01] chentong319 commented on #990
I will add some possible work items.

- Handle control flow for onnx dialect. The current implementation targets at operations in serial. For example, the constProp does not handle the definition from Region parameters, which are used for Loop and IF.  Sometimes, an input tensor can be an output tensor for a region. That should be simple. The shape inference may need more work to merge the shape i

[2021-12-10 16:03] #1038 closed

[2021-12-12 11:21] Diksha-G commented on #1041
Sorry, did not work.

[2021-12-12 11:43] Diksha-G commented on #1041
From which directory should I execute the `make PyRuntime`?

Also, the /build/Debug/lib contains: `PyRuntime.cpython-38-x86_64-linux-gnu.so` and set `ONNX_MLIR_HOME=/root/llvm-project/build/onnx-mlir/build/onnx-mlir/build/Debug/lib`.

Problem still persists:

`root@onnx-mlir:~/llvm-project/build/onnx-mlir/build/Debug/bin# python3 test_onnxmlir.py
Traceback (most recent call last):
  File "test_onn

[2021-12-12 19:12] renxida commented on #1041
hi @Diksha-G !

execute `make PyRuntime` under build to generate the `.so` file.

Set `ONNX_MLIR_HOME=/root/llvm-project/build/onnx-mlir/build/onnx-mlir/build/Debug/` . note that `lib` is not part of the variable, and is concatenated on by the `RunONNXModel.py`

[2021-12-12 19:13] renxida commented on #1041
Let me know if it works! I struggled HARD through this process and I want you to have to struggle a bit less. So I'm here for you.

[2021-12-12 19:48] Diksha-G commented on #1041
hi @renxida

I tried the following like you suggested:

`root@onnx-mlir:~/llvm-project/build/onnx-mlir/build# make PyRuntime
make: *** No rule to make target 'PyRuntime'.  Stop.
root@onnx-mlir:~/llvm-project/build/onnx-mlir/build# `

Thanks for your help. Would appreciate any lead :)

[2021-12-13 07:28] zhangxj19 commented on #1012
That helps. Thank you very much!

[2021-12-13 07:28] #1012 closed

[2021-12-13 07:30] zhangxj19 commented on #1012
That helps. Thank you very much!

[2021-12-13 15:59] etiotto commented on #1031
My issue with merging rather than rebasing is that the PR will should several partial commits that are meaningless in the history, in addition it will also pollute the history with spurious informations from merging base. I prefer to rebase all my PRs.

[2021-12-13 18:27] etiotto commented on #990
**List of Learning Resources**
  - https://www.youtube.com/watch?v=cyICUIZ56wQ  (Intro on MLIR)
  - https://video.ibm.com/recorded/127363418 (ONNX MLIR talk)
  - https://video.ibm.com/recorded/127363577 (ONNX MLIR Wrap-Up)
  - https://github.ibm.com/Tian-Jin2/onnx-mlir-lab/ (github repo with example)
  - https://mlir.llvm.org/ (MLIR documentation)

[2021-12-13 18:47] AlexandreEichenberger commented on #990
ONNX standard: https://github.com/onnx/onnx/blob/master/docs/Operators.md
Toy examples from MLIR: https://mlir.llvm.org/docs/Tutorials/Toy/

[2021-12-13 21:37] etiotto opened #1058 "Memory leak in matmul code."
Given the following ONNX model (containing only a matmul operator), `valgrind` reports a memory leak in the code generated for the operator. To reproduce:

Compile the model:
[code]

Run the model:
[code]

The last error originates from the `main_graph` whish is the entry point containing the matmul operator code gen.
[simplemm.onnx.txt](https://github.com/onnx/onnx-mlir/files/7707138/simplemm.onn

[2021-12-13 21:54] AlexandreEichenberger commented on #1058
@etiotto could you attach the .onnx file, thanks

[2021-12-13 22:17] AlexandreEichenberger opened #1059 "Default make need onnx to be installed"
Our default build listed in the README.txt (https://github.com/onnx/onnx-mlir#installation-on-unix) is as follows:

[code]

and this attempts to build stuff for running the `check-onnx-backend`, which requires onnx. To the best of my understanding, building onnx requires the procedure listed here (https://github.com/onnx/onnx-mlir#installing-third_party-onnx-for-backend-tests-or-rebuilding-onnx-op

[2021-12-13 22:21] AlexandreEichenberger commented on #1041
To help us figuring out what is going on, do you mind trying the end to end example I recently added:

https://github.com/onnx/onnx-mlir/blob/main/docs/mnist_example/README.md

I ran it on my mac and it worked fine. Let me know also the machine on which you run, Linux, Mac, Windows?

[2021-12-13 22:27] AlexandreEichenberger commented on #1031
I know that there is a recommendation to use rebase, but it seems to me that the "merge" approach works well because when we finally push the changes of a PR to the main branch, we use a "squash and merge" that appears to put all the PR changes after any of the current one on main.

I feel that removing the superfluous history commit (e.g. "I am fixing for the nth time a formatting issue") could b

[2021-12-13 22:40] AlexandreEichenberger commented on #1007
We have an end to end MNIST example, listed here: https://github.com/onnx/onnx-mlir/tree/main/docs/mnist_example
Please try to follow the steps. If that example works for you, maybe understanding the differences between your try and this example will highlight the issue you are experiencing.

[2021-12-13 22:41] AlexandreEichenberger commented on #996
@gongsu832 would you be able to look into this?

[2021-12-13 22:44] AlexandreEichenberger commented on #1031
This PR is a continuation of #955

[2021-12-13 22:45] AlexandreEichenberger commented on #955
Closing as this is now discussed in #1031

[2021-12-13 22:45] #955 closed

[2021-12-13 22:45] #949 closed

[2021-12-13 22:46] AlexandreEichenberger commented on #936
@etiotto is this issue ready to close?

[2021-12-13 22:47] AlexandreEichenberger commented on #860
closed for lack of activity

[2021-12-13 22:47] #860 closed

[2021-12-13 22:48] AlexandreEichenberger commented on #799
@gongsu832 is this issue completed with the recent additional tests?

[2021-12-13 22:49] AlexandreEichenberger commented on #752
done

[2021-12-13 22:49] #752 closed

[2021-12-14 01:32] #1035 closed

[2021-12-14 02:54] tungld commented on #1058
Found that it was `--buffer-deallocation` pass that did not insert `dealloc` inside `affine.if`. Got the following error when running `onnx-mlir-opt --buffer-deallocation simplemm.onnx.mlir`:
[code]

[2021-12-14 03:15] gongsu832 commented on #1059
The CI does install third_party/onnx. You can see in Dockerfile.onnx-mlir and Dockerfile.onnx-mlir-dev:
[code]
And the default make does produce all the binaries such as onnx-mlir and onnx-mlir-opt.

[2021-12-14 03:27] gongsu832 commented on #996
As far as I know, the runtime library has moved everything to int64_t. I have no idea how internally you generate i32 or i64.

[2021-12-14 04:58] gongsu832 commented on #799
Done.

[2021-12-14 04:58] #799 closed

[2021-12-14 08:10] tungld opened #1061 "Segmentation fault when a model was compiled with -O0, -O1"
I got segmentation fault with many models if they were compiled using `-O0` or `-O1`, e.g. with resnet50:
[code]

There was no issue when using `-O2` or `-O3`.

[2021-12-14 15:21] AlexandreEichenberger commented on #1058
@tungld, So that is an MLIR opt, right? Is it something we can fix easily? It does not look like it. Maybe I can try to gen the alloc at the top level, what do you think?

[2021-12-14 15:26] AlexandreEichenberger commented on #1059
@gongsu832 , thanks, that explain the mystery (was grepping for `pip install`).

On the second point, could I ask you to look into separating the default make (gen of onnx-mlir and onnx-mlir-opt + lit tests that work without onnx) for our default users, plus a more complete target for our CIs and developers? That would be great. If that make could also install onnx, that would be the cherry on top

[2021-12-14 15:29] AlexandreEichenberger commented on #1061
Maybe you can quickly determine that the unoptimized LLVM IR we gen at -O3 or -O1 are the same, and if they are, then we know it is an llvm issue.

I wonder if calling `opt` at low level of optimization is the problem. @etiotto do you know? We could try skipping `opt` all together, at the very least just to see what would happen.

[2021-12-14 15:42] etiotto commented on #1058
To me that means that this opcode:
[code]

[2021-12-14 15:58] etiotto commented on #1061
IIRC `clag` calls executes `opt` passes even at -O0. Although clang does not actually calls the `opt` tools directly but rather executes opt passes internally. I haven't looked exactly how that happens in `clang` but I suspect it does not matter whether we call opt explicitly or not.

This is something that we will need to trace in LLVM.

[2021-12-14 16:36] etiotto commented on #936
@AlexandreEichenberger not yet.

[2021-12-14 22:32] renxida commented on #1041
Hi Diksha! from the following quote

You seem to have already have PyRuntime compiled.

So try removing the `/lib` at the end of `ONNX_MLIR_HOME=/root/llvm-project/build/onnx-mlir/build/onnx-mlir/build/Debug/lib` and it might work.

[2021-12-15 05:25] gongsu832 commented on #1059
@AlexandreEichenberger A seemingly simple thing like "install onnx" can turn into a nightmare simply because all the dependencies involved and there are unlimited number of host configurations that this can go run. There is simply no way to write some simple target or script and expect it to work in all these configurations. That's why we have the `onnx-mlir-dev` image for doing dev work.

And on

[2021-12-15 09:07] duanyzhi commented on #865
same error, do you fix it?

[2021-12-15 16:59] etiotto commented on #1031
@AlexandreEichenberger looking at recent commits I see that a "squashed and merge" commit has a commit msg that contains the list of msgs that belonged to the individual commits before they were squashed, example (not pointing fingers - just took a random recent commit as example here):
[code]

I think the commit should only contain a single message that summarizes the change done. Like:

[code]

[2021-12-15 17:11] etiotto commented on #996
This is probably fixed now because, the current code contains (KrnlToLLVM.cpp):
[code]
I see that @tungld has updated that line of code a month ago in #975.
Also we do have LIT tests that check for the correct call (krnl_to_llvm_omtensor_ownership.mlir):

[code]

@tungld  assigning to you, can you pls close it after taking a peek ?

[2021-12-16 06:08] Diksha-G commented on #1041
Hey Alexander,

I am running this on Ubuntu 20.04 on a VM. I am trying the new example right now that you mentioned in the earlier post.

[2021-12-16 17:20] sstamenova commented on #1031
There are two things to consider here:
1) The history of the main branch *after* commit - this is what @etiotto is trying to guard
2) The readability of the PR itself *while* the PR is happening - this is what I would like to see improve

In a perfect world, everyone's commits to their PR branch will be clean and descriptive, so when github squashes them all into a single one, the comments will ma

[2021-12-16 17:31] #1058 closed

[2021-12-16 19:00] etiotto commented on #1031
Hey @sstamenova, I see now what you are suggesting. I agree that is useful to reviewers to see the history of changes during code review.  We could attempt to do the following:
  - create new PRs as drafts, allow rebasing commits until the PR is ready for code review
  - once the PR is ready for code review, change it to a regular PR. Reviewers are free to add comments at this point
  - when the P

[2021-12-16 23:46] sstamenova commented on #1031
That process makes sense.

[2021-12-16 23:51] etiotto commented on #1031
@AlexandreEichenberger seems like we have agreement. What are the next steps. Do we have somewhere we can document the stuff above (assuming you agree as well of course).

[2021-12-17 15:33] chentong319 commented on #1031
From the discussion, I can see the benefit of using rebase. Let's update the document.

[2021-12-18 21:57] renxida opened #1072 "Crashes on Bert-squad"
[code]
segfault also happens when i attempt to use `build/Debug/bin/run-onnx-lib`.

Am I doing something wrong, or is version 10 not supported?

[2021-12-19 02:24] tungld commented on #1072
@renxida we are having issues with -O0, please -O3 or -O2 at this moment.

[2021-12-20 07:35] CHUNERnubi opened #1073 "Tool Chain Construction Problem"
I have a problem in the process of tool chain construction. When I build the onnx-mlir tool chain (when I execute the a command, `cmake - G Ninja - dcmake_cxx_compiler = / usr / bin / C + +`), the following error occur. How to solve them, and there are no problems in the previous steps. The construction platform is ubuntu2010. Thank you in advance.

the error:
[code]

[2021-12-21 04:23] Diksha-G commented on #1041
I can see the PyRuntime.cpython-…so  file in my lib folder. I have created the symbolic link from Debug/bin to Debug/lib folder. But when I open python3 and type “from PyRuntime import ExecutionSession”, it throws the error that PyRuntime not found.

[2021-12-21 04:23] Diksha-G commented on #1041
I can see the PyRuntime.cpython-…so  file in my lib folder. I have created the symbol link from Debug/bin to Debug/lib folder. But when I open python3 and type “from PyRuntime import ExecutionSession”, it throws the error that PyRuntime not found.

[2021-12-21 17:57] Diksha-G commented on #1041
Update @AlexandreEichenberger

I have been able to solve the PyRuntime Not found Error. When I execute the python script for resnet50 model, I get the following:

`  File "mlir-test.py", line 6, in <module>
    session = ExecutionSession(model, "run_main_graph")
RuntimeError: Cannot open library: 'resnet50.so'`

What am I missing here?

[2021-12-30 16:40] KrishnaPG commented on #1059
I am following the readme to build this project (`cmake --build .`) on ubuntu and it is generating the below error:
[code]
Came across this thread while looking for a solution for this error.

Not sure how to proceed. Any help is greatly appreciated.

[2022-01-04 08:37] #776 closed

[2022-01-04 14:24] renxida commented on #1041
Hi @Diksha-G !

If you don't mind, I would love to have a chat by zoom and see if I can help you. I just sent you an email!

[2022-01-04 21:29] #1016 closed

[2022-01-04 22:32] AlexandreEichenberger commented on #1058
Fantastic, thanks

[2022-01-04 22:41] AlexandreEichenberger commented on #1031
Make sense to me. Please write a nice step by step using git commands (and/or which GitHub operations are allowed/should not be allowed). Natural place would be on the doc, under contributing.

Thanks to all that contributed to finding a compromise that work for all.

[2022-01-04 22:46] AlexandreEichenberger commented on #1072
@renxida did using -O3 fixed your issue?
If not, does the model (as lowered to ONNX) has ONNX loop operators in it? If so, check the first parameter, and make sure its a small constant.

[2022-01-04 22:52] AlexandreEichenberger commented on #1073
Did you build the LLVM/MLIR before, and/or did you define the ONNX_MLIR env var?

[2022-01-04 22:54] AlexandreEichenberger commented on #1059
A simple work around is to go in the build directory and then type `make onnx-mlir` or `make onnx-mlir-opt`, use ninja if that is what you use. Unfortunately, the current default make builds way too much.

[2022-01-04 23:07] AlexandreEichenberger commented on #1041
@renxida

Sorry about this. Can you make a list of things that, in retrospect, would have helped you. I really want to make this a smoother experience for external users. We are in the process to reorganize the docs, esp the readme, so any feedback from an external source would be very useful. Please make sure to specify which OS you are using, thanks

[2022-01-04 23:09] AlexandreEichenberger commented on #1041
@Diksha-G

We are building resnet in our `make check-onnx-backend`. Is it failing there, or when you are trying on a separate model.

[2022-01-05 02:42] Diksha-G commented on #1041
@AlexandreEichenberger

I was able to get onnx-mlir to compile the onnx model and run inference on my VM after setting the LD_LIBRARY_PATH variable.

[2022-01-05 02:42] #1041 closed

[2022-01-05 19:46] AlexandreEichenberger opened #1078 "Experimentation with docker"
Attempting to use the docker tools, and here is some results of my experimentation.

First try, `docker/onnx-mlir.py` tool on a mac

[code]

Same results if I add `--EmitLib`. The `--EmitONNXBasic` works, `--EmitONNXIR`, `--EmitLLVMIR`, `'--EmitJNI` do not, all with a cannot open output file... Tested on LoZ with the same result on Z13 (BITP); on Z14 it failed to pull dockers (probably the machine

[2022-01-05 19:49] AlexandreEichenberger commented on #1078
It might be nice also to see if we can build run-on-lib so that users could have a run of the generated .so even if it does not produce any results, or adapt the example of the end-to-end mnist example in the doc to use this facility as well.

[2022-01-05 20:47] caoimhinuibrian commented on #1078
@AlexandreEichenberger I agree, if this doesn't work it should be fixed. But our discussion about recommending docker for development was not about this python script. It was about pulling the build images from our CI and working inside them.

[2022-01-05 20:54] caoimhinuibrian commented on #1078
As opposed to making sure all the prereqs were correctly installed on your machine/OS of choice, cloning the project, running the build scripts ...

[2022-01-06 04:18] renxida commented on #1072
Yes! O3 did fix my issue!

[2022-01-06 04:18] #1072 closed

[2022-01-06 10:11] gongsu832 commented on #1078
The permission error was due to a bug in `src/Transform/ONNX/ONNXOpTransformPass.cpp`:
[code]
where it's trying to create a temporary file in the current working directory, which is root inside containers. The proper way is to create a temporary file under /tmp. I have created a PR to fix it.

CI tests are typically designed to test "ground truth", i.e., things that are true regardless of the runn

[2022-01-06 16:52] etiotto opened #1080 "Update LLVM used by onnx-mlir"
We want to pick up the latest LLVM codegen capabilities, therefore we should update the LLVM version the project uses to the latest, specifically to the following commit:
[code]

[2022-01-06 19:07] AlexandreEichenberger commented on #1078
Thanks, checked that it works
[code]

Will separately update the documentation in a later PR

[2022-01-06 19:30] AlexandreEichenberger commented on #1078
Actually, I can run the model.so using the run-onnx-lib script with the onnx-mlir generated model.so, but the script does not work when working with the onnx-mlir.py generated model.so.

The failure is that the run-onnx-lib program fail to load the DLL. The code that fails is here:
[code]

Below is the objdump -t for the onnx-mlir generated so file, followed by the onnx-mlir.py generated .so file.

[2022-01-06 22:39] AlexandreEichenberger commented on #1078
There is another issue with the docker code, which I am not sure how to fix.
When using a mnist.onnx, compiling it on docker, and then running it with the python interface, the python fails to get the input_signature functions on the python execution session. The same code works on mac (non-docker version).

Using the mninst.onnx file provided here (which can also be obtained using pytorch instruc

[2022-01-06 22:42] AlexandreEichenberger commented on #1078
[mnist.onnx.gz](https://github.com/onnx/onnx-mlir/files/7825117/mnist.onnx.gz)

[2022-01-07 00:28] AlexandreEichenberger commented on #990
Simple warmup task: split the current `inferShape` into a 'verifier` that check the validity of the ops, and leave only the shape inference computation in the `inferShape`.

Here are some ops that could benefit from this: PRelu, Pow, BatchNormzlizationInferenceMode, Reshape, Unsqueeze, Squeeze, Constant, Concat, Flatten, Resize, ConstantOfShape...

I would stay away from doing this operations for

[2022-01-07 02:07] gongsu832 commented on #1078
@AlexandreEichenberger .so generated by the docker container is a Linux ELF, which I don't expect to be usable on MacOS.

[2022-01-08 02:22] chentong319 opened #1086 "Documentation related issues, questions and possible work items"
This issue is opened to record issues, questions and possible work items when we update onnx-mlir documents.

1. Are we following docs/Documentation.md now? What's the role of docs/_data/navigation.yml?
2. What's our plan for the doc check tool?
3.  Merge of CONTRIBUTING.md and docs/Workflow.md
4. In the workflow, is it required to clone with ssh instead of https in order to create PR? Should we c

[2022-01-08 03:12] sstamenova commented on #1059
I would like to see the ALL target for onnx-mlir now execute any tests - and all the test building be configurable via the `ONNX_MLIR_BUILD_TESTS`. This makes the most sense since it would not require any of the fragile steps (such as installing onnx) and it will match the behavior for llvm and mlir. Right now `ONNX_MLIR_BUILD_TESTS` only works on some (one) tests, but we could apply it to all of

[2022-01-08 03:14] sstamenova commented on #797
@gongsu832 or @etiotto : since you've touched these options in the past, are both `mcpu` and `mtriple` needed? Should `march` be added for completeness?

[2022-01-10 03:40] gongsu832 commented on #797
I don't think I did anything with these options. If I ever touched them, it was probably only because I need to preserve them when I made changes to other parts.

[2022-01-10 19:11] etiotto opened #1089 "Add an option to stop compilation after the object file is produced"
We have a number of options to stop the compilation process at various points:

[code]

I propose to add an option to stop the compilation/link process immediately after the object is generated. In most traditional C/C++ compiler (clang/gcc/xlc/...) that options is named `-c` so, I would propose we add the `-c` option to `onnx-mlir`.

An alternative name could be `-EmitObj`. Opinions/preferences ?

[2022-01-10 19:49] etiotto commented on #797
From LLVM `llc` (similar for `opt`) documentation:
[code]

So `-march` and `-mcpu` are used to provide finer level of control than `-mtriple`.

Currently `onnx-mlir` has `-mtriple` and `-mcpu`, however it lacks `-march`.  I think, for completeness and flexibility we should provide `-march` as well.

[2022-01-10 22:52] AlexandreEichenberger commented on #1089
Is the goal to generate a .o but not the .so? The .so also include the runtime library, so you suggest that the .o would only contain the graph plus the get signatures (which are custom generated I think)? Can you indicate the use case that you are thinking about?

Also, if we are looking at a more LLVM behavior, the syntax of the options should be more like `--emit-onnx-basic` than `--EmitONNXBas

[2022-01-10 23:04] AlexandreEichenberger commented on #1086
Answers for items for which I have an opinion

navigation is used for the onnx.ai/onnx-mlir website. This is what we have as the primary reference for our work.

check is to ensure that the script that we list in the md page is honest with the scripts. I am in favor of keeping it.

I suggest to merge info that is in Workflow into CONTRIBUTING. CONTRIBUTING is a very standard file to have in GitHub

[2022-01-10 23:04] AlexandreEichenberger commented on #1080
Thanks

[2022-01-10 23:12] AlexandreEichenberger commented on #1078
@gongsu832 same for windows? The `onnx-mlir.py model.onnx` generates a Linux ELF binary?
Its a bit confusing because the expectation of running a `onnx-mlir.py` is that it would mimic `onnx-mlir`. But with a warning, it can be made clear...

[2022-01-11 00:58] etiotto commented on #1089
Yes, that is the goal.  The use case is to support cross compilation where the .o(s) are generated on a build host (say Linux on Z) but for another target architecture and the link step is done on a different OS (say z/OS).  The link step (which creates the shared library) would invoke the system linker of the target architecture, and link the onnx-mlir runtime library as well as any system librar

[2022-01-11 02:08] gongsu832 commented on #1078
I don't know much about Windows but yes I would expect the same, i.e., the .so is not directly usable on the host. Yes we can add a warning if the host is not Linux.

[2022-01-11 02:27] AlexandreEichenberger commented on #1078
thanks for your input

[2022-01-11 02:27] #1078 closed

[2022-01-11 02:30] gongsu832 commented on #1089
Isn't .o already machine instructions so not good for cross compilation?

[2022-01-11 15:29] AlexandreEichenberger opened #1091 "Status of OSX build on README page"
@etiotto @gongsu832

The status of MacOS build seems stuck on "failing". Since it was recently upgraded, I assume that is should be working. Can anyone look into this? It is hopefully just a wrong link.

[2022-01-11 15:32] AlexandreEichenberger commented on #1073
@CHUNERnubi is it working for you know? By the way, we are recommending users to use Docker to test/develop our code, as dependences are much easier to handle. Please check our revised documentation, starting from the top README.md or directly here:
https://github.com/onnx/onnx-mlir/blob/main/docs/Docker.md

If its working for you now, please close this issue.

[2022-01-11 15:34] AlexandreEichenberger commented on #1061
@etiotto any progress on using -O0?

[2022-01-11 15:53] AlexandreEichenberger commented on #1059
That make sense.

- [ ] All test use ONNX_BUILD_TESTS: how far are we on this?
- [x] Make build the binaries but not test them. I tested this; typing a `make` does not invoke any tests as far as I can tell.
- [ ] Test everything using `make check-all` does not appear to be implemented.

[2022-01-11 15:59] AlexandreEichenberger commented on #1007
Is this still a problem? By the way, if you suspect that your build may be the cause of a problem, we now recommend to try building onnx-mlir using our Docker images. See here for instructions. https://github.com/onnx/onnx-mlir/blob/main/docs/Docker.md

If this is resolved, please close this issue.

[2022-01-11 16:00] AlexandreEichenberger commented on #996
closing due to inaction

[2022-01-11 16:00] #996 closed

[2022-01-11 18:09] sstamenova commented on #1059
ONNX_BUILD_TESTS: this would be fairly easy to implement since the tests it would apply to are probably just the numerical tests at this point. There may be some others, but it shouldn't be terribly difficult.

check-all: this is a little bit more complicated to implement. I took a first pass a while back and the issue I ran into is that there's no single reporting mechanism for the tests, so the

[2022-01-11 18:54] chentong319 commented on #969
To get mlir files for each pass, you need to use mlir flag "--print-ir-before-all" or "--print-ir-after-all"

Yes. Previously, user can only get location information when input is a .mlir file. Now input from .onnx input is fixed.

Location inform is line number in *.input.mlir file, no node id.

Now the gdb can step through onnx operations. I think perf should be fine if it use the same mechanism

[2022-01-12 01:55] Diksha-G commented on #1007
Hello Alexandre,

This problem has been resolved on my VM. Thank you.

I have another issue though when I infer using ONNX-MLIR. The model does not produce any correct labels. We would really appreciate any help with this. We have looked at mobilenetv2, resnet18 and resnet50 from the ONNX model zoo. We were able to produce the correct labels using ONNX Runtime but not using PyRuntime.

Regards,
Di

[2022-01-14 16:17] AlexandreEichenberger commented on #1007
Can you open a new issue with the smallest of the model that success on ONNX Runtime but not using PyRuntime? If you can add the .onnx file to the issue, that will be easiest to reproduce the error. And when you say ONNX Runtime, do you mean the Microsoft Runtime, or do you mean the C++ lightweight runtime interface of our project, and you see that one work but not the "equivalent" python lightwei

[2022-01-14 16:30] AlexandreEichenberger commented on #1007
FYI: the issue may be covered by this PR: #1100. So give it another try once this PR is in (currently approved, being verified by our CIs).

[2022-01-15 02:36] Diksha-G commented on #1007
Hey Alexandre,

Thank you for this. I have been using Microsoft Onnx Runtime to infer the onnx models from the model zoo. Also, used the same onnx models with Onnx-mlir, which produces zero accuracy.

-Diksha

On Jan 15, 2022, at 12:30 AM, Alexandre Eichenberger ***@***.***> wrote:

﻿ FYI: the issue may be covered by this PR: #1100. So give it another try once this PR is in (currently approved, be

[2022-01-18 16:38] Pierrick-Pochelu opened #1101 "Python wrapper performance issue"
Hello,
I start with a ResNet50 onnx file or a VGG19 ONNX file. I compile it to generate a SO file. Everything is working fine.

Now I want perform two things : 1) load/initialize the model in memory and 2) Fast predict with it when data samples are incoming.

I implement it copy/pasting the doc but I am hurting critical performance issue. The initiIialization step is very fast (too much <0.01sec),

[2022-01-18 18:23] etiotto commented on #1089
Depends, by default yes the object file would contain machine instruction for the architecture of the machine where the object was compiled. When `onnx-mlir` is explicitly given a triple via the `-mtriple` option we can instruct the compiler to generate objects for the architecture encoded in that triple. In that scenario the assembly code in the object would work on the target machine.

[2022-01-19 08:04] Diksha-G commented on #1007
A follow up:

I have setup the latest docker image with the fixes from #1100 but the problem of zero accuracy still persists. Here is my code:
[infer-mobilenet.py.zip](https://github.com/onnx/onnx-mlir/files/7894678/infer-mobilenet.py.zip)

[2022-01-19 09:16] tungld commented on #1007
As discussed with @Diksha-G I will take a look on the issue of mobilenet. Not sure where the problem comes from, though I see no issue using the reference model and data in the onnx model zoo.

[2022-01-19 09:25] Diksha-G commented on #1007
We run into the same issue with the Resnet50 model.

-Diksha

On Jan 19, 2022, at 5:16 PM, Tung D. Le ***@***.***> wrote:

﻿ As discussed with @Diksha-G I will take a look on the issue of mobilenet. Not sure where the problem comes from, though I see no issue using the reference model and data in the onnx model zoo. — Reply to this email directly, view it on ZjQcmQRYFpfptBannerStart
This Message I

[2022-01-19 18:43] AlexandreEichenberger commented on #1091
@gongsu832 thanks for the fix

[2022-01-19 18:43] #1091 closed

[2022-01-19 18:50] AlexandreEichenberger commented on #1101
Your observations are correct, we do not have to do anything during loading/initialization because all of the constants, for example, are loaded directly from the binary.
We currently don't optimize conv ops, which is the predominant performance component of ResNet and other conv based networks. We are working on it. If you are interested in contributing to the performance of ONNX-MLIR, we welcome

[2022-01-19 23:44] #1080 closed

[2022-01-20 18:52] #1089 closed

[2022-01-21 00:01] #797 closed

[2022-01-21 20:19] AlexandreEichenberger commented on #1031
By the way, I found an incredible easy way to achieve the stated goals from the GitHub interface.

Only do git merge during development and review... full history is preserved.
Hit "merge" button from interface as many times as needed.

When you are ready to squash and merge, the interface actually list in a text box the actual text that will be put in the log. By default, it is the current list o

[2022-01-21 21:23] caoimhinuibrian commented on #1086
What exactly does this question mean? Why should we worry about how one clones the repo?

[2022-01-21 21:27] caoimhinuibrian commented on #1086
@AlexandreEichenberger What do you mean by "push PRs directly to the main repo"?

[2022-01-22 02:44] gongsu832 commented on #1086
Indeed, https and ssh are just different ways to establish a secure connection to the github repo. They have no bearing on git operations such as pull, push, merge, etc.

[2022-01-22 02:53] gongsu832 commented on #1086
I think he meant "work on a clone of a forked repo" instead of "work on a clone of the onnx-mlir repo", which I would agree.

Instead of cloning directly the original onnx-mlir repo and creating and pushing PRs on the onnx-mlir repo, one should create a fork of the original onnx-mlir repo and clone and work on the fork instead. We have privileged users working directly on the original onnx-mlir re

[2022-01-24 14:12] etiotto opened #1115 "LLVM commit breaks onnx-mlir"
onnx-mlir fails to build when using LLVM commit https://github.com/llvm/llvm-project/commit/676bfb2a226e705d801016bb433b68a1e09a1e10
[code]

[2022-01-24 16:46] AlexandreEichenberger commented on #1086
yes, exactly

[2022-01-25 03:02] Diksha-G commented on #1007
The issue was preprocessing - need to use numpy_helper from onnx before feeding as input for inference. Thanks @tungld for the fix.

[2022-01-25 03:02] #1007 closed

[2022-01-25 05:59] tungld opened #1117 "SIMD for MatMul when M=1"
I have the following MatMul of NxK and KxM where N and K are large and M is 1:
[code]

When lowering it to affine by using `onnx-mlir-opt --shape-inference --convert-onnx-to-krnl --convert-krnl-to-affine --canonicalize`, we get the follows:
[code]

Looking at `%arg3` and `#set(%arg3)`, it seemed that the condition in `affine.if` would return false and SIMD code would be not used.

@AlexandreEichen

[2022-01-25 14:36] #1115 closed

[2022-01-25 19:08] AlexandreEichenberger commented on #1117
The affine condition does not know that `d0` can only have the value `0`. I can add code to ensure that if the M dimensions is known to be smaller than the SIMD with, to disable simd for that operation.

[2022-01-25 20:36] etiotto opened #1120 "Choice of placeholder type during ONNX translation to onnx mlir dialect"
During code review of https://github.com/onnx/onnx-mlir/pull/1110 there was a discussion on the meaning of `tensor<*xf32>`.
Currently that type is used as a placeholder for the output type of the onnx mlir dialect operators (during translation of a ONNX graph into the dialect).  The placeholder type is used to indicate that the output tensor has no rank and also no known element type.

The MLIR do

[2022-01-25 20:42] doru1004 commented on #1120
The true solution is to use `tensor<*>` i.e. unknown shape and type. I'm not sure this is something that MLIR currently supports.

Whichever type we end up using, shape inference will be the first pass that runs and will infer every aspect of the type: shape and element type for the output of every ONNX Dialect operation.

[2022-01-26 00:52] tungld commented on #1117
Can we simdize MatMul in this case? Given that N and K are large, computation is slow.

[2022-01-26 01:10] tungld commented on #1120
Could we define an unknown element type, say `any`, and use `tensor<*xany>`?

Anyway, I found a thread related to this: https://llvm.discourse.group/t/rfc-tensors-with-unknown-element-types/1039/24

[2022-01-26 04:26] AlexandreEichenberger commented on #1117
True, there may be a special case for J = 1 dim. Let me think about it some more. The #1123 PR simply disable SIMD.

@tungld do you have an idea of how frequent this situation is?

[2022-01-26 08:30] tungld opened #1125 "onnx-mlir does not check types and shapes of inputs"
Currently, onnx-mlir does not check the shapes of inputs passed to a model, which would cause wrong results or even segfault.

For example, an input program is:
[code]

which expects 4x4 and 4x3 matrices.

A python program for the above program is:
[code]
This program produces a correct result though the input shapes does not match the model input shapes, that is:
[code]

A real issue happens when

[2022-01-26 15:11] AlexandreEichenberger opened #1126 "Command line options and Environment variables"
Decisions: We need both command line options and environment variable for many of the compiler options.

Here is how we can keep sanity
1. Options to ONNX-MLIR are self described using the `--help` flag. When an env variable is also listed (and they are needed for many of the options), we should list the env name. Priority is option line command first, then env variable.
2. To the extent possible,

[2022-01-26 15:58] AlexandreEichenberger commented on #1125
That is true. Broadening the scope of this issue.

At this time, we do shape verification for ops with shapes known at compile time (e.g. above if the mat multiple was 4x3 * 4x4, we would report an error). We do not insert any code when the dimensions are dynamic. So we assume anything at runtime is fine.

So in general, we do not do any dynamic type checking. To do so, we would essentially need t

[2022-01-26 19:56] chentong319 commented on #1125
We can check the input shape using the input signature when the model is invoked, outside of the onnx-mlir .so. It's a good task for students.

[2022-01-27 00:47] tungld commented on #1125
Would this generated code affect optimizing the whole code?
Given that IndexExprs are composable, we can call `VerifyShape` for all ops at once which results in a single IndexExpr whose generated code would be very lightweight.

[2022-01-28 21:52] AlexandreEichenberger opened #1136 "compiler warning in FrontendDialectHelper.cpp"
a recent commit introduced this warning

[code]

The proper case should be added, or a default with llvm-unreachable.

[2022-01-28 21:52] AlexandreEichenberger commented on #1136
@chentong319 do you mind to have a look? Thanks

[2022-01-29 00:16] AlexandreEichenberger commented on #1117
Keeping it open as we really want to generate simd code for that.

[2022-02-02 15:46] etiotto opened #1145 "[Lowering onnx.Cast]: error: 'arith.constant' op integer return type must be signless"
The MLIR below fails to compile with the following error:

[code]

[code]

Note: this is a reduced test case from the `gpt2-lm-head-10` model in the model zoo.

[2022-02-02 16:07] AlexandreEichenberger commented on #1145
By the way, thanks for finding the offending op... I know it was work with these large constants

[2022-02-03 05:41] tungld opened #1152 "Accuracy issues in yolo models"
Reposted an issue reported by @cjvolzka

For this issue I'm focusing on yolov3 (yolov3.onnx from onnx-model zoo) as an example but we're seeing similar results in other models we tried like ssd-10, tiny-yolo-v3-11, and yolov4.

For the yolov3, there's three output tensors for each inference. The first output tensor values have accuracy issues compared to the expected results. The second tensor app

[2022-02-03 05:46] tungld commented on #1152
Using `RunONNXModel.py` to debug tiny-yolov3 by verifyfing every operation output, I found that it seemed a LoopOp produced wrong results:
[code]

Looked like values were shifted by `1`.

[2022-02-03 14:15] AlexandreEichenberger opened #1155 "Questions about our Runtime and Compiler interfaces"
I have a few general questions about our Runtime and Compiler interface.
As I am working on a benchmarking benchmark, it is making me revisit our interfaces as I am trying to see if we can have our benchmarking not tied so tightly to ONNX-MLIR/MLIR/LLVM. This is what the Runtime and the Compiler interface are about.

C vs C++
* Runtime Interface
  * build in C and C++ library
  * a common header f

[2022-02-03 16:13] gongsu832 commented on #1155
Regarding the Runtime Interface, `OnnxMlirRuntime.h` sits under `include`, which is the public C/C++ runtime API header to be included by the users. `OMTensorHelper.h` on the other hand, sits under `src/Runtime`, which is part of the runtime implementation not visible to the users. So the two .h files don't really have direct relationship to each other. This is how it's designed.

I agree that the

[2022-02-03 19:42] #1152 closed

[2022-02-03 20:21] AlexandreEichenberger commented on #1155
On my x86 docker, the `make check-onnx-backend-compilerlib` now works for me, I did some fixes to it when changing options, but I don't recall fixing anything with the `libcruntime`.

I agree that the two are separated, and only the C interface is exposed. The `OMTensorHelper.h` being only C++ file could be renamed using the `hpp` extension, though.

On the Runtime side, I understand the need of h

[2022-02-03 20:46] MikeHolman commented on #1155
It doesn't technically need to be compatible with C, I just wanted a stable interface that didn't bring in dependencies like requiring specific libstdc++ version, etc. and in my experience C interface is the most robust way to go. We use this library to compile models, and we use a separate engine for executing them.

[2022-02-03 21:30] AlexandreEichenberger commented on #1155
@MikeHolman Thanks for the answer. What puzzle me is that the dependences basically include the entire LLVM/MLIR/ONNX-MLIR.

[code]

and CompilerUtils
[code]

So doesn't that include already all of the C++ standard libs? Sorry if I miss something, or maybe it is because the import of CompilerUtils is in private, so you don't have the C++ in the public space? Just trying to understand. For the Runt

[2022-02-04 01:35] MikeHolman commented on #1155
Yes, LLVM/MLIR are a dependency of OnnxMlirCompiler, but the embedder of OnnxMlirCompiler doesn't need to know anything about them. As far as C++ compat goes, I'm not an expert (especially with Linux) but most of the incompatibilities I've experienced happen when passing stl containers across dll boundaries, and that was primarily what I was avoiding.

This is somewhat academic since C compat is n

[2022-02-04 02:32] gongsu832 commented on #1155
To be consistent with OnnxMlirRuntime and since we cannot force everyone to use C++, OnnxMlirCompiler should also have a C interface.

[2022-02-04 08:20] tungld opened #1157 "ResizeOp in yolov4 produced a wrong output"
Inference accuracy of [yolov4](https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/yolov4/README.md) was wrong.

I used RunONNXModel.py to check which op caused the wrong result.
[code]
and found that it is ResizeOp:
[code]

This is ResizeOp in yolov4:

[code]

[2022-02-04 08:22] tungld commented on #1157
@chentong319 you are familiar with ResizeOp, could you please take a look at this issue? Thanks!

[2022-02-04 08:32] tungld opened #1158 "NonMaxSuppresion in ssd-10 model produced a wrong result."
Inference accuracy of [ssd-10](https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/ssd/README.md) was wrong.

I used RunONNXModel.py to check which op caused the wrong result.
[code]
and found that it is NonMaxSuppresion:
[code]

This is NonMaxSuppresion  in ssd-10:

[code]

[2022-02-04 14:08] #1145 closed

[2022-02-04 15:05] AlexandreEichenberger commented on #1155
Thanks for your insight

[2022-02-05 08:06] #1158 closed

[2022-02-06 05:31] chentong319 commented on #1157
Thanks @tungld. I identified the possible source of error: I did not pad the tensor for Resize. I will fix it.

[2022-02-07 00:42] tungld commented on #1157
Great! Thank you for looking at this issue!

I am not sure whether padding is similar to PadOp, e.g. "edge" mode, "reflect" mode, or not. Just in case they are similar, we can refer to PadOp where such modes are fully implemented.

[2022-02-07 17:38] chentong319 commented on #1157
@tungld It's a padding with "edge" mode. Since it is form read only, no need to really pad the tensor.
The [PR](https://github.com/onnx/onnx-mlir/pull/1165) was created and passed the test of extracted test case.

[2022-02-08 00:42] AlexandreEichenberger commented on #1155
PR #1167 provides an interface to use onnx-mlir options.

[2022-02-08 00:43] AlexandreEichenberger commented on #1155
@MikeHolman please provide feedback if you can, could not add you as a reviewer, since you wrote the interface to begin with, you probably are interested by this changes.

[2022-02-08 04:36] tungld commented on #1157
Revolved by #1165

[2022-02-08 04:36] #1157 closed

[2022-02-08 15:18] chentong319 commented on #1126
Options for onnx-mlir-opt should be considered too.

[2022-02-08 15:37] AlexandreEichenberger commented on #1126
Good point, it is possible in this PR. Through the ONNX_MLIR_OPT_FLAGS and the command line options, you have access to all options. And through the interface directly, you can set all of the options that can also be set in ONNX_MLIR for the `enum OptionKind {...}
`.

I decided  not to share the same default env var between onnx-mlir and onnx-mlir-opt because they have different options.

[2022-02-08 15:39] chentong319 commented on #1136
@AlexandreEichenberger I pushed the fix with PR#1168.

[2022-02-09 15:22] chentong319 opened #1170 "BF16 cause error in llc"
Priority: low
When I compile the following test case (bf16.mlir), I got error in llc stage. Not sure whether this issue is caused by onnx-mlir or llvm. The bf16 support is new in llvm (PR in June 2021) and onnx-mlir does not specially handle bf16 type in the transformation. We may generate incorrect code. I did some investigation. For example, in MathBuilder, constant method does not have case for

[2022-02-09 19:00] chentong319 opened #1171 "Problem caused by the "name" attribute added to ONNXConstantOp"
The problem is with check-onnx-lit.

In the onnx-to-krnl pass, a name attribute is added to ConstantOp with unique ID, such as "constant_0" and "constant_1".
When a test case is added to onnx_lowering.mlir, the assumed common practice is to run the new test case separately and use `utils/milr2FileCheck.py` to generate the check code. But when the test case is added into onnx_lowering.mlir, the num

[2022-02-10 00:37] tungld commented on #1171
As I know, these names will be used to generate global constants in LLVM, so even at this high level we must ensure that they are unique. In that sense, it seems too early to have them at high level. One suggestion is to remove these name attributes and we will automatically generate them when lowering krnl to llvm.

[2022-02-10 15:42] chentong319 opened #1174 "Quick question: what namespace should we use?"
1. If onnx-mlir is treated as a project under mlir, we should put all the onnx-mlir code under ::mlir::onnxmlir name space and the onnx dialect under ::mlir::onnxmlir::onnx namespace. Or we can just use ::mlir::onnx and ::mlir::onnx::onnx like torch-mlid project.
2. If we just treat onnx dialect as a dialect under mlir, then onnx should be under ::mlir::onnx namespace.

I prefer option 1. Option 2

[2022-02-10 16:12] AlexandreEichenberger commented on #1174
I like your suggestion. I am not sure I can appreciate the difference between having a flat "mlir" and "onnxmlir" vs "mlir" and "mlir::onnxmlir". I would lean towards what other project did on this one.

[2022-02-10 16:22] AlexandreEichenberger commented on #1155
Next on my list for interfaces: right now, we have no "execution session" interface. I know that we can simply call
[code]
when the lib is statically linked. For dynamically linked, we provide (internally only) the ExecutionSession class. This one is not exported in our interfaces, and is strictly C++

It would not be too hard to make a C interface, which would depend on the `dlopen/dlclose/dlsym`

[2022-02-10 16:49] gongsu832 commented on #1155
Not sure what you are asking. The model runtime is always generated as a shared lib. You can call `run_main_graph` directly if you link against `model.so` (it really should be called `libmodel.so` to be more conformant) at compile time. If you don't, you can use the `dlopen/dlclose/dlsym` calls to load the lib and resolve the `run_main_graph` symbol yourself at runtime and call it.

Are you saying

[2022-02-11 01:08] AlexandreEichenberger commented on #1155
Yes, something of the sort... but to be more efficient for repeated calls, it is better to load the symbol once, then be "allowed" to run it many times... and the close it when done.

[2022-02-11 01:39] gongsu832 commented on #1155
It is loaded once when you link against `libmodel.so` and just repeatedly call `run_main_graph`. Pretty much the only difference between linking against `libmodel.so` and calling `dlopen/dlclose/dlsym` is whether you let the loader do the job of resolving `run_main_graph` for you or you do it yourself. So I'm still not sure what exactly you have in mind. Perhaps some example use case may help.

[2022-02-12 07:40] imiiii commented on #1061
Hi, I get
6540 segmentation fault (core dumped)  when running ./onnx-mlir --EmitMLIR model.onnx --O1
But I did not get any error when I am running
./onnx-mlir --EmitMLIR model.onnx --O3
It dumped model.onnx.mlir, I want to know that is this file usable for entry to mlir-opt in MLIR project ??

[2022-02-16 10:53] tungld opened #1183 "Support multiple entry points"
Currently, onnx-mlir has not yet fully supported multiple entry points in a model, e.g. We assume there is only a single entry point, that is `run_main_graph` and provide `omInputSignature()` and `omOutputSignature()` functions for querying the input/output of the entry point. However, we would like to extend these signature functions in order to support multiple entry points.

Example of a multi-

[2022-02-16 12:03] gongsu832 commented on #1183
I don't know how much complexity option #1 adds to the internal code but from the backward compatibility point of view option #1 is preferred. Typically, you would designate a "default" entry point so that the existing `omInputSignature()` and `omOutputSignature()` would return signatures for the default entry point and add the new functions `omInputSignature(entry_point_name)` and `omOutputSignat

[2022-02-16 14:43] tungld commented on #1183
@gongsu832 so, looks like approach 2 eases the burden on users. `omInputSignature` is a function emitted in LLVMIR, so it cannot be overloaded. If we provide only `omInputSignature(entry_point_name)`, is it fine for C, C++, and Java interfaces? They should know the default entry point is "run_main_graph" and pass it to `omInputSignature`.

[2022-02-16 15:27] gongsu832 commented on #1183
@tungld You mean approach 1 eases the burden on users? It should be fine if we provide only `omInputSignature(entry_point_name)`. C/C++ callers will have to make a small change to existing code. Java has its own wrapper `inputSignature()` around `omInputSignature()` so we can just add the new `inputSignature(entry_point_name)` wrapper without requiring Java code change.

[2022-02-17 00:27] tungld commented on #1183
Yes, my mistake. I mean approach 1.

[2022-02-21 16:18] AlexandreEichenberger commented on #1183
@tungld,

I think we must be very clear on what the "entry point" are. It may be self evident to us now, but this is important for the user as they are exposed to these names. Is it correct that these "entry point" are actually the symbol of the compute function? If so, they are exposed to the user as if you have a statically linked compute function, like in many of our examples, we expect the use

[2022-02-22 20:06] sjarus opened #1194 "[RFC] Contributing an ONNX to TOSA legalization pass to onnx-mlir"
Hello, I work in the ML Technology group at Arm and am the principal developer of the [TOSA dialect](https://mlir.llvm.org/docs/Dialects/TOSA/) in MLIR. The TOSA spec is [here](https://developer.mlplatform.org/w/tosa/). We also contributed legalizations from [TensorFlow  / TensorFlow Lite](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/mlir/tosa) and more recently [PyTorc

[2022-02-22 20:11] stephenneuendorffer commented on #1194
I'm really excited to see this.  This is something that Xilinx/AMD should be able to help build out.

[2022-02-22 21:16] stellaraccident commented on #1194
I'm really excited to see this as well. Better connections here have long been on my wish list and seemed like gaps we could solve and make things better connect for everyone.

[2022-02-22 21:29] rsuderman commented on #1194
It would be awesome to see this land. ONNX has done an admirable amount of work in defragmenting the ML space and having it target a hardware / codegen motivated IR would be an asset to the entire community.

[2022-02-22 21:52] AlexandreEichenberger commented on #1194
Hi @sjarus

Thanks for starting this discussion.

We have thought of ways to interface with MLIR in different ways, right now we do that at the Affine/SCF/Vector... level. An approach build on TOSA may indeed provide another path to optimized code. We will need a bit of time to familiarize ourselves with TOSA and learn more about your thoughts on how to use ONNX-MLIR.

At a high level, such an int

[2022-02-22 22:12] AlexandreEichenberger commented on #1194
For ref
[tosa_spec.pdf](https://github.com/onnx/onnx-mlir/files/8120502/tosa_spec.pdf)

[2022-02-23 00:14] sjarus commented on #1194
Thanks for the detailed response @AlexandreEichenberger!

Yes it can indeed be an option - when we implemented enough of a critical mass of TorchToTosa, we simply leveraged TosaToLinAlg (primarily authored by @rsuderman here) and it 'just worked' e2e. TosaToSomethingElse can also be done for a backend that needs it.

This is also seen in PyTorch, which isn't surprising. Our expectation is that for

[2022-02-23 02:17] AlexandreEichenberger commented on #1194
Lots of information, at some time we will need to go in depth step by steps.

On your last question, the ONNX runtime, which is really just creating/deleting/querying of OMTensor and OMTensorList, is described here
* http://onnx.ai/onnx-mlir/doxygen_html/OMTensor/_o_m_tensor_8h.html
* http://onnx.ai/onnx-mlir/doxygen_html/OMTensorList/_o_m_tensor_list_8h.html
The actual header files are located in

[2022-02-23 03:47] caoimhinuibrian commented on #1194
This looks like an interesting project.

[2022-02-23 04:20] sjarus commented on #1194
This is a question with multiple answers.

First, TOSA has the reference model described earlier. This is written using Eigen, and can be fundamentally viewed as a functional runtime. We have a pass (https://git.mlplatform.org/tosa/tosa_mlir_translator.git) that converts TOSA MLIR to flatbuffers serialized form. The reference model consumes this form, and is a simple graph executor.

This is backe

[2022-02-23 19:32] etiotto commented on #1194
So far we lower the ONNX dialect to our own internal Krnl dialect. Adding integration with TOSA might allow us to lower ONNX operators to TOSA without impacting/breaking the current support we have. I hope that over time we will be able to either lower certain ONNX operator to TOSA, and other to Krnl, or  lower some Krnl operators to (a combination of TOSA operators). I think the choice will be di

[2022-02-23 20:30] AlexandreEichenberger commented on #1194
@sjarus

Trying to rephrase your answer to make sure I understood well.

For TOSA, you have to ways to implement it via MLIR.
1. One way is to emit for TOSA operations calls to Eigen (or similar library).
2. Another way is to lower the TOSA ops to lower MLIR ops (linalg, affine, sci, standard, vector,...).
Is that correct? If so, which solution are you interested in? 1, 2, or a combination of 1 &

[2022-02-24 00:20] sjarus commented on #1194
Both. 2 is more easily understood, but I'd like to describe how 1 can be useful: let's say an accelerator or FPGA is being developed to be TOSA compatible. The TOSA reference model becomes a golden reference in this context, enabling random test and validation of the in-development hardware. Further, it affords a validation midpoint for backend software development, to ensure the final codegen is

[2022-02-25 05:08] #1183 closed

[2022-02-25 19:27] codemzs opened #1201 "Upgrade to ONNX opset-16"
Hi All,

ONNX 1.11.0 was released recently, it has bf16 type supported added to some of the existing ops like Where, GreaterOrEqual, LessOrEqual. I was wondering if there is a plan to take a dependency on the latest ONNX release?

[2022-02-28 21:56] codemzs commented on #1201
@chentong319 @AlexandreEichenberger

[2022-02-28 23:40] etiotto opened #1206 "Embed compiler identification string"
I have seen compilers that embed the name of the compiler used to create the executable in the .comment section of the exec (on Linux). For example for an exec compiled using clang (note `clang version 12.0.1` in the dump below):
[code]

For a `.so` corresponding to a simple model (compiled by onnx-mlir), we have:
[code]

So the string to identify the compiler is missing.

The fact that `clang` is

[2022-03-01 20:23] etiotto commented on #1206
@whitneywhtsang want to take a look when you have some time?

[2022-03-01 20:26] etiotto opened #1209 "[Bug]: returning address of memory associated with a stack variable."
I saw this error when building with `clang`:

[code]

[2022-03-01 20:44] etiotto commented on #1206
Should be able to attach metadata to the module, similar to what is done in PR https://github.com/onnx/onnx-mlir/pull/1205/files

[2022-03-02 00:35] whitneywhtsang commented on #1206
https://github.com/onnx/onnx-mlir/pull/1211

[2022-03-03 13:59] #1206 closed

[2022-03-07 03:34] zhangxj19 opened #1225 "No Batchnorm in A Simple NN Like Lenet"
Here is my simple version of Lenet which is composed of 1 conv layer and 1 linear layer.
There is a batchnorm right after the conv.
![image](https://user-images.githubusercontent.com/32873170/156962425-1f7b4c77-8a54-4ca2-a2f3-b6f6f289d6e6.png)
But there is no batchnorm after the conv even I turn off the conv-bn-fuse pass (Actually I turned off all the passes)
![image](https://user-images.githubuse

[2022-03-07 09:04] tungld commented on #1225
Could you check if your .onnx model really contains a batchnorm or not please? You can open a .onnx model by using https://netron.app/.

[2022-03-07 16:14] AlexandreEichenberger commented on #1201
We plan to update to newer opset, it will take some time as sometime there are compatibility breaks with existing (aka older) ops

[2022-03-07 16:16] AlexandreEichenberger commented on #1209
@etiotto Is this being addressed?

[2022-03-07 16:25] codemzs commented on #1201
Thanks @AlexandreEichenberger . Do you by chance know the timeline?

[2022-03-07 16:53] AlexandreEichenberger commented on #1209
I see it is being addressed by #1210

[2022-03-07 18:30] AlexandreEichenberger commented on #1201
I do not know at this time. Is it something that you or your org would be able to help? We need help from the community to make forward on multiple fronts: optimizations, new ops, and latest opset. It is a balancing act, and external involvements are taken into account for priorities.

[2022-03-08 08:17] zhangxj19 commented on #1225
You are right. There is no batchnorm in onnx model.
![image](https://user-images.githubusercontent.com/32873170/157194619-b49b86b1-0a89-4c08-beec-88628d355465.png)
It's weird since there are indeed batchnorm in pytorch model.
![image](https://user-images.githubusercontent.com/32873170/157195028-5f7758a4-bbfc-4402-8dd2-edb62173d616.png)
Here is the code How the pytorch model is export to onnx.
![im

[2022-03-08 08:20] zhangxj19 commented on #1225
I found the solution below
https://github.com/pytorch/pytorch/issues/49226
Thank you for answering!

[2022-03-08 08:20] #1225 closed

[2022-03-08 08:33] zhangxj19 opened #1229 "How to run compiled model on GPU?"
Recently I'm trying to run the onnx-mlir-compiled model on GPU.
Here is my idea:
krnl/affine/std -> memref/affine/std -> GPU Dialect ->LLVM IR -> NNVM -> PTX
I have no idea whether it will work. If not, could you please share me some of your points? Thank you very much.

[2022-03-09 00:20] etiotto opened #1230 "g++ warnings in test/unit/TestInstrumentation.cpp"
Using g++ on Linux I get the following warnings:

[code]