[2020-03-02 02:42] linkerzhang opened #4 "The name of ONNF is misleading"
ONNF is indicating that ONNX is another ML frontend (like tf, pytorch, etc), which is not true and adding chaos when promoting it to be a shared (common) mlir dialect later (which I think is the one of the goals of this work).

How about naming it as "ONNX dialect" directly? @tjingrant

[2020-03-02 03:27] tjingrant commented on #4
If we go with the onnx-mlir branding, will it resolve your concern? It'd be a bit simpler.

[2020-03-02 04:51] caoimhinuibrian commented on #4
I agree. We should just drop the ONNF name, it’s not actually adding anything.

Kevin

[2020-03-02 05:57] tjingrant commented on #4
Sounds good, will switch to onnx-mlir throughout our codebase.
@linkerzhang please let me know your thought!

[2020-03-02 13:10] linkerzhang commented on #4
Thanks! onnx-mlir is better than onnf :), though I'll be open to other even more descriptive names if any (I'm not good at naming at all, btw.).

[2020-03-02 13:11] linkerzhang opened #6 "Enable windows build/install."
Besides Linux build and install, windows build/install should also be supported (MLIR itself supports windows build, btw).

[2020-03-03 06:43] tjingrant commented on #6
I'm not aware of anyone in our group who's familiar or even have access to a windows machine. I'm personally willing to work with someone from Microsoft to enable a windows-based CI. The trickest part is always in the linking stage (from my experience building onnx-mlir on Linux and Mac), so it'd be nice if there could be someone from your side who's familiar with the c++ compilation/linking on Wi

[2020-03-03 23:47] linkerzhang commented on #6
Sounds good. we'll do that. keep this issue open to track it.

[2020-03-05 02:36] tungld opened #10 "Shape-inference does not work for more than 16 operations"
shape-inference works well if we have less than or equal to 16 operations, but it does not work for more than 16 operations.

E.g. Running `onnf-opt --shape-inference test.mlir` with the following `test.mlir`:
[code]
would result a correct output:
[code]

If we add one more op into `test.mlir` as follows.
[code]
The output of running `onnf-opt --shape-inference test.mlir` is:
[code]

[2020-03-05 13:32] bhack commented on #4
As the ONNX dialect is a quite different third party dialects cause It is related to a standard do you plan to contribute It in https://github.com/llvm/llvm-project/tree/master/mlir/lib/Dialect?

[2020-03-05 17:45] doru1004 commented on #10
Solved by https://github.com/onnx/onnx-mlir/pull/12

[2020-03-05 20:33] doru1004 opened #13 "Incorrect commit authorship"
The last three commits to trunk seem to have been wrongly attributed to me (the person who pushed the merge button) instead of being attributed to @tungld  (the author of the PRs).

It looks like this is a consequence of some recent changes to GitHub:
https://github.com/isaacs/github/issues/1303
These changes are in the process of being reverted.
In the meantime we should fix the authorship of the

[2020-03-06 00:13] tungld commented on #10
Thank you for looking at this issue! We can use “closes #10” in the description box of the PR, so that this issue will be closed automatically when the PR lands.

[2020-03-07 12:37] bhack commented on #4
There is just a new doc if you are interested https://github.com/llvm/llvm-project/blob/master/mlir/docs/CreatingADialect.md

[2020-03-07 15:30] tjingrant commented on #4
It is one of our goals to try and see if there is a place for ONNX to exist within MLIR core. But it seems like we have some distance to cover and more work/discussions are needed before we can tell whether MLIR core is the right place for ONNX dialect and whether the MLIR community is willing to accept the ONNX dialect - c.f. https://groups.google.com/a/tensorflow.org/forum/#!msg/mlir/CUL3_8fnJb4

[2020-03-07 15:49] bhack commented on #4
Yes but the MLIR community position was a little bit evolved from the google group post.
I.e. See https://llvm.discourse.group/t/development-of-high-level-tensor-compute-primitives-dialect-s-and-transformations/388/57

[2020-03-09 01:29] tungld opened #15 "Support unknown dimension in ONNXPadConstantValuePadOp's shape-inference"
It looks like ONNXPadConstantValuePadOp's shape inference did not take care of unknown dimensions.

Example program:
[code]

Run with shape-inference pass: `onnf-opt --shape-inference test.mlir`, output is:
[code]
The correct output shape should be: `<?x?x?x?>` instead of `<?x3x?x3>` because we did not have actual dimension values from the input to infer actual dimension values for the output.

Th

[2020-03-09 09:29] tungld opened #16 "Semantics of ONNXPadConstantValuePad"
I wonder what is the current semantics of ONNXPadConstantValuePad.

From a test about ONNXPadConstantValuePad here: https://github.com/onnx/onnx-mlir/blob/master/test/mlir/onnx/onnx_shape_inference.mlir#L279
[code]

I guess `pads = [0, 2, 0, 0]` was interpreted as `[0, 2]` (first and second elements) are pads for the first dimension and `[0, 0]` (third and fourth elements) are pads for the second

[2020-03-09 09:29] tungld commented on #16
@chentong319 any thought on this?

[2020-03-09 12:53] chentong319 commented on #16
@tungld Thanks to point out. The pad is  [x1_begin, x2_begin...x1_end, x2_end,...]. I will modify the code.

[2020-03-09 17:42] AlexandreEichenberger commented on #4
Thanks, nice to hear that they are softening on the usefulness of the ONNX dialect. I concur with Tian that it would be best for us to continue developing the dialect separately for a little while so that we may come with a comprehensive approach.
Alexandre-----------------------------------------------------------------------------------------------------Alexandre Eichenberger, Principal RSM, Adv

[2020-03-09 17:48] bhack commented on #4
Ok but try to early interact with them on discuss/Discord.

[2020-03-10 00:41] jacky82226 commented on #6
Thank you for the reporting. I am working on this.

[2020-03-10 02:52] tungld opened #19 "Ops in some ONNX models"
Here, we enumerate ops used in some popular models, and summarize their implementing status in onnx-mlir. An op is available once its backend tests have passed.

(PR: means still in pull request, Y: Yes)

| Operator           | Available in onnx-mlir | [MNIST (opset v8)]( https://github.com/onnx/models/tree/master/vision/classification/mnist) | [ResNet50 (opset v8)]( https://github.com/onnx/models

[2020-03-11 15:00] doru1004 commented on #10
Resolved.

[2020-03-11 15:00] #10 closed

[2020-03-11 17:59] doru1004 opened #24 "Dynamic dimension for reshape output not inferred"
In the case below:

[code]

The output shape has a dynamic dimension which could be inferred since all other dimensions are known.

[2020-03-11 17:59] doru1004 commented on #24
Solution in #22

[2020-03-11 18:02] doru1004 opened #25 "Cover case when default attributes are skipped"
In the case of ConvNoBias the auto_pad and group attributes are sometimes omitted in the ONNX model. In this case, ensure that when the shape inference pass is run and the default values are fetched for these attributes, they are also set inside the operation.

[2020-03-11 18:02] doru1004 commented on #25
Solution in #22

[2020-03-11 23:49] tungld commented on #16
@chentong319 Thanks for fixing this issue with PR #27!
We also need to fix this in ONNXPadConstantValuePad's shape inference method. Besides, there is one more issue (#15) which is related to the shape inference.

[2020-03-12 16:34] chentong319 commented on #16
@tungld I pushed a change for issue #15 and this one.
I changed the test case for max pool. Please check whether the change is correct.

[2020-03-16 01:05] #16 closed

[2020-03-16 01:06] #15 closed

[2020-03-16 23:04] doru1004 commented on #4
Fixed by https://github.com/onnx/onnx-mlir/pull/32

[2020-03-17 00:45] jacky82226 opened #33 "Build onnx-mlir error: MLIRMlirOptMain NOTFOUND"
I bumped into an error while running for build onnx-mlir:
`export LLVM_PROJ_SRC=/mypath/llvm-project/`
`export LLVM_PROJ_BUILD=/mypath/llvm-project/build`
`mkdir onnx-mlir/build && cd onnx-mlir/build`
`cmake ..`

The error is:

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake fil

[2020-03-17 02:13] tjingrant commented on #33
It sounds like you are using an older version of MLIR.
Can you try cloning it from https://github.com/clang-ykt/llvm-project?

[2020-03-17 23:49] jacky82226 commented on #33
I was using the latest version of llvm-project.
Besides, I just tried to rebuild llvm-project with https://github.com/clang-ykt/llvm-project.
Unforunately, I still encountered the same error: MLIRMlirOptMain NOTFOUND.
Maybe it is because I built it in Windows?

[2020-03-18 14:15] #4 closed

[2020-03-18 20:37] doru1004 opened #36 "Constants in ONNX models"
This issue is open to keep track the status of the handling of constant model inputs in ONNX-MLIR.

Trained ONNX models contain constant values that store the outcome of the training. As an example of such a model the MNIST model contains the following tensors as constants:

[code]

In the current version of ONNX-MLIR constants are emitted as part of the ONNX MLIR code as Constant ONNX dialect ope

[2020-03-19 03:00] imaihal opened #37 "Constant values are all zero on zLinux"
When I tested MNIST on zLinux referring to this script https://github.com/onnx/onnx-mlir/pull/30, the results were not correct. So, I looked into this issue.

This seems to be because Constant values are all zero as shown bellow.
 I confirmed `typeArray` and `arrayAttrInitializer` are correct by printing them here.
https://github.com/onnx/onnx-mlir/blob/master/src/builder/frontend_dialect_helper.c

[2020-03-19 08:15] tjingrant commented on #33
Hi @jacky82226 MLIR is being actively developed (and thus modified in non-backward-compatible ways), so using the latest version of llvm-project may actually bring more harm than good.

Let's check if you have MLIRMlirOptMain, can you visit llvm-project/build/lib and do the Windows equivalent of:
[code]

You should find `MLIRMlirOptMain.a` there. If not, you didn't install our supported version lf

[2020-03-20 07:05] aaronsm opened #41 "Undefined attribute when importing ONNX 1.0 MNIST model"
What version of ONNX is supported?

I tried onnx-mlir with the ONNX 1.0 MNIST model from here [1]. It looks like every node has an undefined attribute which seems wrong and crashes the tool. If I use the ONNX 1.2 MNIST model from the same website the tool works.

$ ./onnx-mlir --EmitONNXIR mnist/model.onnx -debug

ImportNode=Constant
'value' undefined
Assertion failed: (false && "datatype for attr

[2020-03-20 07:09] tjingrant commented on #41
@aaronsm our current opset version support policy has been somewhat vague, the clarification of which is a work item near the top of our todo list.

We currently support only the latest opset version, and we plan to expand the scope of our support imminently. Will keep you posted on this thread.

[2020-03-20 08:23] tjingrant opened #42 "[RFC] Opset Version Support"
To summarize our discussion on our support for ONNX opset versions,  I'm opening up an RFC thread to discuss and track the status of implementation.

## Motivation:

ONNX is a standard consisting of the semantic definitions of operations commonly used in ML/AI context. Since the standard (and the underlying field) is rapidly evolving, some definitions go out of date, and to distinguish between new

[2020-03-20 13:59] chentong319 commented on #42
I agree on the main idea: convert versioned operations to one set of operation with rewrite. Some comments in design:
-  I'd like to have a version-less set of operations in onnx-mlir, instead of the latest version. The onnx-mlir project needs an anchor for transformation/optimization, while the onnx standard may evolve. In reality, the current version-less set happen to be the highest version in

[2020-03-20 15:06] AlexandreEichenberger commented on #42
I like the proposal.  From an IBM customer perspective, we will be mostly interested in backward compatibility back to the version of the first official product. I understand that other companies with products providing compatibility to earlier version may be interested in compatibility to earlier version as well, so setting up a general mechanism that enables compatibility to arbitrary version is

[2020-03-20 21:53] jacky82226 commented on #33
Thank you for the instruction! I agree it is because I have not installed onnx-mlir successfully.
Therefore, I tried to reinstall onnx-mlir several times, but I still cannot find MLIRMlirOptMain.a in my llvm-project/build/lib
It did not pop out any error message while building onnx-mlir in Windows and it only encountered a failure while testing.
I am thinking maybe I need to try other cmake buildi

[2020-03-21 04:16] tjingrant commented on #33
@jacky82226 thanks for the screenshot, it looks like there's indeed no MLIRMlirOptMain.a in your build directory. If it helps, here's a link to where this library is defined: https://github.com/clang-ykt/llvm-project/blob/076475713c236081a3247a53e9dbab9043c3eac2/mlir/tools/mlir-opt/CMakeLists.txt#L14 .

For what is worth, you may want to try
[code]
which essentially builds all targets.

[2020-03-23 08:03] tungld commented on #41
Hi @aaronsm, FYI, this ONNX MNIST model opset v8, https://onnxzoo.blob.core.windows.net/models/opset_8/mnist/mnist.tar.gz, works well in the current onnx-mlir.

[2020-03-23 14:41] tungld commented on #42
I like the idea of developing a version-less set of operations in onnx-mlir to which versioned operations will be rewritten. The version-less set is expected to be stable and optimization/transformation oriented.

[2020-03-23 21:34] jacky82226 commented on #33
I tried cmake --build . --target and it built successfully with MLIRMlirOptMain.
Thanks to @tjingrant !

[2020-03-23 21:34] #33 closed

[2020-03-24 03:31] tungld commented on #36
When importing Resnet50, the ONNXIR output is about 420 MB, and it runs overnight compiling to bitcode without completion. It makes me rethinking whether importing weights as constants is a good way or not. Maybe only import small data as constants and read large data from files as input tensors during runtime.

[2020-03-25 15:26] AlexandreEichenberger opened #51 "Invoke gen_doc.py"
As we edit gen_doc.py, it does not get invoked so it is difficult to double check if changes there are correct.

Would it be possible to invoke it under a custom target in the main makefile?

That would have 2 benefits:

1. Testing that no errors creep into the gen_doc.py
2. Avoid the redundant updates to the files generated by gen_doc.py

Currently, the building of the files is explained but invo

[2020-03-30 21:02] AlexandreEichenberger opened #60 "ONNX Operation Status (Update as you work on ONNX Operations)"
# Please keep up to date.

- As you start working on a new operation, move it from the lower table to the top table,
- write your name under 'person working on it,'
- once you have pushed the functionality in the master branch, mark it as complete.

# ONNX to KRNL work.

Update as you push code to the master branch.

| ONNX Operation | Person working on it | ONNX Def | Shape Inference | ONNX to KR

[2020-03-31 15:14] AlexandreEichenberger commented on #60
cannot be edited by others, so migrated back to SharedWork.md

[2020-03-31 15:14] #60 closed

[2020-03-31 19:58] doru1004 opened #65 "Function with no argument fail"
When compiling a simple function with no arguments.

[code]

When emitting the Krnl dialect:

[code]

The following error occurs:
[code]

[2020-04-02 17:49] jacky82226 commented on #6
After code modification and environment tuning, it seems that I finally build onnx-mlir successfully in Windows via Visual Studio 2019. However, while trying running onnx-mlir for mnist.onnx, it said that:

I am not sure whether my installation is correct or not. Could @tjingrant provide me with the add.onnx for testing?

I am writing the tutorial for Windows and will make a PR for code modificati

[2020-04-02 17:55] doru1004 commented on #6
Thanks a lot for fixing the install on Windows.

Regarding your error, without any more details about where the error occurs it's hard to figure out what's going on.

Have all regression and backend tests passed on your machine?

[2020-04-02 23:06] imaihal commented on #37
Closed because this is an issue in LLVM/MLIR.

[2020-04-02 23:06] #37 closed

[2020-04-03 22:31] ericleaf opened #70 "Errors during check-onnx-lit"
Hi, the first test of `check-onnx-lit` failed and gives me the following error massage:
[code]

Meanwhile, when I'm trying to emit MLIR with mobilenet/squeezenet ONNX model from ONNX model zoo, it gives me the following massage:
[code]
I'm using the latest ONNX-MLIR and the LLVM repo mentioned in the readme. Thanks!

[2020-04-04 06:17] jacky82226 commented on #6
Not a problem!

Sorry for the late reply. I got stuck in running check-mlir-lit in Windows. After modifying some files, it has finally passed dependency linking errors. However, I encountered a testing failure said:

24>Running the ONNX MLIR regression tests
24>-- Testing: 9 tests, 4 workers --
24>FAIL: Open Neural Network Frontend :: krnl/ops.mlir (1 of 9)
24>FAIL: Open Neural Network Frontend ::

[2020-04-05 13:38] tjingrant commented on #70
Could you set your environment var `LIT_OPTS` to be `-v` so that LIT can produce a more detailed error message?

Also, we are in active development at this stage, and we just managed to verify mnist works. We are currently working on enabling ResNet. I foresee that mobilenet/squeezenet can be supported relatively quickly (within weeks).

[2020-04-05 16:15] ericleaf commented on #70
Hi, thanks for your reply. The detailed error massage is shown as follow:
[code]
MNIST model is successfully emitted, and I will play with that first. Thanks for your information!

[2020-04-06 09:32] tjingrant commented on #70
Hi @ericleaf , if you use the specific version of LLVM-Project we specified in README, everything should work fine (commit-id: 07e462526d0cbae40b320e1a4307ce11e197fb0a). You can run into this issue if you use the absolute latest version.

Let me know if this solves your problem!

[2020-04-10 00:27] ananthdurbha opened #79 "zlib link issue with cmake --build . --target onnx-mlir"
I am seeing following issue when building onnx-mlir

[code]

It seems above path to libz.so is returned by cmake command find_package(ZLIB REQUIRED)  (in src folder). Any suggestions ? (eg. do I need to update cmake find_package search path, or use static lib ? )

Thanks,
Yetanadur
(Ananth)

[2020-04-10 03:18] tjingrant commented on #79
The fix is in part of this patch being reviewed - https://github.com/onnx/onnx-mlir/pull/77.

[2020-04-10 16:00] jacky82226 commented on #79
Encountered the same issue yesterday while installing onnx-mlir in Linux.
In `MLIR.cmake`, adding ${ZLIB_LIBRARIES} in SET(MLIRLibsOnce) can solve this issue for the latest commit.

[2020-04-10 19:49] chentong319 commented on #70
I ran into the same problem with different llvm-project version.
Now I am using the commit-id as in the README.md. I got compilation error for onnx-mlir. Error message:
[ 98%] Linking CXX executable ../bin/onnx-mlir
/home/chentong/upstream-llvm-project/build/lib/libMLIRAffineToStandard.a(AffineToStandard.cpp.o): In function `_GLOBAL__sub_I_AffineToStandard.cpp':
AffineToStandard.cpp:(.text.startup

[2020-04-14 15:35] doru1004 opened #85 "Transform batch norm pattern"
Batch norm is defined in ONNX as

Y = (X - mean) * scale / Sqrt(var+eps) + beta

when mean and var (which are input variable in ONNX) are seen as constant, and scale & beta are parameters, so always constant, we can precompute

a = scale / Sqrt(var+eps)
b = - mean * scale / Sqrt(var+eps) + beta

and then the operation reduces to

Y = a * X + b

[2020-04-14 22:07] marbre opened #88 "Registration and linking of dialects in onnx-mlir-opt"
With a more recent version of MLIR, it is no longer necessary to always link in the MLIR dialects:
https://github.com/onnx/onnx-mlir/blob/46ef7996f7c0f1f502ed9a3cc27bf1351b240511/src/Tool/ONNXMLIROpt/CMakeLists.txt#L9
Further, there seems to be no need to include `InitAllDialects.h`, as the function `registerAllDialects()` isn't called anyway. Should I send a PR?

[2020-04-14 22:08] marbre opened #89 "Equivalent to mlir-translate"
Is it intended to provide an equivalent to `mlir-translate` which supports the onnx dialect in addition?

[2020-04-14 22:29] doru1004 commented on #88
Thanks a lot for getting in touch about this. We are definitely interested in a PR!

[2020-04-15 07:48] tjingrant commented on #89
I don't see any obstacles for such a tool to happen; however, I thought the binary executable `onnx-mlir` produced by this project already pretty much does the job of `mlir-translate` with support for ONNX dialect.

[2020-04-17 18:59] jacky82226 commented on #6
Worked with @byronChanguion and solved by the PR #86

[2020-04-20 19:49] chentong319 opened #94 "third_party/onnx build problem"
I ran into two issues when trying "python setup.py install" and got them fixed. Not sure about the protocol of modifying third_part/onnx. I just post them as an issue now, in case anyone encounters them.

1. purest_runner not supported by pypi. Delete it from required list in setup.py

2. New version of protobuf  is causing problem, fixed by onnx#2482  (https://github.com/onnx/onnx/pull/2482) . It

[2020-04-21 19:48] marbre commented on #88
Great, I hope to have the permission to sign the CLA soon and will get back to this asap.

[2020-04-27 15:01] #65 closed

[2020-04-28 19:18] migueldeicaza opened #100 "Surfacing the standard `mlir-opt` command line options"
The `onnx-mlir` tool currently surfaces only a handful of command line options, and it would be nice if it would surface the rest of the `mlir-opt` options, so that the output could be customized.

In particular, I was hoping to use the `--convert-std-to-llvm`'s `emit-c-wrappers`.

[2020-04-28 20:14] migueldeicaza commented on #100
Oh I see one such tool is compiled.

[2020-04-28 20:14] #100 closed

[2020-05-03 05:48] ljppro opened #106 "onnx-mlir building error"
Hi,
I'm using the llvm github from https://github.com/clang-ykt/llvm-project and build llvm successfully. But build the onnx-mlir with the following errors:
[ 22%] Built target OMShapeInferenceOpInterface
In file included from /docker/liujp/llvm-project/mlir/include/mlir/Transforms/DialectConversion.h:16:0,
                 from /docker/liujp/onnx-mlir/src/Dialect/Krnl/KrnlHelper.hpp:21,

[2020-05-04 12:28] AlexandreEichenberger commented on #106
Are you using the specific version of llvm-project we list in the README?

cd llvm-project && git checkout 3ce0ad1b336e67a76d78ae7ff7d66fe127586620 && cd ..

[2020-05-05 03:55] ljppro commented on #106
Hi AlexandreEichenberger,

Many thanks for your attending this problem!

Actually, I tried two versions of llvm, the one with the version you pasted above (same with the readme.md) and the other from https://github.com/clang-ykt/llvm-project (from the troubleshooting section). But both can't pass the building. Above I just pasted error when building the second llvm version.

Do you need the first

[2020-05-05 07:35] tjingrant commented on #106
Hi @ljppro , after chatting with Doru, we will probably take off the recommendation to use clang-ykt/llvm-project. So yes, it would be nice to see the error log when using version 3ce0a, given that it's the one we actively test against.

[2020-05-06 17:44] kwu91 opened #112 "Garbled filename after running onnx-mlir on a model"
**OS:** Ubuntu 18.04 64-bit
**Commit id:** f5f336db
**Steps to reproduce**:
I downloaded a model from https://github.com/onnx/models and ran the follow command:
`onnx-mlir --EmitONNXIR model.onnx`. Only model.mlir was outputted while model.onnx.mlir was missing.

Secondly, after running `onnx-mlir --EmitLLVMIR model.onnx`, model.onnx.mlir was nowhere to be found. Instead, a file with a garbled fil

[2020-05-07 00:15] chentong319 commented on #112
Ran into the same problem. I tried the suggested fix and it works for me. It is a correct fix.

[2020-05-07 03:42] tjingrant opened #113 "Add unit test & lit tests for Neg op."
Related to #108.

[2020-05-07 14:53] chentong319 commented on #112
@kwu91 Will you submit your fix or do you want me to do that for you?

[2020-05-07 16:41] kwu91 commented on #112
Sure I can submit a PR. Thanks

[2020-05-07 17:53] #112 closed

[2020-05-07 18:55] Xatter commented on #94
As a workaround, I've found that if you use a `virtualenv` then all of these build issues go away.

[code]

[2020-05-07 19:11] Xatter commented on #6
There's now an issue of a missing header file on windows. `unistd.h` used in `MainUtils.cpp` doesn't exist on Windows.

There are places where a windows version has been published, but I'm not sure if the right thing to do is include that in this project or to use a build preprocessor declaration to do `#ifdef WINDOWS` and include a different header that is standard on Windows that has the needed

[2020-05-08 07:36] ljppro commented on #106
Hi @tjingrant, I have changed the llvm to version 3ce0a. But this time the error is different from the last time:
[ 16%] Building ONNXDecompose.inc...
Scanning dependencies of target OMShapeInferenceOpInterface
In file included from /docker/liujp/onnx-mlir/src/Transform/ONNX/ElideConstants.cpp:23:0:
/****/onnx-mlir/src/Dialect/ONNX/ONNXOps.hpp:39:44: fatal error: src/Dialect/ONNX/ONNXOps.hpp.inc:

[2020-05-08 08:53] tjingrant commented on #106
@doru1004 It seems like we are missing dependency from `OMElideConstants` to `OMONNXOps`.

[2020-05-08 19:29] jacky82226 commented on #6
Thanks for reporting this. I encountered the same error while testing the latest version on new Windows-CI. I think "unistd.h" is used for "fork()", but there is no proper substitute "fork()" on Windows. @doru1004 Do you have any idea how to tune it on Windows?

[2020-05-08 20:27] Xatter commented on #6
@doru1004 is at IBM which I believe uses Linux primarily. I wonder if @byronChanguion at Microsoft who originally contributed the windows build instructions might know the best way forward? I also see that @migueldeicaza has also contributed here and is intimately familiar with cross-platform C++ from the Xamarin project and may have some words of wisdom

[2020-05-08 21:00] jacky82226 commented on #6
As far as I know, the easiest way to simulate fork() on Windows is using CreateProcess(). However, it won't inherit the parent's state, which would probably break the original logic here.

So I was wondering that is this fork() required for output? (Or simply for performance-wise)

[2020-05-09 03:53] gongsu832 commented on #106
Try this patch:
[code]

[2020-05-11 02:24] ljppro commented on #106
@gongsu832, thanks for your attending this problem. But it seems this patch can't work on my git base - I cloned the latest onnx-mlir - and the error is attached below:
# patch < patch.diff
patching file CMakeLists.txt
Hunk #1 FAILED at 13.
1 out of 1 hunk FAILED -- saving rejects to file CMakeLists.txt.rej
# cat CMakeLists.txt.rej
--- CMakeLists.txt
+++ CMakeLists.txt
@@ -13,6 +13,8 @@ add_librar

[2020-05-11 03:11] gongsu832 commented on #106
It's a git patch. Use `git apply patch.diff`

[2020-05-11 06:21] jacky82226 commented on #6
Solving this new problem here. #115

[2020-05-12 07:55] ljppro commented on #106
@gongsu832, many thanks! This command works and this error doesn't occur. But I still have the error when I first time try the 3ce0 version of llvm as below. Can you have a check?
Many thanks!

onnx-mlir/src/Builder/FrontendDialectHelper.cpp:147:50:   required from here
onnx-mlir/src/Builder/FrontendDialectHelper.cpp:114:30: error: no match for ‘operator[]’ (operand types are ‘google::protobuf::Re

[2020-05-12 10:17] gongsu832 commented on #106
Your protobuf version may be too low. As indicated in the README, you need 3.11.0 and above.

[2020-05-13 07:44] ljppro commented on #106
@gongsu832, many thanks! After applying the git patch an upgrading the protobuf, I can build onnx-mlir now. But when I test the command, it coredumped as below. Could you have a check? Or I have to raise a new issue?
# ./onnx-mlir --EmitONNXIR squeezenet1.0-3.onnx
onnx-mlir: onnx-mlir/src/Builder/FrontendDialectTransformer.cpp:488: void onnx_mlir::ImportFrontendModelFile(std::__cxx11::string, mlir

[2020-05-13 08:01] tjingrant commented on #106
@ljppro could you share the model? Either the file or the url is fine.

[2020-05-13 08:07] tjingrant commented on #106
@ljppro also something to check - did you specify the model name correctly? Sometimes I get this assertion failure when the path to the model file is not correctly specified.

[2020-05-13 21:16] migueldeicaza commented on #6
I am mostly a Mac/Linux lifeform, I am afraid I can not be of much help with Windows build issues.

[2020-05-14 02:39] tjingrant commented on #79
I believe this issue has been resolved.

[2020-05-14 02:39] #79 closed

[2020-05-14 02:40] tjingrant commented on #6
Thanks for all the help from @jacky82226 @byronChanguion @migueldeicaza , I believe this issue has been resolved.

[2020-05-14 02:40] #6 closed

[2020-05-14 04:59] ljppro commented on #106
@tjingrant, I just download the model from https://github.com/onnx/models/blob/master/vision/classification/squeezenet/model/squeezenet1.0-3.onnx and put the file in the same directory with onnx-mlir executable.
And many thanks for your quick reply.

[2020-05-14 05:06] tjingrant commented on #106
@ljppro firstly can you verify (by opening the onnx model in Netron) that the onnx model you downloaded is valid? For instance, if you do a `wget` on the url you gave me, a html page will be downloaded instead of the model.

Secondly, even though model parsing works for me, `onnx-mlir` failed on lowering the `GlobalAveragePool` op, which we should be able to support reasonably soon.

[2020-05-14 05:07] tjingrant commented on #106
I'd recommend trying out mnist first, from https://onnxzoo.blob.core.windows.net/models/opset_8/mnist/mnist.tar.gz .

[2020-05-14 18:52] gramalingam opened #124 "Questions about the Krnl dialect"
A couple of questions about the Krnl dialect.

(a) What is the purpose of the "define_loops" and "optimize_loops" instructions? Are there any examples illustrating its usage? It seems to serve as a way of naming loops and to help organize loop-transformations (may be), and it is not clear to me this is the best way to do that. E.g., I find it potentially confusing to think of a "loop" as a "Value"

[2020-05-15 06:01] ljppro commented on #106
@tjingrant, many thanks! After double check, the model I downloaded is actually a HTML file. And when test against the mnist model, it passed.
Thanks again and sorry for the inconvenient!

[2020-05-15 06:01] #106 closed

[2020-05-15 16:11] doru1004 opened #128 "Status of the support for the ONNX model zoo"
This issue is meant as an ongoing discussion about the onnx-mlir coverage of the ONNX model zoo and any other models of interest. Some of the models we have tried and issues found are below.

Supported:
-[x] MNIST
-[x] ResNet

In progress:
-[] ShuffleNet: slight result inconsistency being investigated but all operations are supported

Missing Ops:
-[] DenseNet: missing GlobalAveragePool operation

[2020-05-18 06:23] tjingrant commented on #128
My finding:
MNIST from PyTorch - Missing Flatten, LogSoftmax.

[2020-05-18 06:51] tjingrant commented on #124
Sorry for the delayed response, if you want a quicker response, feel free to ping my work email. It's a bit of a pity that we never get to talk about Krnl Dialect in much detail. And sorry that our current focus has not been on designing/engineering it to be more like what we've imagined them to be.

For a), yes that's a very true. The goal is to have ways to reference to these loops in scheduling

[2020-05-20 20:08] gramalingam commented on #124
Hi @tjingrant : thanks for the response. With regards to (a): are there examples illustrating the requirements? Why is it not possible to use "labels" to identify instructions, or use "attributes" attached to instructions?

[2020-05-22 03:04] tjingrant opened #143 "mnist fails"
Hi @chentong319,

Mnist model fails to compile after your commit is merged, could you take a look?
See the model attached.

Constant op now has wrong output type, for instance, try run with `-EmitONNXBasic` flag on the attached model, and you'll find:
[code]

Tian.

Model file:
[mnist-simple.onnx.zip](https://github.com/onnx/onnx-mlir/files/4665862/mnist-simple.onnx.zip)

[2020-05-22 03:55] chentong319 commented on #143
The cause is that the constantOP is special in type inference: it's output data type depends on attribute, not input argument.  I can add a special importer for ConstantOp to set the type correctly.
Since that patch already merged, I will open another patch to fix this. It took me  lots of efforts to manually merge this patch with master.

[2020-05-22 03:58] tjingrant commented on #143
@chentong319 yeah, another patch to fix this issue will be nice.

I should've set up better testing infra to detect errors like this.

[2020-05-22 12:10] chentong319 commented on #143
Can you send me some test case with ConstantOp in model? After I test with this patch, we can add them to backend test at least.

[2020-05-22 12:13] tjingrant commented on #143
@chentong319 the mnist one I uploaded is the only feasible one. The others are unfeasible to serve as test case now because our lack of support for handling large constants.

[2020-05-22 13:15] tjingrant commented on #143
@chentong319 for what is worth, you can somewhat easily test whether the model works using `util/debug.py` explained here: http://onnx.ai/onnx-mlir//DebuggingNumericalError.html.

[2020-05-25 07:44] tungld opened #147 "cruntime does not exist"
I got the following error when doing `cmake ..` with the latest commit:
[code]

Any suggestion to resolve this error?

[2020-05-25 11:32] tjingrant commented on #147
Looks like maybe it's because cruntime is created in a subdirectory?
https://stackoverflow.com/questions/34443128/cmake-install-targets-in-subdirectories

Anyhow, I can certainly move the install command down to the `src/Runtime` subdirectory.

[2020-05-25 16:48] gongsu832 commented on #147
The problem is most likely due to the cached contents under build directory. cmake often fails with all kinds of problems when you rerun it with cached contents that get out of sync with updated source. It should be enough to just rm CMakeCache.txt before running cmake but I never bothered and just do "rm -rf *".

[2020-05-25 23:45] tjingrant commented on #124
Hello @gramalingam , I can't give you any IR examples right now because they are all sketches and I hesitate to post them prematurely. The requirements follow from the fact that mapping between optimizations (or schedules) and the loops they act on can be on-to-many (loop collapsing) or perhaps many-to-one. So attributes wouldn't work because it assumes a one-to-one mapping between optimizations a

[2020-05-26 00:37] tungld commented on #147
Thanks @gongsu832 and @tjingrant for suggesting solutions! I created a PR to resolve the issue.

[2020-05-26 01:54] #143 closed

[2020-05-26 08:05] #147 closed

[2020-05-26 23:21] AlexandreEichenberger opened #151 "emitError with no action"
@tungld

in the LSTM code, I see a lot of emitError without actions. That is potentially a problem. In general, if it is due to error from user, we should give a message; and if its an error from the implementation, we can emit a message and then assert.
[code]

see the emitError. Either the function can return a LogicalResult, or special value such as nullptr. There errors are then is then caught

[2020-05-27 00:59] AlexandreEichenberger commented on #51
done

[2020-05-27 00:59] #51 closed

[2020-05-27 02:49] tungld commented on #151
@AlexandreEichenberger Thanks for pointing it out! I'll fix this issue.

[2020-05-27 17:48] AlexandreEichenberger commented on #151
I actually have a PR with fixes for this, converted them into asserts, see #153 . @tungld Feel free to comment if fixes are appropriate. I explained also in a ErrorHandling doc the policy I used to determine when to use assert vs emitError.

[2020-05-27 17:48] #151 closed

[2020-05-29 17:41] gramalingam commented on #124
Hi @tjingrant :

Popping up a higher-level, let me try to describe my high-level thoughts. I currently see that there is (a) The ONNX dialect, and (b) The Krnl dialect.

As I understand it, the Krnl dialect is meant to illustrate how one might lower from ONNX dialect to lower-level MLIR dialects or other backend-specific dialects. As an illustrative example, of course, it is fine to experiment wit

[2020-05-29 22:51] AlexandreEichenberger opened #158 "Testing broadcast validity"
Quick one: do we report if a broadcast op has incompatible broadcast arguments?

E.g. when processing shape of Add

[code]

The value returned by `getBroadcastedType` is null when it fails to find a legal broadcasting type. Should we not check and report failure if it does not? @doru1004 @tjingrant

[2020-06-01 02:25] chentong319 opened #160 "Translation from ONNX type to MLIR type"
@tungld @tjingrant
This is related to PR#156.
We need a translation table from types in ONNX to types in MLIR. We can not do one-to-one mapping because some type is not supported by ONNX-MLIR or we may choose to support types in different way.
This translation will be used in Builder to build data for ONNX-MLIR from protbuf, and in gen_onnx-mlir.py for operation Tablegen.
How should we share the c

[2020-06-01 10:21] tungld commented on #160
One way is remove duplication to define a static method in the op definition, say:
[code]

And, in `FrontendDialectTransformer.cpp`, we will obtain the attribute with that name, get the attribute value and pass it to `convertONNXTypeToMLIRType` to get an MLIR type, like:
[code]

It looks work. However, this way does not use the static method `getTypeMap` nor resultTypeInference. Hence, it may make

[2020-06-04 22:07] kernhanda commented on #128
I hit the same assertion as @doru1004 for
`bertsquad-8.onnx` and `bertsquad-10.onnx`, both available [here](https://github.com/onnx/models/tree/master/text/machine_comprehension/bert-squad#model)
and also for `gpt2-10.onnx`, available [here](https://github.com/onnx/models/tree/master/text/machine_comprehension/gpt-2#model).

[code]

[2020-06-10 08:59] ljppro opened #168 "Implement operators in separated functions"
Hi,

It seems that when onnx-mlir translate the onnx model into MLIR, it will fuse all operators into a single main_graph function. Can I change this behavior by implement each operator into a separated a function? That is, a function for an operator?

Many thanks!

[2020-06-12 03:56] tjingrant commented on #168
Hello @ljppro is there any benefit in doing so? If you can walk me through the motivations/context, I may be able to give you a better answer to your question.

[2020-06-15 03:32] ljppro commented on #168
Hi, @tjingrant,

I think it would be benefit if we want to schedule the operators into different computing devices, for example, to implement the GPipe or Pipedream. At least it would be better to provide an option to the users if they want to do some research here.

Many thanks!

[2020-06-15 04:50] ljppro commented on #168
Hi @tjingrant,

And another argument is in the NN model these operators are separated and ONNX is just to exchanging the model between different frameworks. So the model exported by ONNX-MLIR should be the same to the original model. With fusing all operators into one, the ONNX-MLIR has already introduced the runtime scheduling here, not just a static model.
Do you think it is reasonable?

Many th

[2020-06-15 05:44] tjingrant commented on #168
@ljppro I fail to see the necessity of having each operator lowered to an individual function to the ability to perform device placement optimization using onnx-mlir as an infrastructure.

Couldn't you operate on ONNX IR (listed below for mnist) and move operations into separate functions representing the execution context of different devices using a custom transformation pass? Then when you lowe

[2020-06-16 03:37] ljppro commented on #168
Hi, @tjingrant,
Yes, this is exactly what the issues. We use onnx-mlir just want to lower part of the onnx model into our proprietary devices by the LLVM backend. And thanks for your solution, I think it's a great help.

[2020-06-16 17:21] #94 closed

[2020-06-17 05:06] #168 closed

[2020-06-18 16:03] chentong319 opened #175 "check-onnx-backend link error"
Any idea about the fix?

`
make check-onnx-backend

...
/usr/bin/ld: cannot find -lEmbeddedDataLoader
/usr/bin/ld: cannot find -lcruntime
collect2: error: ld returned 1 exit status
g++ -shared -fPIC temp_model.o /tmp/packed_const-a52592.tmp.o -o temp_model.so -lEmbeddedDataLoader -lcruntime
Command execution failed.
UNREACHABLE executed at /home/chentong/onnx-mlir/src/MainUtils.cpp:94!
Esssssssss/

[2020-06-18 21:50] doru1004 opened #177 "Missing mlir-opt options in onnx-mlir-opt"
Just noticed today that we are missing some mlir-opt options in onnx-mlir-opt. This issue is a reminder to register some of the missing mlir-opt passes in onnx-mlir-opt.

[2020-06-19 10:31] tjingrant commented on #124
@gramalingam this totally makes sense to me.

In fact, I have been trying to remove these `define_loops` & `optimize_loops` operations lately because they were introduced at a time when we have very little clue about MLIR; and it's pretty clear to us now that they are fairly redundant.

Let me clean it up and get back to you.

[2020-06-19 16:29] gramalingam commented on #124
@tjingrant , that would be great, thanks!

[2020-06-21 14:51] tjingrant commented on #175
The solution is to do a `make install`. But I'm working on it to provide a more reasonable explanation or improve the workflow so that we don't have to worry about it in the future..

[2020-06-22 06:09] tungld opened #179 "Enable affine-loop-fusion"
Put this here just a memo on the following issue:

Currently, if we enabled `affine-loop-fusion` pass, we would get an error saying
[code]

It works if turning off  canonicalized pass OR memory pool pass. Need to investigate the root cause of the issue.

[2020-06-22 13:19] AlexandreEichenberger commented on #175
Tong,
 
the install worked wonders for me, even after deleting and rebuilding the build dir from scratch. Let's add the solution to the README (if still applicable) once Tian has finished working on what he wanted to tweak.
Alexandre-----------------------------------------------------------------------------------------------------Alexandre Eichenberger, Principal RSM, Advanced Compiler Technolog

[2020-06-23 05:29] gongsu832 commented on #175
The basic problem is that the library search path needs to be specified by -L... since it's not in a standard place unless you've done "make install". In fact, I see onnx-mlir checks an env var RUNTIME_DIR (probably better named ONNX_MLIR_RUNTIME_DIR). So if you set it to where all the libraries are (typically .../build/lib) then you shouldn't have such linkage problem.

But I find that having to

[2020-06-23 16:17] chentong319 commented on #160
The design looks good to me.

[2020-06-24 02:29] feiyuvl opened #184 "Help on ExecutionSession"
Is there any example to run the exeuction session ?

[2020-06-24 09:28] AkhilJ99 opened #185 "Not able to build ONNX"
This happens when I run the "cmake .." command, I have already built the llvm project (For this I have used the instructions on the MLIR getting started page : [)](https://mlir.llvm.org/getting_started/)) and set the environment variable to the right path.

![error](https://user-images.githubusercontent.com/32807730/85529968-30651000-b62b-11ea-9780-5e3dba0a419d.png)

and this is the ouput of the C

[2020-06-24 14:05] Xatter commented on #128
ResNet breaks on shape inference pass. I notice that the output in basic MLIR is

[code]

The output should be `-> tensor<1x1000xf32>`

There is a node in the graph called `resnetv24_dense0_fwd` that is the output

[2020-06-24 15:28] Xatter commented on #128
Resnet50-v1 also is not working

[code]

[2020-06-24 16:22] doru1004 commented on #128
@tjingrant I think we are running a version of ResNet as part of the test suite, is that different from the one above?

[2020-06-24 16:22] doru1004 commented on #185
What Make version are you using?

[2020-06-25 00:17] imaihal commented on #185
Are you using specific commit (`0dc91bfd11e6cced0c46c1a25cc96edea0d8fc22`) for llvm-project as written here? https://github.com/onnx/onnx-mlir/blob/master/README.md
I remember I saw this kind of error before when I used different commit.

[code]

[2020-06-25 03:51] AkhilJ99 commented on #185
my cmake version is "3.16.3".  I Have tried rebuilding with the specific commit version and got this error.

After running cmake ..
`-- The C compiler identification is GNU 9.3.0
-- The CXX compiler identification is GNU 9.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-

[2020-06-25 22:59] AlexandreEichenberger commented on #70
I assume that since  @ericleaf has not responded in more than a month, this fix solved his problem

[2020-06-25 22:59] #70 closed

[2020-06-25 23:01] AlexandreEichenberger commented on #36
@doru1004 @tjingrant can you determine if our work on handling constants has fixed this issue?

[2020-06-25 23:02] AlexandreEichenberger commented on #25
done

[2020-06-25 23:02] #25 closed

[2020-06-25 23:03] AlexandreEichenberger commented on #24
done

[2020-06-25 23:03] #24 closed

[2020-06-25 23:04] #13 closed

[2020-06-25 23:10] AlexandreEichenberger opened #186 "Pooling memory optimizations"
- [x] intro of get-ref
- [x] pooling of get-ref memory into a single alloc
- [x] handling of dynamic memory for individual memory pools
- [ ] support bundling of dynamic-shape memory pools
- [ ] smart reuse of memory location for get-ref

[2020-06-26 00:19] aaronsm commented on #185
You can use this PR to build with the latest llvm.
https://github.com/onnx/onnx-mlir/pull/187

[2020-06-26 00:24] aaronsm commented on #185
Your second attempt didn't work because you are used Python2 and not Python3.

cmake -DPYTHON_EXECUTABLE=full-path-to-python3 ..

[2020-06-26 06:56] #185 closed

[2020-06-26 06:57] AkhilJ99 commented on #185
Thank you that helped in resolving the errors

[2020-06-26 09:53] AkhilJ99 opened #189 "Questions About Lowering from the onnx dialect"
How exactly does one convert the code in onnx dialect like the one given below to a lower dialect like affine and std ?. Do these conversions already exist ?.
`
  func @main_graph(%arg0: tensor<2x3xf32>) -> tensor<2x3xf32> {
    %0 = "onnx.Add"(%arg0, %arg0) : (tensor<2x3xf32>, tensor<2x3xf32>) -> tensor<2x3xf32>
    return %0 : tensor<2x3xf32>
  }
  "onnx.EntryPoint"() {func = @main_graph, numInp

[2020-06-26 10:23] tjingrant commented on #189
Simply run `./onnx-mlir --EmitMLIR add.mlir` and you should get:
[code]

[2020-06-26 10:49] AkhilJ99 opened #190 "Error when trying to convert tf model to onnx using tf2onnx"
I have made a simple model in tensorflow it seems to throwing a lot of errors when trying to convert to onnx format. What can i do to fix the infer shape warnings and the key error.

This is the code
`
[code]

The errors

`
[code]

[2020-06-26 10:50] AkhilJ99 commented on #189
Thank you that was helpful

[2020-06-26 14:13] AlexandreEichenberger opened #191 "KRNL Optimization Ops"
Tracking Optimization Ops for KRNL IR
- [x] krnl.block
- [ ] krnl.permute
- [ ] krnl.unroll
- [ ] krnl.jam

[2020-06-26 14:15] AlexandreEichenberger opened #192 "KRNL Lowering for CPUs with Optimizations"
Optimizations for GEMM and CONV

GEMM:
- [ ] Tiling
- [ ] SIMD code gen
- [ ] Memory Layouts
- [ ] Good instructions mix for Z

CONV:
- [ ] Tiling
- [ ] SIMD code gen
- [ ] Memory Layouts
- [ ] Good instructions mix for Z

[2020-06-26 15:13] doru1004 commented on #177
@AlexandreEichenberger if you have any more passes which you'd like see in onnx-mlir-opt please enumerate them here and I will try to add them!

[2020-06-26 15:21] doru1004 commented on #36
@AlexandreEichenberger this was the blueprint for changes I have already done prior to Tian's further work. I can't remember the exact PRs but they have been merged already. Tian's work has also been merged on embedding constants has also been merged. I don't think there are any outstanding TODOs from this issue.

[2020-06-26 15:24] AlexandreEichenberger commented on #177
Actually yes:

--convert-vector-to-scf --lower-affine --convert-scf-to-std --convert-vector-to-llvm

generally, everything that has vector, affine, scf

[2020-06-26 15:27] AlexandreEichenberger commented on #36
work subsumed by other PR

[2020-06-26 15:27] #36 closed

[2020-06-26 15:36] AlexandreEichenberger opened #194 "ONNX ML"
Ingesting and lowering of the ONNX ML

- [x] adding ONNX ML operators
- [ ] adding new types: Strings
- [ ] adding new types: Map
- [x] adding new types: Sequences
- [ ] hooking to existing lowering

[2020-06-27 14:35] #191 closed

[2020-06-28 02:47] tjingrant commented on #190
Seems to be an issue suitable for https://github.com/onnx/tensorflow-onnx ?

[2020-06-29 01:52] tungld opened #196 "Some missing operations for RNNs"
These are some missing operations for running RNNs (There would be more missing operations, here we list those we have known so far). Please feel free to add more.

(PR: means still in pull request, Y: Yes, supported)
| ONNX operations | Shape inference | Lowering code |
| --- | --- | --- |
| Shape | Y| Y |
| Cast | Y | Y  |
| Squeeze | Y | Y |
| Tile |Y | Y  |
| Gather | Y| Y |
| Slice | Y| Y (co

[2020-06-29 04:10] AkhilJ99 opened #197 "Questions about graph optimizations"
Does the onix-mlir-opt perform all the optimizations specified in [https://github.com/microsoft/onnxruntime/blob/master/docs/ONNX_Runtime_Graph_Optimizations.md](url) on the onnx MLIR dialect , and the are the ones specified in the link the only optimisations supported ?

[2020-06-29 05:33] AkhilJ99 commented on #189
Also I have tried to lower the onnx implementation of AlexNet (https://github.com/onnx/models/blob/master/vision/classification/alexnet/model/bvlcalexnet-3.onnx) to the onnx dialect but have got the shape inference error.

First I emmited the onnxbasic
[code]

And then tries to lower to MLIR
[code]

[2020-06-29 06:39] feiyuvl opened #198 "Naive cuda support"
Will onnx-mlir support using naive cuda kernel  to write operator kernels?

[2020-06-29 14:02] AlexandreEichenberger commented on #198
Hello,

Let me first indicate our intentions, and then we can discuss how your use may fit into this project.

In this project, our ONNX dialect goals is 2 folds.

1. Adding ONNX operators to MLIR, with the reading of the protobuf models, and performing high level support such as shape inference.
1. Providing high level optimizations on ONNX operators that are probably beneficial to all settings (

[2020-06-29 16:33] AlexandreEichenberger commented on #197
We intend to implement many of these optimizations which make sense at compile time, and you are welcome to help implementing them. Many are not too hard to implement.

Note that some may have an impact on the precision of the results, so we may want to batch them in two categories: always on (because have no negative impact of any kinds) and optional (possibly gated by additional flags)

[2020-07-01 08:34] feiyuvl commented on #198
Thank you for your response. I'm a newer for mlir. We want to reuse the cuda code without rewritten them using KRNL dialect. Is that possible for onnx-mlir to support both KRNL dialect and hand-wriiten cuda code  ?

[2020-07-01 12:52] AlexandreEichenberger commented on #198
Yes, it is possible; you will need to write some rules on how to change ONNX operation (e.g. such as convolution) to operations that represent the CUDA DNN equivalent call.

[2020-07-03 10:58] tjingrant opened #203 "Add guidance regarding usage of affine.load/store."

[2020-07-05 08:20] #179 closed

[2020-07-06 20:57] AlexandreEichenberger opened #206 "SIMD code generation"
Comparing (on x86) the MLIR code generated by two approaches.

## Approach 1: Multi-dimensional vector using contract.

This approach uses Muti-dimensional vector and affine maps to define reductions and parallel operations. It currently works only on an entire vector. Subset can be extracted, but indices of where to extract must be literals. This is high level, with the good (generic, abstract, u

[2020-07-06 20:58] AlexandreEichenberger commented on #206
@tjingrant comparison you asked for.

[2020-07-08 23:06] doru1004 commented on #186
This issue is still in progress.

[2020-07-14 06:01] tungld opened #216 "Question about empty tensor"
For ConstantOfShape operator (https://github.com/onnx/onnx/blob/master/docs/Operators.md#inputs-20), its input can be an empty tensor.
[code]

How do we import an empty tensor? How do we check that a tensor is empty or not?

[2020-07-14 06:45] tjingrant commented on #216
Hi @tungld , reading the spec literally, given that T1 is a 1-D tensor, I'd expect its representation within MLIR to be `tensor<0xi64>` or something to that effect. I do not expect importing of such tensor to be an issue, given that MLIR should support it and for us it'd be an ONNX tensor with 1 dimension whose extent is 0. So checking for its emptiness should entail checking the size of its only

[2020-07-14 07:13] tungld commented on #216
Thanks @tjingrant ! You are right, I found information about zero-element tensor in MLIR here: https://mlir.llvm.org/docs/LangRef/#tensor-type. A zero-element tensor type is `tensor<0xf32>`

[2020-07-14 07:34] tungld opened #218 "Test cases for the ONNX importer"
I have sometimes encountered errors related to importing ONNX operators into ONNX dialect. This happened when working with a new ONNX model.

It is better to have test cases for the importer to make sure that we cover all possible situations. Something similar to test cases for shape inference, lowering, etc.

[2020-07-14 14:02] chentong319 commented on #218
Agree. Similar to check-onnx-backend with only --EmitONNXBasic?

[2020-07-14 22:20] chentong319 commented on #175
There is no link error with the new version, even without make install. But I got runtime error:

ERROR: test_abs_cpu (__main__.OnnxBackendNodeModelTest)
Traceback (most recent call last):
  File "/autofs/home/chentong/upstream-onnx-mlir/third_party/onnx/onnx/backend/test/runner/__init__.py", line 248, in device_test_func
    return test_func(*args, device=device, **kwargs)
  File "/autofs/home/ch

[2020-07-15 00:34] #216 closed

[2020-07-15 01:31] gongsu832 commented on #175
What platform is this on? Linux? From the error message your home directory shows up sometimes as `/home/chentong` but sometimes as `/autofs/home/chentong`. That might confuse the python script. `make VERBOSE=1 check-onnx-backend` might give more clue.

[2020-07-15 15:47] chentong319 commented on #175
on a PowerPC Red Hat Enterprise Linux Server release 7.6 system.
With VERBOSE=1, I got extra info on compilation, such as:

ld -r -b binary -o /tmp/packed_const-9586b3.tmp.o /tmp/packed_const-9586b3.tmp
objcopy --redefine-sym _binary__tmp_packed_const_9586b3_tmp_start=_binary_param_bin_start /tmp/packed_const-9586b3.tmp.o
objcopy --redefine-sym _binary__tmp_packed_const_9586b3_tmp_end=_binary_para

[2020-07-15 20:06] stephenneuendorffer commented on #88
There's also good support for importing the llvm/mlir configuration (see mlir/examples/standalone).  This would greatly simplify the MLIR.cmake file.

[2020-07-16 02:59] gongsu832 commented on #175
Where is the error message when VERBOSE=1? Can you attach the whole log? Did you check why your home directory shows up differently? It looks like you are using RHEL autofs? Your home directory showing up with different path names typically means there are symlinks or hard links involved. It can cause trouble with apps that don't resolve them properly. If possible, I'd try the build in a directory

[2020-07-16 11:34] rdragos opened #221 "Building ONNX - PyRuntime error"
Hi,

I am trying to build onnx from scratch but it seems to get stuck at 93%

[code]

I've made sure to build LLVM with the commit pointed by ONNX and run the cmake build of ONNX with Python 3.

Here's a more detailed description of the software versioning I have:
[code]

Is there something obvious I am missing?

[2020-07-16 19:35] AlexandreEichenberger commented on #206
Found that they have added a vector affine load and store.. this is even easier, so no changes to mlir needed. May need partial read and write

[code]

results in the results listed in 3rd column

| Ops. |  Multi-dim vectors (# 1)  | Array of simple vectors (# 2) | Affine memory (#3 here) |
| ------ | ----------------- | -----------------------|  -----------------------|
|  Multiplications (mulps)

[2020-07-17 05:29] marbre commented on #88
I know this is actually the wrong place to ask, but is there a corporate CLA we could sign? Could not find a corporate one and I am not allowed to contribute under the individual CLA.

[2020-07-17 07:18] tjingrant commented on #88
Thanks @stephenneuendorffer for your advice, I have been looking into this example as well and I believe these updates would be immensely helpful for us.

As for corporate CLA, this is the same CLA for all repos under the ONNX organization, thus it's not up to us to decide. Let's cc @prasanthpul to see if a corporate version of the CLA is available to sign.

[2020-07-17 16:01] chentong319 commented on #175
The reason for failure turned out to be that I have to build from a new directory: "make clean" is not enough.

[2020-07-17 16:01] #175 closed

[2020-07-20 18:44] chentong319 opened #224 "failure of ShapeInference pass"
I think that ShapeInference pass should not simply fail the pass manager when shape for a tensor can not be inferred.
ShapeInference may be helped or avoided by other passes. Here are some examples:
1. Constant folding may generate constant input for some operations, and then enables AttributePromotion, and finally helps ShapeInference.
2. ScalerOp will be decomposed into other operations by canon

[2020-07-21 18:32] NathanielMcVicar commented on #221
I'm also experiencing this issue.
[code]

[2020-07-21 19:54] doru1004 commented on #221
@NathanielMcVicar as far as I can tell the fix makes sense (I only tested locally), could you open a PR with the change and let's see what the build system reports!

[2020-07-22 00:49] tungld commented on #224
I agree with your suggestions. It would be more flexible.

Only a minor comment that verifying Attributes should be done in another pass outside or before ShapeInference.
I feel that checking and setting attributes are not the work for ShapeInference.

[2020-07-22 02:40] tungld commented on #224
Could we put ScalerOp to the Decomposing Pass: https://github.com/onnx/onnx-mlir/blob/master/src/Transform/ONNX/Decompose.td? In that way, we don't need to implement ShapeInference for it since the Decomposing Pass is called before ShapeInference.

[2020-07-22 06:15] #221 closed

[2020-07-22 14:20] chentong319 commented on #224
Yes, we can try Decompose.td.

[2020-07-24 22:11] NathanielMcVicar opened #234 "Windows CI pipeline is failing silently"
As far as I can tell, the Windows CI pipeline isn't checking for and returning errors from the script, causing builds that fail to appear as green. An example is here: https://dev.azure.com/onnx-pipelines/onnx/_build/results?buildId=3115&view=logs&j=4060f429-1919-5440-1fce-77a91697330b&t=91a0b9d9-34dd-5af7-633c-c7e5328fed2f

Notice that the builder fails with the following error, but shows success

[2020-07-24 22:22] NathanielMcVicar opened #235 "Windows build failing after #204"
PR #204 removed outputBaseName from the signature of genConstPackObj() in MainUtils.cpp, but this variable is used in an #ifdef path only reached on Windows. I think this may have gone undetected because of #234.

[2020-07-27 19:02] AlexandreEichenberger commented on #234
@gongsu832 Do you mind looking into the issue? First it would be great if scripts were didn't fail silently, and also, can you look into why #204 created the issue in the first place? Thanks.

[2020-07-28 00:43] gongsu832 commented on #234
@AlexandreEichenberger I really know nothing about programming on WIndows. I think someone else setup that build system on Windows. https://github.com/onnx/onnx-mlir/pull/115

[2020-07-28 13:17] caoimhinuibrian commented on #234
Will the .yml build you are working on run on Travis?

[2020-07-28 14:21] caoimhinuibrian commented on #234
@gongsu832 When you changed MainUtils.cpp in PR #204 you broke the Windows build. There is no longer a definition of outputBaseName in the function genConstPackObj (previously was named something else). At the bottom of this function there is a preprocessor #else which is reached on Windows. It uses outputBaseName. Please take a look and see what a suitable fix is.

[2020-07-28 14:23] caoimhinuibrian commented on #235
@gongsu832 see my comment in #234

[2020-07-28 16:01] gongsu832 commented on #234
Putting back the outputBaseName parameter should allow Windows to build although I have no way to test locally. Also, someone who wrote the original code (I guess @tjingrant ?) should take a look. I put a FIXME comment there.

[2020-07-28 17:05] NathanielMcVicar commented on #235
@caoimhinuibrian Should we close this as a duplicate of 234? I wasn't sure about the project policy, but it seems like all the discussion is happening there. Thanks!

[2020-07-28 17:13] NathanielMcVicar commented on #234
@caoimhinuibrian I haven't used Travis CI personally, but I don't think what I have now would work because it uses ADO specific tasks. If support is required for both Travis and Azure pipelines I understand the current approach better.

[2020-07-28 18:06] caoimhinuibrian commented on #235
@NathanielMcVicar I'm not sure that we have an explicit policy, but closing this is probably fine.

[2020-07-28 18:08] caoimhinuibrian commented on #234
@NathanielMcVicar OK, np ... I was just wondering if we could reduce the number of CI builds.

[2020-07-28 18:21] #235 closed

[2020-07-28 18:21] NathanielMcVicar commented on #235
Duplicate of #234

[2020-07-28 18:26] caoimhinuibrian commented on #234
@NathanielMcVicar Just to clarify - your original comment was about silent build failures on Windows, I assume you are fixing that with your yaml build? Is there something else we need to do? I don't believe the TravisCI build fails silently, not sure about the Jenkins or CircleCI.

[2020-07-28 19:17] NathanielMcVicar commented on #234
@caoimhinuibrian This is getting a little beyond my expertise. As far as I can tell the Jenkins and CircleCI builds are not publicly visible, so I can't speak to those. It looks like the Travis ones are Ubuntu only on three different architectures, and I wouldn't expect them to fail silently. I was speaking specifically about the Azure Windows CI. It is possible to use the same yml script across O

[2020-07-29 04:03] jcwchen commented on #234
Hi @NathanielMcVicar,

Sorry that I did not handle this in the first place. I just encountered the same bug on AzurePipeline recently.
As you mentioned, since sometimes Azurepipline cannot catch the exit code normally, AzurePipeline needs to manually catch the error after those scripts like:
[code]
@NathanielMcVicar have you started to work on this? If not, I can help to propose a PR to fix this.

[2020-07-29 08:14] NathanielMcVicar commented on #234
Hi @jcwchen, thanks for looking at this! If you already have something like that started, please feel free to submit the PR. If not, I was planning on tackling it in the morning (PST). If I don't hear from you I'll submit the PR then, just want to make sure we aren't duplicating work.

[2020-07-29 17:59] NathanielMcVicar commented on #234
Thanks for tackling this @jcwchen. Looks great!

[2020-07-30 05:56] tungld opened #242 "Test failed for LSTM with peepholes"
This is the second time we see the following error. Though it is a bit hard to reproduce the error, we need to find the root cause. @tungld will look at this problem.

[code]

[2020-07-31 12:06] #194 closed

[2020-08-02 03:26] zhangliliang opened #246 "Fail to convert a simple network with QuantizeLinear/DequantizeLinear"
I try to convert a simple network with QuantizeLinear/DequantizeLinear but it fails.

The network is very simple that it only contains one tensor as input. Its definition could be found in test of pytorch  (https://github.com/pytorch/pytorch/blob/master/test/onnx/model_defs/op_test.py).
[code]
The onnx model could be generated via `torch.onnx.export(toC(FakeQuantNet()), toC(x), "fake_quant_net.onn

[2020-08-02 12:39] tjingrant commented on #246
@zhangliliang thanks for checking us out, we do not support any quantization related facilities yet although this is something that we hope to cover eventually. We are also open to collaboration if you are interested!

[2020-08-03 03:43] zhangliliang commented on #246
@tjingrant  Thanks for your reply.

Could you share some plans on the roadmap of onnx-mlir?

[2020-08-04 07:01] tjingrant commented on #246
@zhangliliang the objective of this project is to provide production-ready and research-friendly infrastructure for anyone interested in building their own deep learning oriented compiler software stack.

The immediate implication is that we are trying to provide as many compiler/low-level IR definitions of ONNX operators as possible. Meanwhile, we are also actively engineering/researching a few s

[2020-08-04 21:32] NathanielMcVicar opened #247 "CMake paths are sometimes incorrect on Windows"
Some paths in CMake on Windows assume binaries can be found at LLVM_PROJ_BUILD/bin whereas on Windows they are typically at LLVM_PROJ_BUILD/Release/bin. The LLVM_PROJ_BIN variable is correctly set across platforms, but is not always used (for example for finding llc in src/CMakeLists.txt:51). On a related note, tools that are built with extensions (i.e. llc.exe on Windows) aren't accounted for.

[2020-08-06 09:59] mshr-h opened #252 "Improving macOS support"
I've been using ONNX MLIR on macOS 10.15.6 for a few weeks now.
Basic functionality works correctly on my machine.
It looks like macOS is already supported but there are few areas which I can do to improve macOS support.
The following are my ideas.

- [x] Add macOS CI pipeline
- [x] Add CI status badge to README

If it's ok, I'll start working on it soon.

[2020-08-06 11:08] tjingrant commented on #252
Hi @mshr-h thanks for reaching out!

Some of us use macOS as our primary development platform so using onnx-mlir on macOS should be supported most of the time (however, as you obviously noted, it does break from time to time because we don't have CI testing for it). I'm fine with the proposed work items; as for

 could you make it happen on Travis?

[2020-08-07 02:14] mshr-h commented on #252
Ok.

[2020-08-07 04:56] tjingrant commented on #234
Closing because https://github.com/onnx/onnx-mlir/pull/241 resolved this issue. Thanks @jcwchen !

[2020-08-07 04:56] #234 closed

[2020-08-07 11:18] awf opened #254 "Make llvm a submodule?"
As we depend on a specific checkout of llvm, and on building llvm with specific cmake settings, should we not just submodule llvm?

[2020-08-07 19:55] kwu91 opened #255 "Using onnx-mlir through incremental stages"
Hello,

I'm trying to use onnx-mlir on the [mnist-7 model](https://github.com/onnx/models/tree/master/vision/classification/mnist). My intention is to build a shared library through incremental stages instead of at once with `--EmitLib`. The purpose is to have the option of applying additional transformations. I will step through an example:

The first two sequences work fine:

[code]

At this tim

[2020-08-07 21:46] caoimhinuibrian commented on #252
10.15.5 seems to be the latest version of OSX that Travis has. I can add that to our TravisCI build if there is a consensus.

[2020-08-08 01:50] mshr-h commented on #252
Here is the macOS versions which is supported by Travis.
https://docs.travis-ci.com/user/reference/osx#jdk-and-macos

There are two type of the latest osx_image, `osx_image: xcode12u` and `osx_image: xcode12`.
I'm not sure which one should be used for onnx-mlir.

[2020-08-08 01:53] mshr-h commented on #252
I looked at README and I noticed that there is already a chapter `Installation on UNIX` which include macOS installation.
So we don't need to do `Add build instruction on macOS to document`.

[2020-08-09 04:59] tjingrant commented on #254
I have some concerns going down this road: for example, assuming we'd then treat llvm like any other submodule, this would mean that rebuilding project from scratch (i.e., `make clean && make all`) would entail nuking & rebuilding llvm as well. Dev experience can take a significant toll because llvm is humongous.

However, I'm thinking whether giving the option of downloading & installing llvm (wi

[2020-08-09 06:29] tjingrant commented on #255
@kwu91 thanks a bunch for tackling the problem, really appreciate your help! The change from llvm void type to empty list seems reasonable, but I'm surprised the change from loadOp to an undefOp works, given that the semantics of these two operations aren't exactly the same. Can you try running the backend test to see if results match up? You can invoke the backend test by running `make check-onnx

[2020-08-09 07:42] awf commented on #254
Rebuilding llvm takes an hour on my machine so I agree that's considerably longer than the 3 minutes ``make clean && make all`` takes today in onnx-mlir.  Perhaps a candidate for https://cmake.org/cmake/help/latest/module/ExternalProject.html?

OTOH, whenever I use make clean, things are pretty broken, I could probably do with making sure my llvm is up to date.

I would point out that trying to "r

[2020-08-10 16:45] kwu91 commented on #255
@tjingrant Thanks for the feedback! I've ran `make check-onnx-backend` and it looks okay although it seems like a lot of tests were skipped?

[code]

I'll go ahead and make a PR.

[2020-08-10 18:23] NathanielMcVicar opened #258 "CTest unit tests failing on some operating systems/arch combinations"
I am trying to enable ctest for our build pipelines. Unfortunately, there are a number of failures due to Google benchmark including gtest which includes some tests which can't be disabled through cmake options (I'm seeing this on Ubuntu 18.04 x64 and Windows x64). Some of these failing tests have been fixed in gtest upstream, but the ONNX MLIR submodule is to a fork that hasn't been merged recent

[2020-08-11 05:39] tjingrant commented on #258
It was to work around some peculiar constraint we were facing. The major change in the forked repo is that I made gtest a submodule of google benchmark (otherwise you either have to manually clone gtest or rely on cmake to download gtest on-the-fly during build time). I don't think we face the same set of constraints anymore and likely switching to the official version of google benchmark will wor

[2020-08-11 06:49] tjingrant commented on #254
That sounds reasonable, I can take a crack at it fairly soon.

The combination of cmake & tablegen confuses me (among other folks); there're also other cmake updates we need to make fairly soon because there wasn't any official guidance on how to integrate with mlir through CMake in the early days. Hopefully once we change to adopt the official mlir cmake best practices we'll unbreak `make clean`

[2020-08-11 06:55] NathanielMcVicar commented on #258
Thanks for being so patient explaining all this! Given everything so far, I'm considering creating a PR that would point the benchmark submodule to master and set `BENCHMARK_ENABLE_GTEST_TESTS OFF`. This works for me locally, but as you say anyone who wants to use `gtest_add_tests` in the future would have to download gtest and there may be some benefit to have the default gtest suite as part of C

[2020-08-11 07:08] tjingrant commented on #258
That sounds reasonable!

Maybe we can set this flag `BENCHMARK_DOWNLOAD_DEPENDENCIES` to ON? As in https://github.com/google/benchmark/blob/e5ea03ce07997620980636b3ee7e6117d68bc6ad/CMakeLists.txt#L31 . It tells CMake to download gtest (among other things) when cmake scripts are run.

[2020-08-11 08:46] awf commented on #254
Thanks for this super-detailed reply!

The use case I was thinking of was where LLVM needs to be built with e.g. clang, or with exceptions enabled, because the downstream project is built with clang/exceptions.   Then it's not just the commit ID, but also the cmake arguments that need to match.

Just to understand: if `make clean` didn't descend into submodules we would avoid the long rebuild time

[2020-08-11 11:13] gongsu832 commented on #258
As I'm about to setup the model tests and switch over to googletest, should we just make googletest a submodule?

[2020-08-12 00:09] NathanielMcVicar commented on #258
@tjingrant Does it make sense to remove the `PATH` setting from before `make test` on the various CI platforms (and buildbot) as part of the PR? It shouldn't be required anywhere anymore.

[2020-08-12 04:57] tjingrant commented on #254
Hmm, my impression is that the CMake arguments we pass to LLVM barely changes; also I believe onnx-mlir is fairly forgiving with respect to various LLVM build configurations. If that is not the case for you, can you give me a specific scenario where the config required by your downstream project conflicts with that of onnx-mlir? We may be able to fix it.

Yes, but I feel like this is less of a con

[2020-08-12 05:39] tjingrant commented on #258
If that works then sure (I suspect that OMTestConv may fail).

That makes sense if it doesn't present too much trouble.

[2020-08-12 21:39] NathanielMcVicar commented on #258
Hopefully I've done it correctly. Please take a look when you have a chance. I can't figure out where Jenkins CI is configured in the repo. Is the config only available to the IBM folks?

[2020-08-13 09:57] awf commented on #254
Yes, that seems like a good thing to implement, if only to gain experience.

So, here's my dev folder:
[code]
Now, when I configure `onnx-mlir`, I need to point the llvm-project repo to some specific checkout, and I may need a different checkout for `my-other-mlir-project`.  I could do git checkout before building in each of the build subfolders of llvm-project, but it's probably best to just do t

[2020-08-14 18:13] LesterS4t1qbit commented on #254
Hey guys,
I've been doing some work on writing a project that's using some of the onnx-mlir libs. And to set the dependencies and manage llvm, I've had my cmake structure that's set up to manage LLVM and address some of the stuff that's being discussed here, so thought I'd share what I've done  to provide some more options.

So I've added llvm-project as an external project to my CMake. But to avo

[2020-08-14 18:14] lszinv commented on #254
Hey guys,
I've been doing some work on writing a project that's using some of the onnx-mlir libs. And to set the dependencies and manage llvm, I've had my cmake structure that's set up to manage LLVM and address some of the stuff that's being discussed here, so thought I'd share what I've done  to provide some more options.

So I've added llvm-project as an external project to my CMake. But to avo

[2020-08-17 07:09] ArunaKote opened #269 "onnx to mlir"
while converting onnx to mlir using onnx-mlir,
           I am getting this error:/llvm-project/mlir/lib/IR/StandardTypes.cpp:373: static mlir::MemRefType mlir::MemRefType::get(llvm::ArrayRef<long int>, mlir::Type, llvm::ArrayRef<mlir::AffineMap>, unsigned int): Assertion `result && "Failed to construct instance of MemRefType."' failed.
Aborted (core dumped)

Thank you

[2020-08-18 14:03] tjingrant commented on #252
@mshr-h to add travis support for osx, you'll need to have:
- A docker file for building dependent software (mostly llvm/mlir like here: https://github.com/onnx/onnx-mlir/blob/master/docker/prereq.amd64.Dockerfile), we call this docker image prereq image.
- You'll need another much simpler dockerfile using the prereq image as a starting point to build onnx-mlir (like this one: https://github.com/o

[2020-08-18 14:21] mshr-h commented on #252
@tjingrant Thank you for your comment. I just noticed it after I sent PR. So I closed the PR.

I googled about macOS on Docker and I think it's not possible to use Docker for macOS CI.
Because:

- Docker doesn't support macOS as a guest OS. (I'm not a docker professional so it may be wrong.)
- Travis doesn't currently support Docker on macOS. ([https://docs.travis-ci.com/user/docker/](https://docs

[2020-08-18 17:39] NathanielMcVicar commented on #258
Fixed in #262

[2020-08-18 17:39] #258 closed

[2020-08-19 07:41] ArunaKote commented on #255
How to do Vector Dialect as legal dialect in the ConvertKrlnToLLVMPass?

Thank You

[2020-08-19 08:38] tjingrant commented on #255
@ArunaKote I think we are in the process of adding vector dialect to our lowering workflow.

@AlexandreEichenberger can probably give you more context/details.

[2020-08-19 08:41] ArunaKote commented on #255
OK .Thank You

[2020-08-19 09:30] tjingrant commented on #254
Apologies for my belated response.

@awf I totally agree with your comments, and the latter organization clearly makes more sense.

Yes, I do sometimes juggle between multiple repos at the same time, mostly because I like to try out various people's fork referenced in their submitted PRs. OTOH, a perhaps more significant factor of consideration for me is to be able to reuse the same `llvm-project`

[2020-08-20 09:26] mshr-h commented on #252
GitHub Actions supports caching mechanism. ([Caching dependencies to speed up workflows - GitHub Docs](https://docs.github.com/en/actions/configuring-and-managing-workflows/caching-dependencies-to-speed-up-workflows))
I think this could be an option for macOS CI.

But there is limitations:

- TTL is 7 days
  - maybe too short?
- The total size of all caches in a repository is limited to 5 GB
  - `

[2020-08-20 14:00] tjingrant commented on #252
@mshr-h Github Action sounds like a reasonable choice! 7 days doesn't too bad and if the size of the cache is big enough then we should be okay!

[2020-08-21 03:09] mshr-h commented on #252
@tjingrant I'll check Github Actions caching mechanism and see if it works.

[2020-08-23 23:52] mshr-h commented on #252
@tjingrant I used [`utils/build-mlir.sh`](https://github.com/onnx/onnx-mlir/blob/master/utils/build-mlir.sh) which `CMAKE_BUILD_TYPE` is `Release`. I'll try `MinSizeRel`.

[2020-08-25 16:11] mshr-h commented on #252
I tried `actions/cache@v2` on onnx-mlir compilation. I noticed that the cache targets are compressed when caching.
I cheched the compressed cache file size on different caching configuration (build type / cache target). The result is as follows:

| Cache target | CMAKE_BUILD_TYPE=Release | CMAKE_BUILD_TYPE=MinSizeRel |
| :--- | :---: | ---: |
| `llvm-project` (including `build` directory) | 1814 M

[2020-08-26 18:19] caoimhinuibrian opened #275 "fix naming of docker images to conform to docker standards"
See comments from @gongsu832 in PR #273

[2020-08-28 13:29] chentong319 opened #282 "version of third_party/onnx is changed?"
I got a build error for my PR#281. The reason is that check document found multiple different lines for ONNXOps.td.inc which are not my changes. I tracked down and found the HEAD os onnx version is changed, but there is no PR to update ONNXOps.td.inc.
If the change of onnx is intended, I will update ONNXOps.td.inc with a separate PR.
Anyway to  make the process, or at least a notification to users

[2020-08-30 12:08] ArunaKote commented on #255
How do I lower MLIR to LLVM IR using ONNX-MLIR?

[2020-08-31 03:26] gongsu832 commented on #282
I think @doru1004 already commented on the pull request https://github.com/onnx/onnx-mlir/pull/281#issuecomment-682633240. The submodule version didn't change. The changes were introduced by the patch you are trying to submit. If you look at your patch, it's actually changing the submodules benchmark, googletest, onnx, and pybind11.

[2020-09-02 08:23] tungld opened #289 "krnl.shape is not totally lowered to std dialect"
`krnl.shape` returns `shape.shape` as its return type. However, `shape.shape` is not lowered to std dialect.

Example
[code]
Applying passes: `--lower-krnl-shape` and  `--disconnect-dims`, we got
[code]

Then, applying pass `--convert-shape-to-std` to lower to std, we got:
[code]
We still have `shape.shape` here.

The reason why `shape.shape` was not lowered to std is `--convert-shape-to-std` does

[2020-09-02 13:29] tungld commented on #289
FYI @doru1004.

[2020-09-03 06:14] ArunaKote opened #291 "lowering kernel dialect"
I got these while converting onnx to MLIR using -EmitMLIR.
1. "krnl.packed_const"() {file_name = "/tmp/packed_const-b91861.tmp", is_le = true, size_in_bytes = 0 : i64} : () -> i64
2."krnl.global"()
3."krnl.getref"
These are not lowered to affine dialect while doing ----convert-krnl-to-affine.

How can I lower these ?

and where can I get list of all kernel dialect operations.

Thank You

[2020-09-03 08:20] tungld commented on #291
Hi @ArunaKote

Thanks for using onnx-mlir!

For these ops, you can lower them using `convert-krnl-to-llvm`: https://github.com/onnx/onnx-mlir/blob/master/src/InitOMPasses.hpp#L68

For the list of all kernel dialect operations, please find them here: https://github.com/onnx/onnx-mlir/blob/master/src/Dialect/Krnl/KrnlOps.td

You can use --EmitLLVMIR to directly generate an LLVM code.

[2020-09-03 10:25] ArunaKote commented on #291
If I use --EmitLLVMIR  I am getting this error:
static mlir::MemRefDescriptor mlir::MemRefDescriptor::fromStaticShape(mlir::OpBuilder&, mlir::Location, mlir::LLVMTypeConverter&, mlir::MemRefType, mlir::Value): Assertion `type.hasStaticShape() && "unexpected dynamic shape"' failed.

[2020-09-03 12:12] ArunaKote commented on #291
If I use --EmitLLVMIR  I am getting this error:
static mlir::MemRefDescriptor mlir::MemRefDescriptor::fromStaticShape(mlir::OpBuilder&, mlir::Location, mlir::LLVMTypeConverter&, mlir::MemRefType, mlir::Value): Assertion `type.hasStaticShape() && "unexpected dynamic shape"' failed.

[2020-09-03 12:13] ArunaKote commented on #291
If I use --EmitLLVMIR I am getting this error:
static mlir::MemRefDescriptor mlir::MemRefDescriptor::fromStaticShape(mlir::OpBuilder&, mlir::Location, mlir::LLVMTypeConverter&, mlir::MemRefType, mlir::Value): Assertion `type.hasStaticShape() && "unexpected dynamic shape"' failed.

[2020-09-03 17:41] AlexandreEichenberger commented on #291
I suspect that your model has some dynamic dimensions. Can you check if the model goes through if you fix these dynamic dimensions to some static values? In general, the support for dynamic still need some work.

[2020-09-04 04:30] ArunaKote commented on #291
I changed dynamic dimensions to static value.I able to get LLVM dialect --EmitLLVMIR.But when I give this file mlir-translate --mlir-to-llvmir Iam getting error like this:
error: custom op 'llvm.insertvalue' expected wrapped LLVM IR structure/array type
    %7 = llvm.insertvalue %6, %4[0 : i32] : !llvm.ptr<struct<(ptr<float>, ptr<float>, i64, array<2 x i64>, array<2 x i64>)>>

[2020-09-04 11:05] tungld commented on #291
This would be a bug since the input for `insertvalue` cannot be a pointer but a struct or array. Could you please provide the input ONNX model that can reproduce this bug, so that we can identify the root cause? Thanks!

[2020-09-04 11:14] ArunaKote commented on #291
This is the ONNXIR:
module {
  func @main_graph(%arg0: tensor<1x4xf32>) -> tensor<1x3xf32> attributes {input_names = ["input_2:0"], output_names = ["Identity:0"]} {
    %0 = "onnx.Constant"() {value = dense<[[-0.271809936, -0.12023776, 0.626025676, 0.376105517, 0.150733903], [-1.03279042, -0.675471127, 1.03124714, 1.92241752, 1.55713868], [0.78930509, 0.564916134, -1.47284496, -1.25398922, -2.1373

[2020-09-04 11:39] tungld commented on #291
Thanks @ArunaKote for the code! I fixed this issue by the linked pull request #293 . Could you please check again with the pull request?

[2020-09-04 13:41] ArunaKote commented on #291
OK.

Thank You

[2020-09-04 14:29] #291 closed

[2020-09-04 14:29] AlexandreEichenberger commented on #291
I approved the change, Please ping us if it did not work for you. Thanks @tungld for the fix.

[2020-09-06 12:42] #282 closed

[2020-09-06 12:44] chentong319 commented on #282
It is true that my PR accidentally changed the submodules.

[2020-09-10 17:04] NathanielMcVicar commented on #247
I wanted to call attention to some additional Windows issues here (aggregating to avoid spamming the issue tracker). Consider this list a work in progress, and please let me know if I'm simply making a mistake in our Windows builds! Thanks.

- There is an include of dlfcn.h in ExecusionSession.hpp (should this be Execution?). This is causing failures on some of our Windows build systems (all targe

[2020-09-11 14:52] daquexian opened #298 "question about export support"
Thanks for your amazing work!

Is there any plan to support exporting, i.e. translating the mlir dialect back to onnx?

[2020-09-11 15:44] AlexandreEichenberger commented on #298
None that is planed. Since MLIR is based on lowering dialects from ONNX to KRNL, and then to affine, SCF, Standard... we are going away from ONNX quite quickly. That is our current focus, namely lower ONNX to binary that can be executed on various platforms.

But maybe you want to implement an ONNX to ONNX optimizer? Do you have any immediate needs in this area?

There might be functionality in th

[2020-09-13 13:42] daquexian commented on #298
Yes, I want to leverage MLIR (especially the DRR) to implement ONNX to ONNX optimizer. It is not urgent. Maybe I can add export support to ONNX-MLIR if I find it is useful to the optimizer.

Could you elaborate? Do you mean translate onnx mlir dialect to onnx protobuf by modifying (change the source format from tensorflow/pytorch etc to onnx dialect) some existing onnx converter? :)

[2020-09-15 02:19] lszinv commented on #254
Sorry for the delay on the response. I've included a gist of an example cmake on how I use LLVM as an external project:
https://gist.github.com/lszinv/ea545412923cfd9771b815a7ac5ec382

[2020-09-15 09:47] hugulas opened #300 "Docker container compilation warning "cannot find -lcruntime""
I started latest onnxmlir container in interactive mode with following command.

`docker run -ti -v /mnt/backup/models:/models --entrypoint=bash onnxmlirczar/onnx-mlir-build`

I scanned the onnx model zoo.

I got following warning messages.

`
/build/onnx-mlir/build/bin/onnx-mlir models/vision/classification/shufflenet/model/shufflenet-7.onn
/usr/bin/ld: cannot find -lcruntime
collect2: error: ld

[2020-09-16 06:11] ArunaKote opened #303 "undefined reference to `getEmbeddedConstPool'"
I converted ONNX to MLIR using onnx-mlir --EmitMLIR.
I added main function to pass input to graph and print statement to print the output of graph.
Then I lowered LLVM Dialect using onnx-mlir-opt --convert-krnl-to-llvm and.onnx.mlir>n1.mlir.
Lowered to LLVM IR using mlir-translate --mlir-to-llvmir n1.mlir>n2.ll
the I ran the .ll file using clang n2.ll  "pathto"/libmlir_runner_utils.so -o main -lm

[2020-09-16 08:00] daquexian opened #304 "which llvm commit should be used now"
Thanks for your amazing work!

When I try to build onnx-mlir, I found the llvm version in docker onnxmlirczar/onnx-mlir-build:x86 is 0dc91bfd11e, and the version provided in readme is 1d01fc100bb5bef5f5eaf92520b2e52f64ee1d6e. However, neither these two versions fit the master onnx-mlir.

Maybe the readme and the docker should be updated?

[2020-09-16 21:37] caoimhinuibrian commented on #304
@daquexian Thanks for your interest! Not sure what you are asking ... The current llvm version in utilities/clone-mlir is 1d01fc...d6e and thats also what the readme says (actually, these are forced to stay the same by doc check). I grabbed the latest onnxmlirczar/onnx-mlir-build:x86 (5 days old) and looked at the commit for llvm in it. It is also 1d01fc...d6e, so maybe you looked in the wrong pla

[2020-09-17 00:04] NathanielMcVicar commented on #304
On a related note, our team is maintaining a version building against the latest upstream LLVM locally. I don't know how many others are doing this, but it seems like a waste of effort if we aren't the only ones and also if this doesn't get leveraged when it is time to update ONNX MLIR. Is there, or should there be, somewhere to coordinate this? Maybe @tjingrant has ideas.

[2020-09-17 03:23] daquexian commented on #304
@caoimhinuibrian @NathanielMcVicar Thanks for your reply! It's my fault. I used onnxmlirczar/onnx-mlir-build:latest but not onnxmlirczar/onnx-mlir-build:x86 yesterday. What's more I didn't pull the latest onnx-mlir source code so a old version of onnx-mlir code is used. After pulling the latest code I compiled onnx-mlir successfully.

[2020-09-17 13:47] caoimhinuibrian commented on #304
@NathanielMcVicar @tjingrant The TravisCI build currently builds both with the preferred version of LLVM and also with the latest upstream version, so it's possible to see whether moving up to the latest version is feasible.

[2020-09-17 16:49] NathanielMcVicar commented on #304
@caoimhinuibrian I see now! I didn't realize it was set up like that, but very cool. I guess the question is if we pushed our updated fork somewhere public and maintained would that be valuable to the project when it's time to update the preferred version (to reduce duplicated effort), or is it more trouble than it's worth? I understand we can't easily create the PR itself because of the docker se

[2020-09-17 19:04] caoimhinuibrian commented on #304
@NathanielMcVicar Sure, it doesn't hurt to make your fork visible. I think that many changes to LLVM won't cause onnx-mlir to break, so moving up is trivial in that case. Where changes to LLVM break us, someone needs to submit a PR to upgrade and with the fixes to the places that are broken by whatever API changes have occurred. Right now the onus is on the person who wants to move up to submit th

[2020-09-17 19:05] caoimhinuibrian commented on #304
Re opening this to continue this discussion.

[2020-09-17 19:11] NathanielMcVicar commented on #304
My understanding is that the difficulty is in updating the docker images since they are hosted on docker hub and not easy to update for folks outside of IBM. Is that not an issue? Either way, I'm happy to create a PR for comment and we can go forward from there.

[2020-09-17 19:27] doru1004 commented on #303
You are not linking with the library where those functions are defined i.e. RtMemRefUtils

It would be much easier if you compile your code using onnx-mlir all the way to LLVM, compile the LLVM as a shared object and then just call the model function from inside a C/C++ main function.

[2020-09-18 03:16] ArunaKote commented on #303
Thank You. If I link RtMemRefUtils Iam still getting error as:
                   undefined reference to getEmbeddedConstPool'
To resolve this I tried creating a shared object of onnx-mlir/src/Runtime/GetEmbeddedConstPool.cpp and linking while compiling but I am getting error like:
        onnx-mlir/src/Runtime/liblibrary.so: undefined reference to `_binary_param_bin_start'
        onnx-mlir/src/R

[2020-09-18 06:27] hugulas commented on #300
If "/build/onnx-mlir/build/lib" is included in PATH  env of docker container, this problem will be resolved.

`export PATH=$PATH:/build/onnx-mlir/build/bin/:/build/onnx-mlir/build/lib`

[2020-09-18 06:34] hugulas commented on #300
@tjingrant @caoimhinuibrian

Is it possible add "export PATH=$PATH:/build/onnx-mlir/build/bin/:/build/onnx-mlir/build/lib" to docker files?

[2020-09-18 19:29] caoimhinuibrian commented on #300
@hugulas Glad to see you found the problem. You can create a new docker image to change the PATH. a Dockerfile containing this:

FROM onnxmlirczar/onnx-mlir-build:x86

WORKDIR /build
ENV PATH=$PATH:/build/onnx-mlir/build/bin/:/build/onnx-mlir/build/lib

should do the trick. Just put that in an empty directory, cd to that and run:
docker build --tag yourTagName .

Then
docker run -ti -v /mnt/backup

[2020-09-18 19:32] caoimhinuibrian commented on #300
Of course, you may want to put a lot more stuff in the Dockerfile, if you are planning to do development there. This is what my current Dockerfile looks like:
FROM onnxmlirczar/onnx-mlir-build:x86

# set the version of python
WORKDIR /build
ENV HOME=/build
ENV PYENV_ROOT=$HOME/.pyenv
ENV PATH=$PYENV_ROOT/shims:$PYENV_ROOT/bin:$PATH
RUN pyenv global 3.7.0
RUN pyenv rehash

# install needed packages

[2020-09-18 21:00] caoimhinuibrian commented on #269
Is this still a problem?
If it is, please make a minimal testcase that demonstrates the issue and give instructions for reproducing it.

[2020-09-19 12:44] gongsu832 commented on #300
@hugulas `onnxmlirczar/onnx-mlir-build` is the wrong image. It was built 3 months ago. You are probably looking for `onnxmlirczar/onnx-mlir-build:x86`.
@caoimhinuibrian @tjingrant We need to clean up that `onnxmlirczar/onnx-mlir-build` image.

[2020-09-22 17:12] NathanielMcVicar commented on #304
Fixed in #309, for now

[2020-09-22 17:12] #304 closed

[2020-09-23 04:20] dushyanth-m opened #315 "llvm-project"
while converting .mlir file to .ll using llvm-project getting error as below the command used to convert is mlir-translate -mlir-to-llvmir m1.mlir >m4.ll

m1.mlir:5:11: error: custom op 'constant' is unknown
    %c0 = constant 0 : index

[2020-09-23 12:19] ArunaKote commented on #269
I am trying to convert ONNX to MLIR using onnx-mlir --EmitMLIR .But I am getting error like:
error: unexpected output has non-Constant shape
onnx-mlir: /home/aruna/llvm-project/mlir/include/mlir/IR/Types.h:338: U mlir::Type::cast() const [with U = mlir::MemRefType]: Assertion `isa<U>()' failed.
Aborted (core dumped)
My Tensorflow model is like:

model = Sequential([
    Conv2D(16, 3, padding='same

[2020-09-24 07:54] ArunaKote opened #320 "Error in lowering ONNXIR"
the part of code giving error is:
%cst = constant unit
    %0 = "onnx.Reshape"(%arg0, %cst) {onnx_node_name = "StatefulPartitionedCall/sequential_1/flatten_1/Reshape", shape = dense<[-1, 784]> : tensor<2xi64>} : (tensor<1x28x28xf32>, none) -> tensor<1x784xf32>

In this I lowered this to affine and when I try to lower to LLVM dialect I am getting error as:
 error: failed to legalize operation 'std.

[2020-09-24 13:08] tjingrant commented on #315
Not familiar with mlir-translate, but if you are looking for LLVM dialect representation of onnx model, simply run `onnx-mlir -EmitLLVMIR [your-model.onnx]`.

[2020-09-24 13:26] tjingrant commented on #298
@daquexian do you intend to rebase https://github.com/daquexian/onnx-simplifier on mlir based infra? That'd be very cool and I'd be glad to help out any way I can!

I think Alex meant that you can create a compiler pass inside onnx-mlir operating on ONNX Dialect, and the only thing it does is going through the list of operations in the IR module, translate these operations, one by one, into protob

[2020-09-24 13:50] tungld commented on #320
Could you try to call `canonicalize` pass before lowering to LLVM, e.g. `onnx-mlir-opt --canonicalize your_program.mlir`? This will eliminate `constant unit` if it is not used.

[2020-09-24 15:05] ArunaKote commented on #320
Thank you. It Worked for me.

On Thu, 24 Sep, 2020, 7:20 PM Tung D. Le, <notifications@github.com> wrote:

[2020-09-25 06:09] tungld opened #323 "Error when calling the pass bundle-memory-pools"
I have an MLIR program for RNN, which was generated by the PR #321. When I called `./bin/onnx-mlir-opt --bundle-memory-pools rnn.mlir`, I got the following error:
[code]

Without `bundle-memory-pools` the program can be lowered to LLVM bitcode and run correctly.

This is `rnn.mlir`:
[code]

@doru1004 Doru, any thought on this? Thanks!

[2020-09-25 13:25] SerenaC94 opened #324 "errors compiling LLVM IR output"
Hi,
I successfully lowered the MNIST model from ONNX model zoo into a model.ll file.
However, there seem to be some issues in the output since clang is not able to compile the output LLVM IR.

clang9 output:
[code]

clang4 output:
[code]

[2020-09-25 15:11] doru1004 commented on #323
I'll have a look! :)

[2020-09-25 22:51] doru1004 opened #326 "Ensure dynamic memory pools are aggregated on a per block basis."
Ensure dynamic memory pools are aggregated on a per block basis.

[2020-09-27 02:47] hugulas commented on #300
@gongsu832 The suggestion works for me. I tried it on both s390 and x86.

root@05c86a733ad9:~# /build/onnx-mlir/build/bin/onnx-mlir /external/models/vision/classification/shufflenet/model/shufflenet-9.onnx
Shared library /external/models/vision/classification/shufflenet/model/shufflenet-9.so has been compiled.

[2020-09-27 02:47] #300 closed

[2020-09-28 03:24] gongsu832 commented on #275
@caoimhinuibrian Based on https://github.com/onnx/onnx-mlir/issues/300 I think that the onnx-milr-build image is really meant for developers since it contains both llvm-project and onnx-mlir source, which makes it fairly big. Perhaps we should also create an onnx-mlir image just for end users. It will have all binaries installed without the source code so it should be fairly small. I also have a s

[2020-09-30 16:53] agostini01 commented on #324
Hey @SerenaC94 , I got the same error using clang-8.
But I am able to compile the LLVM IR of (much simpler) onnx models, and avoid the error by using clang-10.

I think updating the clang version will solve this problem.

Would you mind sharing a link to your model?

[2020-09-30 22:43] agostini01 commented on #128
@Xatter and @doru1004 , it appears that the ResNet version included in the tests is different than the onnx zoo or the onnx repo.

The version included by the tests is downloaded from here:
wget https://s3.amazonaws.com/download.onnx/models/opset_9/resnet50.tar.gz

The download location is defined in this file:
`onnx-mlir/third_party/onnx/onnx/backend/test/data/real/test_resnet50/data.json`

This

[2020-10-05 17:56] #326 closed

[2020-10-05 17:56] doru1004 commented on #323
Resolved

[2020-10-05 17:56] #323 closed

[2020-10-05 19:07] agostini01 opened #335 "Casting error when using a model with constants during --EmitLib"
Got an error in a `(Tensor+Tensor)+Constant` graph.

This is the onnx.mlir code:

[code]

And this is the executed line and the error:

[code]

Note that the same example without the internal constant, but with a `1xf32` argument works:

[code]

[2020-10-05 19:29] agostini01 commented on #335
Looking further into the problem, I found that if we replace the type declaration:
`tensor<f32>` by `tensor<1xf32>` the compilation is successful.

Compilation works if the mlir generated from the onnx model were this:
[code]

However,

[code]

emits this incorrect IR for this model. I will try to add the model in the next comment.

[2020-10-05 19:33] agostini01 commented on #335
I could not add the model.onnx file, but this is how the onnx file was generated:

[code]

[2020-10-05 19:44] chentong319 commented on #335
Thanks @agostini01. Could you send the model (.onnx) file to me by email(chentong@us.ibm.com)?

[2020-10-05 21:13] agostini01 commented on #335
@chentong319 , just sent you an email.

The fix allows for LLVM IR to be generated but breaks downstream during the compilation of the `.so` binary.

[2020-10-05 23:48] chentong319 commented on #335
@agostini01 I did not see your email yet. Is the model file too large?

[2020-10-06 18:39] agostini01 commented on #335
@chentong319 my email must have been sent to a span folder.

I have created a github repo and included the example: https://github.com/agostini01/failing-onnx-models/tree/main/custom_tensor_add_plus_cte

[2020-10-07 00:54] chentong319 commented on #335
I downloaded the model and tried. So far I found that the onnx::TensorProto node for this denseElemtAttr has dims().size() == 0. It should be 1. That's why the importer generated tensor<f32>, but not tensor<1xf32>. Need further to identify the source.

[2020-10-07 14:51] agostini01 commented on #335
This is good that you found one of the sources of the problem.

I was playing with onnx-mlir source code, but could not spot how to debug this error.
Do you set breakpoints on specific files?
How/where do you know that f32 was generated instead of 1xf32?

[2020-10-07 18:40] chentong319 commented on #335
I set break point in   onnx-mlir/src/Builder/FrontendDialectHelper.cpp: mlir::DenseElementsAttr onnxTensorProtoToDenseElmAttr. This is the procedure to construct the attribute for ConstantOp. I dumped the type and also print out initializer.dims().size().
By the way, I tried to use your model generation python code. I got an error (same error for other example code). I think that the error is caus

[2020-10-12 14:15] bmanga opened #344 "Error with ONNXIfOp and Graph attributes"
If a model contains `if` operations where the `then_branch` and `else_branch` attributes are other graphs, execution fails with the following error:

UNREACHABLE executed at /home/bruno/Projects/onnx-mlir/src/Builder/FrontendDialectTransformer.cpp:144!

[2020-10-14 15:48] chenqiny commented on #128
I wrote a script to get onnx model zoo coverage status. And I executed ONNX MLIR twice with different versions of docker image onnxmlirczar/onnx-mlir-build:x86.

0. New Version: *2020-10-12T21:37:40.936418611Z*
1. Old Version: *2020-09-23T19:47:15.588547807Z*

ONNX MLIR Compiling Target: [ONNX Model Zoo](https://github.com/onnx/models)

17 of 118 onnx models can be compiled by onnx-mlir successful

[2020-10-15 10:02] chenqiny opened #350 "MLPERF 0.7 onnx models support status"
Source: https://github.com/mlperf/inference/tree/r0.7#mlperf-inference-v07-submission-9182020

I tried to compile the following onnx models. All of them are failed.

| model                  | onnx ready                 | dataset                    | onnx-mlir |
| ---------------------- | -------------------------- | -------------------------- | --------- |
| resnet50-v1.5          | Yes

[2020-10-15 14:39] chentong319 commented on #350
The error report showed that two types of error for shape inference: not implemented or unranked tensor. Any way to know which operations the error occurred? Perhaps we should change the code to include operation name in the error message.
We are adding support for dynamic tensor (like <?xi32> but no plan to support unranked tensor (like <*xi32>) yet. I hope that all the unranked tensors will disa

[2020-10-15 18:32] gperrotta opened #351 "Supporting EfficientNet"
Hello,

I'm trying to compile EfficientNet v1 with onnx-mlir but it can't get past the shape inference pass. By debugging with onnx-mlir-opt it appears that _LRN_ operator is not registered for `ShapeInferenceInterface` and has not an `inferShapes` method.

To implement such method I was looking how they do it in [ONNX ShapeInference](https://github.com/onnx/onnx/blob/master/onnx/defs/nn/defs.cc)

[2020-10-16 02:00] hugulas commented on #350
It will be very nice to have verbose error information to dianose these compilation error. One of the manual way I used is gdb and vscode debug to get the variables from stack.

Cool.

[2020-10-16 02:53] chenqiny commented on #350
It will be very nice to have verbose error information to dianose these compilation error. One of the manual way I used is gdb and vscode debug to get the variables from stack.

Cool.

[2020-10-16 17:44] chentong319 commented on #351
There are several steps needed to add ShapeInference code. I am working on simplify that process for users. I will add a the stub ShapeInference code for all operations with just emitError in the body. Then it will be easier for other to add the implementation.

[2020-10-16 18:11] chentong319 commented on #350
@chenqiny My output already has the operation information in the next line of the error message. Is that the case for your output? The emitError is a member of operation.

[2020-10-16 20:03] chentong319 commented on #351
PR#345 is added for this purpose.

[2020-10-16 20:12] gperrotta commented on #351
Just linking PR here: #354

Thanks, @chentong319

[2020-10-19 02:55] chenqiny commented on #350
@chentong319 I attached a file in the issue with complete error output. The error output is just too long.

And the following is the error output I got from docker image updated in 10.18. (image creation:2020-10-15T16:18:22.789492633Z)

Are you using the head of git repository?

- ONNNX File: ./mlperf_models/224_224_160.onnx
    - Group:    Expected Error
    - Source:   Shape inference failed

[2020-10-20 11:15] dushyanth-m opened #356 "converting onnx to mlir"
The model summary is as follows:

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_4 (Embedding)      (None, 200, 64)           320000
_________________________________________________________________
bidirectional_4 (Bidirection (None, 128)

[2020-10-23 09:04] ArunaKote opened #362 "Error in Lowering RNN model using onnx-mlir"
I developed RNN model using Tensorflow .I have used SimpleRNN,TimeDistributed and Dense layers.I converted model to ONNX.When I try to lower to MLIR using onnx-mlir -EmitONNXIR  I am getting error as :

datatype for attribute is not implemented
UNREACHABLE executed at /onnx-mlir/src/Builder/FrontendDialectTransformer.cpp:145!
Aborted (core dumped)

Thank You

[2020-10-26 03:41] wangzhaode opened #363 "MLIRAffine, MLIRLinalg, MLIRStandard not found"
Build llvm and miler success and not found these library, but there exist MLIRAffineOps, MLIRLinalgOps, MLIRStandardOps library. Is my MLIR version **WRONG**? But I can't do `git checkout b3b4cda104068e92b77f18c4e3fc0e0b8f3650e0` because it's not a tree.

My Version as below:
llvm-project: 52381938bcc8547316d79a4721281da7f934d9b8
onnx-mlir: 9fe2c87b1d649ef5ff6a2281d6a18e40ee47097e

[2020-10-26 04:09] imaihal commented on #363
The commit of llvm-project looks old. Maybe you need to pull llvm-project if you can't find it.
You need to use this commit.  https://github.com/llvm/llvm-project/tree/b3b4cda104068e92b77f18c4e3fc0e0b8f3650e0

[2020-10-26 04:45] wangzhaode commented on #363
Thanks, pull llvm-project can build these library.

[2020-10-26 04:45] #363 closed

[2020-10-26 07:05] tungld commented on #362
Hi @ArunaKote, thanks for sending me the model!
As I replied to you, two operations in your model, Slice and Loop, are under development (PRs #355 #361). Could you please try again once these PRs are merged?

[2020-10-27 21:52] ryotatomioka opened #365 "Logsumexp is not numerically stable"
[Rewriting](https://github.com/onnx/onnx-mlir/blob/master/src/Transform/ONNX/Decompose.td#L46) of logsumexp in terms of simpler onnx ops need to take into account the numerical stability.

To reproduce the issue,
[code]

The result was
[code]
and the assertion fails. Note that if I comment out `+ 100.0`, then the test passes.

To make logsumexp numerically stable, we need to implement it as `logsu

[2020-10-29 01:49] feiyuvl opened #366 "question about memory plan"
Traditional deep learning frameworks have a memory plan pass to reuse memory for different tensors. How to implement this function in onnx-mlir ?

[2020-10-29 14:17] doru1004 commented on #366
It's already implemented in this PR: https://github.com/onnx/onnx-mlir/pull/346

[2020-10-29 21:52] doru1004 commented on #289
Fixed by https://github.com/onnx/onnx-mlir/pull/368

[2020-10-30 01:48] feiyuvl commented on #366
@doru1004  thank you.  As the discussion in this PR metioned, only the same size tensors can merge. Will this increase the memcost compared with framework using max-size merging strategy ?  And does mlir support inplace memory optimize  which is common for activation ops?

[2020-11-05 07:21] xintin opened #374 "Unable to build onnx-mlir from the source"
Hi,

I am referring [this link](https://onnx.ai/onnx-mlir/) to build the onnx-mlir from the source.

[code]

At the second step, it failed with the below error:
[code]
Though I have Python3.6.9 installed. I fixed manually this by modifying CMakeCache.txt to use the Python3 version.

Is this fine to fix CMakeCache.txt manually?

I am using:
[code]

Any help is highly appreciated.

[2020-11-05 07:23] xintin commented on #374
I will check once again with updated libprotoc.

[2020-11-05 17:59] tjingrant commented on #374
Could you try removing the build directory, re-run cmake while specifying the python executable using `-DPYTHON_EXECUTABLE:FILEPATH=/usr/bin/python3` flag? i.e., use the following as your second  step:
[code]

[2020-11-06 04:00] tungld commented on #365
Hi @ryotatomioka,

Thank you for reporting the issues!

I fixed ONNXReduceLogSumExp with this PR #376.

For ONNXLogSoftmax, it requires a little work since the way it uses `axis` is different from the one ONNXReduceLogSumExp does.

[2020-11-06 07:41] xintin commented on #374
Thank you for your help. The build was successful.

[2020-11-06 07:41] #374 closed

[2020-11-06 15:55] doru1004 commented on #366
The initial implementation using same size is just the first step, the work on this is optimization is not yet complete so in time it will evolve to support more complex cases.

I'm not aware if we specifically support that but any in-place ops should be emitted as in place. This would have to happen earlier that this pass, when (or immediately after) the krnl code is emitted.

[2020-11-06 16:22] doru1004 commented on #356
What is the type of the attribute?

[2020-11-06 16:24] doru1004 commented on #351
I see the PR referenced in this issue has been merged, can the issue be close or are there outstanding items to be resolved?

[2020-11-06 16:28] #351 closed

[2020-11-06 16:29] doru1004 commented on #350
Can we have a list of which ops have failed shape inference?

Can we also have the data type which we are missing?

Can you re-run the models again please? Some operations have been added maybe they are the ones that were missing.

[2020-11-06 16:31] doru1004 commented on #344
I believe if operation support is not yet complete. @tjingrant @chentong319 ?

[2020-11-06 16:31] doru1004 commented on #351
Thanks! :)

[2020-11-06 16:42] doru1004 commented on #324
@agostini01 thanks for answering this. @SerenaC94 did this solve your problem?

[2020-11-06 16:43] doru1004 commented on #335
@chentong319 any updates on whether this error has already been fixed?

[2020-11-06 16:44] doru1004 commented on #320
@ArunaKote did this solve your problem?

[2020-11-06 16:45] doru1004 commented on #315
@dushyanth-m did Tian's comment solve your problem?

[2020-11-06 16:45] SerenaC94 commented on #324
Yes, thank you! @agostini01 and I talked somewhere else so I forgot to close the issue.

[2020-11-06 16:45] #324 closed

[2020-11-06 16:46] doru1004 commented on #324
Thanks a lot for the update. Happy to hear the issue was resolved.

[2020-11-06 16:47] doru1004 commented on #289
Please re-open if further issues related to this arise.

[2020-11-06 16:47] #289 closed

[2020-11-06 16:49] doru1004 commented on #275
Any updates? Please close when issue is resolved.

[2020-11-06 16:51] ArunaKote commented on #320
Yes.

Thank You

On Fri, 6 Nov, 2020, 10:14 PM Gheorghe-Teodor Bercea, <
notifications@github.com> wrote:

[2020-11-06 16:51] doru1004 commented on #269
@ArunaKote is this model still failing? If so, can you post the ONNX model that corresponds to your TF code?

[2020-11-06 16:52] doru1004 commented on #320
Awesome, I'll close this issue then.

[2020-11-06 16:52] #320 closed

[2020-11-06 16:57] doru1004 commented on #255
There are several instance in MLIR and ONNX-MLIR which do this for other dialects, you'd have to have a look at those. You may also need to include the MLIR libs which support the Vector dialect.

[2020-11-06 16:58] doru1004 commented on #255
If you have MLIR code generated by ONNX-MLIR you can use the `onnx-mlir-opt` tool to lower that to LLVM dialect.

[2020-11-06 16:58] ArunaKote commented on #269
I able to solve this issue by reinstalling onnx-mlir package.

Thank you

On Fri, 6 Nov, 2020, 10:22 PM Gheorghe-Teodor Bercea, <
notifications@github.com> wrote:

[2020-11-06 17:01] doru1004 commented on #255
@kwu91 I see that your PR was merged, does this mean that your initial issue is now resolved? If so please feel free to close the issue.
@ArunaKote If there are still outstanding questions/issues please open a new issue so that we can track them appropriately.

[2020-11-06 17:01] doru1004 commented on #269
Awesome I'll close this then.

[2020-11-06 17:01] #269 closed

[2020-11-06 17:03] kwu91 commented on #255
Thank you, I did forget. I will close this issue.

[2020-11-06 17:03] #255 closed

[2020-11-06 17:03] doru1004 commented on #254
Any updated on this issue? @tjingrant

[2020-11-06 17:04] doru1004 commented on #252
I see two merged PRs for this, has the original issue been solved? Please close if so otherwise please let us know what's missing. Thanks a lot.

[2020-11-06 17:07] doru1004 commented on #247
@NathanielMcVicar would you be open to contributing the fixes for some of these issues? I think seeing the fixes as code would be helpful.

[2020-11-06 17:11] doru1004 commented on #242
@tungld any updates on this issue?

[2020-11-06 17:12] doru1004 commented on #224
Any updates on this issue? @chentong319 @tungld

[2020-11-06 17:13] doru1004 commented on #218
Do we have any updates on this? @tungld @chentong319

[2020-11-06 17:18] doru1004 commented on #198
@feiyuvl for hand written CUDA code, it might be easier to have a transformation from krnl to CUDA due to the fact that the number of operations in KRNL is much much smaller than the number of ONNX operations.

If you're just going to call a CUDA DNN function then you can do what @AlexandreEichenberger suggested above.

Any updates on this work?

[2020-11-06 17:18] doru1004 commented on #196
Any updates on the Slice Op? @AlexandreEichenberger @tungld

[2020-11-06 17:19] doru1004 commented on #192
@AlexandreEichenberger any updates on this?

[2020-11-06 17:21] doru1004 commented on #190
@AkhilJ99 any updates on this?

[2020-11-06 17:22] doru1004 commented on #189
@AkhilJ99 any updates on this?

[2020-11-06 17:54] chentong319 commented on #224
We are taking a progressive way to change shape inference. Some constraints have to be removed when the support for dynamic shape is added.
For the passes, we will move to fix-point iterative approach.

[2020-11-06 17:55] doru1004 commented on #224
Awesome, sounds like this is still in progress! Thanks for the update.

[2020-11-06 19:32] AlexandreEichenberger commented on #192
@doru1004 Next once we have all the dynamic shapes...

[2020-11-06 19:34] AlexandreEichenberger commented on #196
@tungld @doru1004 Slice was just in, but still constant shape because we are missing MLIR changes; another patch #377 is handling this.

[2020-11-07 04:43] tjingrant opened #380 "Namespace issue"
Hi @chentong319 why do we need to give special types (string, seq) in ONNX Dialect special namespaces?

As in: https://github.com/onnx/onnx-mlir/blob/50bb626d67ca270cf947c1a59cbba57f0efbdd09/src/Dialect/ONNX/ONNXOps.hpp#L51

[2020-11-08 09:10] #252 closed

[2020-11-08 15:36] chentong319 commented on #380
Does mlir provide support for these types now?

[2020-11-09 01:27] tungld commented on #242
No updates, but I hope PR #367 is relevant. Let me observe this issue for a while once PR #367 is merged.

[2020-11-09 16:07] #365 closed

[2020-11-09 21:06] xintin opened #381 "[WIP] Implementation of InstanceNormalization Operator"
Hi All,

Based on the discussion with @tjingrant, I am working on the implementation of [InstanceNormalization](https://github.com/onnx/onnx/blob/master/docs/Operators.md#instancenormalization). Currently, it is WIP.

Thank you.

[2020-11-09 23:10] AlexandreEichenberger commented on #381
Great, big thanks.

[2020-11-10 00:30] AlexandreEichenberger opened #383 "WIP Matmul dynamic handling"

[2020-11-10 03:42] tungld opened #385 "Support lowering krnl.getref to LLVM with dynamic dimensions"
While testing LSTM ops with dynamic dimensions, I got errors when lowering krnl.getref to LLVM.
To reproduce the error, let's use a lit test for krnl.getref in here: https://github.com/onnx/onnx-mlir/blob/master/test/mlir/krnl/krnl_bundle_memory_pool.mlir#L57
[code]
`./bin/onnx-mlir-opt test-dynamic-getref.mlir --lower-affine --convert-krnl-to-llvm` showed
[code]

@doru1004 I think this is because

[2020-11-11 07:11] yongwww opened #388 "Failed to build on OSX"
Followed the guide to build this project on my local Mac, failed with "CMake Error at MLIR.cmake:136 (message):
  MLIRMlirOptMain not found, did you forget to build llvm-project?"

[2020-11-11 07:29] yongwww commented on #388
Tried to comment MLIRMlirOptMain in cmakelist.txt, got issues like this when executing `cmake --build .`:

[code]

[2020-11-11 08:21] yongwww commented on #388
"MLIRMlirOptMain not found" happens even I built with Ubuntu on AWS EC2 C5 instance

[2020-11-11 17:20] doru1004 commented on #388
Are you using the version of LLVM that is mentioned in the README? Make sure that it's getting picked up instead of some other LLVM project version.

[2020-11-11 17:46] tjingrant commented on #388
And regarding the implicit declaration errors, it's being addressed in this patch (https://github.com/onnx/onnx-mlir/pull/384).

[2020-11-11 18:10] NathanielMcVicar commented on #247
@doru1004 We do have a number of fixes locally we are planning to upstream soon. There didn't seem to be much demand for the library execution stuff on Windows, but if this is helpful I can look into adding them as well.

[2020-11-11 18:14] doru1004 commented on #247
Thanks a lot for the update! That sounds great! Please feel free to PR any fixes you have locally, others may find them useful as well.

[2020-11-12 22:08] AlexandreEichenberger opened #392 "Deprecated use in Krnl Op definitions"
When building with the latest mlir, I see these warnings
[code]

I assume that there are some massaging of the ops that is needed.

[2020-11-13 04:04] yongwww commented on #388
yes, I followed the guide in the README, used the llvm commit mentioned in README, and set env. variable LLVM_PROJ_SRC and LLVM_PROJ_BUILD to point to the llvm project.

[2020-11-13 05:49] yongwww commented on #388
"MLIRMlirOptMain not found" issue persists. And got a new issue as following at the end (98%) of cmake build.

[code]

ran into the same error when executing `~/build/bin/onnx-mlir ~/build/test/unit/Runtime/DocExampleTest/add.onnx`

[2020-11-13 16:20] doru1004 commented on #388
Cab you make sure you're on the latest version of onnx-mlir master?

[2020-11-13 18:49] tjingrant commented on #392
I will take a look.

[2020-11-15 06:14] yongwww commented on #388
yes, just tried with the latest version of master (commit: 414d702ac4909c657eadb19340d08506272785b5). Got the same error "MLIRMlirOptMain not found"

[2020-11-16 10:34] victorIBM opened #398 "Docker image for s390x is not working correctly with redhat in linuxONE."
mlir s390x docker image is having problem in Redhat (both 7 and 8) in LinuxONE with the following errors. However, there is no such problem for the same image on SUSE in LinuxONE. I have double confirmed that the ONNX file I am using for compiling is working in SUSE, so the file itself is not broken. Could you pls help to have a look at it ? Thanks very much.

root@763a77f52fb5:~/onnx-mlir/build/b

[2020-11-16 18:43] chentong319 opened #400 "Dynamic shape for concat, reshape and conv"
These operation can accept dynamic shape for certain input or certain dimension of the tensor. I tested using PR390 to select the input.
## reshape and conv:  OK
Only the first input can be dynamic. All the backend test cases for two operations passed with`IMPORTER_FORCE_DYNAMIC=0`, which made only the first input dynamic.

## concat: failed
Concat operation requires all the inputs have the same s

[2020-11-17 03:17] tungld commented on #400
@chentong319 The issues about add, div, sub, min and max are related to broadcasting. Since we have `select`, we have to use std.load instead. Fixed these in PR #402.

[2020-11-17 12:17] gongsu832 commented on #398
Can you post the mnist.onnx file? I assume it's not too big.

[2020-11-17 13:28] chenqiny commented on #398
@victorIBM I have encountered same error when using minist onnx file from onnx model zoo.

onnx file in model zoo are just an index. User need to use git lfs checkout to get the real file with lfs subcommand.

The error indicates the file is failed to parse. I suggest to try to use netron to open the file to see whether it is in good format.

[2020-11-17 13:31] chenqiny commented on #350
I wrote script to compile onnx model zoo and mlperf workloads daily with crontab.
There is no changes yesterday.

[2020-11-17 13:39] victorIBM commented on #398
Pls unzip it to get mnist.onnx file. Thanks.

[mnist.onnx.zip](https://github.com/onnx/onnx-mlir/files/5553783/mnist.onnx.zip)

[2020-11-17 14:11] gongsu832 commented on #398
@victorIBM I have no problem compiling on RHEL 7.9 using the docker image `onnxmlirczar/onnx-mlir-build:s390x` pulled from dockerhub. Are you using the same docker image?

[code]
[code]

[2020-11-17 15:49] chentong319 commented on #400
@tungld Thanks. I approved PR#402.

[2020-11-17 17:37] doru1004 opened #404 "Broken travis test"
I am seeing an error in the Travis test, the ppc64 test:

https://travis-ci.org/github/onnx/onnx-mlir/builds/744198626

[code]

2 out of 3 tests currently pass for the master (s390 and AMD). The 3rd test fails (ppc64) but doesn't seem to get picked up as a failure, the Travis test is marked as having been successful overall.

Is this a bug or is it intended behavior ?

[2020-11-17 17:59] doru1004 commented on #385
I published a fix here: https://github.com/onnx/onnx-mlir/pull/401

[2020-11-17 18:40] tjingrant commented on #404
It's intended; power VM/container has been broken for OS-related issues for a while.

[2020-11-17 18:46] doru1004 commented on #404
It looks like the last test takes a long time to finish. Is it possible to split it into smaller test just to ensure progress is made?

[2020-11-17 18:48] doru1004 commented on #404
Got it. This explains why the failure wasn't reported. It seems that everything is fine except for the timeout though.

[2020-11-17 19:07] tjingrant commented on #404
Reading the log, it seems like we're stuck at backend tests? Those tests are already minimal by design, don't think there'll be an easy way to split them (and I think each test case execution produces either a "." or a "E" to stdout).

[2020-11-17 19:26] doru1004 commented on #404
I've checked several past commits. What I've seen is the following:
1. This test sometimes passes.
2. I've seen this test fail in multiple locations i.e. not just during backend tests. Sometimes it seems to fail during building:
https://travis-ci.org/github/onnx/onnx-mlir/jobs/741755446

Sometimes later on:
https://travis-ci.org/github/onnx/onnx-mlir/jobs/740930485

Lately looks like it's happenin

[2020-11-17 19:42] tjingrant commented on #404
I tend to think it's the VM/container that's fishy and it just hangs for no good reason.

[2020-11-17 19:44] doru1004 commented on #404
I agree.

Is there a chance that this behavior is triggered when we have several of these travis builds in flight?

[2020-11-17 19:47] caoimhinuibrian commented on #404
@doru1004 suggests that we make the ppc64le optional, and trigger it explicitly. I think we can do this with a phrase in the commit message. I can take a look at that later in the week or early next week.

[2020-11-18 10:03] victorIBM commented on #398
@gongsu832 My version are Red Hat 8.3.1-5, Red Hat 8.3.1-4 and Red Hat 7 (the detailed version is not gotten due to down time)and my images are as following.

[root@dlc-service ~]# docker images
Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg.
REPOSITORY                               TAG     IMAGE ID       CREATED       SIZE
docker.io/onnxmlirczar/onnx-mlir-build   s3

[2020-11-18 10:53] gongsu832 commented on #398
So why don't you docker pull the latest `onnxmlirczar/onnx-mlir-build:s390x` and try with that?

[2020-11-18 18:11] doru1004 opened #408 "Broken test for latest master"
Latest master breaks the following automatic test:

https://github.com/onnx/onnx-mlir/runs/1418810339

The rest of the tests pass. Any thoughts @tungld @AlexandreEichenberger ?

[2020-11-18 19:59] doru1004 commented on #408
More failures in s390 test:

[code]

[2020-11-18 21:09] AlexandreEichenberger commented on #408
I don't get these failures on my Mac. How can I try to reproduce this? @gongsu832 @caoimhinuibrian ?

[2020-11-19 01:00] tungld commented on #408
I saw this in the raw logs: `2020-11-18T15:05:16.1700780Z -- Failed to find LLVM FileCheck`.

It failed to find pybind11 also:
[code]

[2020-11-19 02:53] AlexandreEichenberger commented on #408
I did find out that s390 has a different order for operations that have no dependence, e.g.
[code]

So I will add CHECK-DAG directives to better handle this. Not sure why z behave differently than x86.

[2020-11-19 07:24] victorIBM commented on #398
@gongsu832 The latest version of s390x image is working in my related Redhat versions with following details. Thanks for your help.

root@f44e24d0beca:~/onnx-mlir/build/bin# ./onnx-mlir --EmitLib /root/mnist.onnx
Shared library /root/mnist.so has been compiled.

[2020-11-19 13:22] chenqiny commented on #350
Would it be possible to provide a debug option to print the following things?

1. Failed in which pass? Print error on which pass?
2. Would it be possible to include operation information in the error?
Example:
[Pass ABC] [Operation]Error:...
Then I can give a summary report.

:)

[2020-11-19 14:12] AlexandreEichenberger commented on #408
I added the CHECK-DAG to the latest addition to the lit tests, hoping its enough. If not, I will need to add the DAG to all of them

[2020-11-21 00:01] tungld commented on #408
@tjingrant and I have seen the problem of different order since we enabled lit tests for the first time. It randomly happens when we does not explicitly create a variable for a constant, like

Value cst = emitConstantFor(...)
Value add = rewriter.create<AddFOp>(loc, X, cst1)

But
Value add = rewriter.create<AddFOp>(loc, X, emitConstantFor(...))

Not sure it is the case here or not.

[2020-11-23 07:10] xintin commented on #381
Thank you, @AlexandreEichenberger. I have another PR in progress, so closing this. Kind regards.

[2020-11-23 07:10] #381 closed

[2020-11-24 04:28] tungld commented on #385
Thanks! It looks working well.

[2020-11-24 04:28] #385 closed

[2020-11-25 19:48] #400 closed

[2020-11-30 23:15] NathanielMcVicar opened #420 "Release builds not working without assertions"
After #386 it seems that assertions are required for correct operation due to MatMul.cpp:28. However, they are disabled for Release builds in the top level CMakeList.txt. We are observing this problem in our local pipelines, but this doesn't appear to be an issue for CI, so I'm wondering if some additional step should be reenabling assertions. We're following the docs for our build, as far as I ca

[2020-12-01 21:51] NathanielMcVicar opened #425 "Update LLVM commit ID"
Hi @tjingrant and @doru1004. We've brought the LLVM commit up to yesterday locally. Since this has been a pretty big one, it seems good to avoid anyone duplicating the effort. Would you all be OK with me submitting a patch? With the docker consolidation does it still have to come from the local repo? Thanks!

[2020-12-01 21:56] doru1004 commented on #425
Absolutely, we would definitely appreciate the PR.

[2020-12-03 03:47] tungld opened #431 "Error in bundling memory pool"
I have an LSTM program generated by onnx-mlir up to `enable-memory-pool` pass enabled, but it did not pass the `bundle-memory-pools` pass. Without `bundle-memory-pools`, the program can be compiled and run correctly.

This is the program:
[code]

[code]

[2020-12-06 19:23] chentong319 opened #437 "error with constant tensor"
Several ops, constant, size, and shape, failed backend test. They all use constant tensor.  The Size op passed dynamic backend test when the return size is no longer a constant. I compared the result of `--EmitLLVMIR` of static and dynamic test_size_cpu. I think the problem is that `alloca` instead of `malloc` is used for the tensor and the pointer is returned. Could  @tjingrant and @doru1004 conf

[2020-12-07 04:22] chentong319 opened #438 "Error when handling dynamic dimension other than the first"
There are 6 backend tests for concat Op: concatenate each dimension for 1D, 2D and 3D tensor. All passed except second and third dimension for 3D tensor (3D_axis_1 and 3D_axis_2). The MLIR output seems correct. I checked the LLVMIR output of 3D_axis_1 compared with that of 3D_axis_1.
The code for dimension is obviously wrong. Not clear which lowering after onnx to krnl went wrong.

Details:
The 3D

[2020-12-07 22:39] AlexandreEichenberger commented on #438
When I look at the code:

'''
 #map0 = affine_map<()[s0, s1] -> (s0 + s1)>

...
    %c1 = constant 1 : index
    %1 = dim %arg0, %c1 : memref<2x?x2xf32>
    %2 = dim %arg1, %c1 : memref<2x?x2xf32>
    %3 = affine.apply #map0()[%1, %2]
    %4 = alloc(%3) : memref<2x?x2xf32>
'''

is it possible that we should use the dim as opposed to the param dimensions for the map:

'''
 #map0 = affine_map<(d0, d

[2020-12-07 22:41] AlexandreEichenberger commented on #438
@chentong319 would you be able to give it a quick try... that does not excuse the behavior you see, but if its a fix, then let's be it.

[2020-12-07 23:35] seroyer opened #440 "JNI fails to load .so"
With the current design for JNI, the JNI code is stored in a different .jar than the libmodel.so.  The code in DynEntryPoint.java no longer works to find the .so since it assumes it's in the same jar as the JNI code.

https://github.com/onnx/onnx-mlir/blob/master/src/Runtime/jni/src/com/ibm/onnxmlir/DynEntryPoint.java#L21

[2020-12-07 23:41] seroyer commented on #440
I think I have a different problem where the copied jar file isn't getting appended correctly.  Closing.

[2020-12-07 23:41] #440 closed

[2020-12-08 03:37] tungld commented on #438
@chentong319 @AlexandreEichenberger Fixed this issue in PR #428, with this commit: https://github.com/onnx/onnx-mlir/pull/428/commits/914d870f5a274648d77e50eedaf10dd29ae2a100

[2020-12-08 18:10] #438 closed

[2020-12-09 04:45] doru1004 commented on #437
Solved by: https://github.com/onnx/onnx-mlir/pull/443

[2020-12-09 15:42] chentong319 commented on #437
Thanks @doru1004 .

[2020-12-09 15:42] #437 closed

[2020-12-10 07:44] chenqiny commented on #128
From latest build, it seems 40 Models are supported now.

Success compiled models:

./models/vision/body_analysis/emotion_ferplus/model/emotion-ferplus-7.onnx

./models/vision/body_analysis/emotion_ferplus/model/emotion-ferplus-8.onnx

./models/vision/classification/mnist/model/mnist-7.onnx

./models/vision/classification/mnist/model/mnist-8.onnx

./models/vision/classification/mobilenet/model/mob

[2020-12-14 05:38] tungld opened #449 "And, Or, Xor failed with non-first dynamic dims"
With command: `IMPORTER_FORCE_DYNAMIC='-1:1' BACKEND_TEST=test_and3d_cpu make check-onnx-backend`
We got failure:
[code]
This happened to Or and Xor also.

[2020-12-14 08:37] roastduck opened #451 "Segmentation fault generating add.so when building"
The default building flow generates `add.so` as a test after `bin/onnx-mlir` is built. However, it runs into a segmentation fault as the following log from `make VERBOSE=1`:
[code]

GDB suggests it crash at the following line:

[code]

Valgrind suggests there may be a free / delete / delete[] mismatch problem (no idea why Valgrind cannot find the debug symbols):

[code]

Running with the latest co

[2020-12-15 09:10] NathanielMcVicar commented on #425
@tjingrant I'm having trouble getting the Loop op test to work with update LLVM. Do you have any insight on what might be happening here? Thanks!
`
onnx-mlir/test/mlir/onnx/onnx_lowering.mlir split at line #3169:4:8: error: failed to materialize conversion for result #0 of operation 'std.call' that remained live after conversion
  %0 = "onnx.Loop"(%arg0, %arg1, %arg2) {body = @loop_body} : (tensor

[2020-12-21 02:52] shizy818 opened #454 "Input & Output Signatures"
Hello, will onnx-mlir support input & output signature for the compiled shared library?

[2020-12-26 00:48] tjingrant commented on #451
@roastduck Thanks for your detailed analysis & report! Unfortunately, I was unable to reproduce this issue on Mac OS; the gdb output you provided is very helpful, and it'll be particularly useful if you can run `bt` to show me the full stack trace, if possible!

[2020-12-26 01:56] roastduck commented on #451
[code]

[2020-12-26 19:43] tjingrant commented on #451
Thanks, @roastduck I posted patch #455 which fixes the detected Valgrind errors.

[2020-12-26 20:34] tjingrant commented on #425
Hi @NathanielMcVicar sorry for the delayed response. This seems to be problematic right at the lowering from standard to llvm? If that is the case then `krnl.dummy_cast` shouldn't be there, could you try inserting an extra pass of canonicalization (which hopefully will remove the dummy_cast operation)?

If things continue to fail, I'm happy to take a look at the code as is!

[2020-12-27 03:34] roastduck commented on #451
I failed to build that PR. It reports the following message during `make` (although the mssage is from CMake).

[code]

I see the CI for this PR is failing. Maybe we should pass the CI first. Besides, I have upgraded my toolchains days ago, which can possibly be the cause.

[2020-12-27 04:37] tjingrant commented on #451
Your failure seems to be coming from the installation of ONNX package, which may be flaky especially if installing from source (you can see that the build summary right before the build terminates was from `onnx`, not `onnx-mlir`).

Cleaning up toolchains and making sure up-to-date versions of dependent tools are appropriately installed seems to be the most straightforward next step. Here's an alt

[2020-12-28 06:12] ArunaKote opened #456 "onnx.Sigmoid argument type change"
I want to pass integer value to onnx.sigmoid and also return type also integer that is i32.what are steps(which files need to be modified) do I need to follow?

Thank You

[2021-01-04 03:58] tjingrant commented on #454
Hi, @shizy818 can you explain what you mean? Do you mean, is there a way to query input and output signature from the compiled shared library?

[2021-01-04 17:05] #449 closed

[2021-01-05 05:52] NathanielMcVicar commented on #425
I updated to the latest, and I'm still seeing this issue. I tried moving Would inserting a canonicalization pass require moving the tests from onnx_lowering.mlir to onnx_lowering_with_canonicalize.mlir? This didn't resolve the issue, and inserting a --canonicalize pass between --shape-inference and --convert-onnx-to-krnl didn't either. Now that I'm back, if you have any other pointers I can follow

[2021-01-05 17:42] tjingrant commented on #420
Maybe try removing `NDEBUG` flag in this line?

https://github.com/onnx/onnx-mlir/blob/0211de8a7ae352bda09838c19b401b83a9398bf5/CMakeLists.txt#L11

[2021-01-05 17:47] NathanielMcVicar commented on #420
We tried this, but it didn't work for our build system. Regardless, it seems more correct not to wrap functional code in assertions? If you prefer I remove the change I will investigate further.

[2021-01-05 18:53] tjingrant commented on #420
I agree.

If by "the change" you mean pulling functional code out of assertion, I'm fully on board with it. OTOH, I suspect Cmake is nevertheless inserting the `NDEBUG` macro definition when building in release mode even if we don't specify it explicitly. I think whether enabling assertions in release-mode is the right thing to do is up for debate, and having an easy way (i.e., `RelWithDebInfo`) a

[2021-01-05 18:58] NathanielMcVicar commented on #420
Yes, pulling the code out, as in this PR, fixes the release build in our environment. In terms of why assertions aren't working in our Release build, despite working in you all's CI, I do plan on looking into it more at some point, but it's not a high priority after this change. As you say, we can use RelWithDebInfo if we need to.

[2021-01-05 19:03] tjingrant commented on #420
We don't build in Release mode on our CI though. Windows build is an exception I guess, because the Windows-CI only tests whether onnx-mlir builds, no tests are run.

[2021-01-06 01:43] shizy818 commented on #454
@tjingrant yes that's what I mean.

[2021-01-06 14:53] #431 closed

[2021-01-06 18:45] NathanielMcVicar commented on #425
@tjingrant For what it's worth, the issue repro'd on the CI builds for the PR. Looking at the dialect conversion debug output, I wonder if the pattern may have to change. This is for ONNX to krnl only, if I'm understanding correctly.

[2021-01-06 21:45] tjingrant commented on #425
@NathanielMcVicar Thanks for the heads up, I will look into it; I'm actually making some modifications to the Loop op lowering pattern changing subgraph from a function to a nested region (turns out onnx subgraph allows implicit capture of variables defined in parent's region); this change could potentially resolve the issue we're seeing here (or at least change its manifestation). Thus I'm probab

[2021-01-06 21:51] NathanielMcVicar commented on #425
@tjingrant Sure! In that case, would you be ok with me commenting out the loop test to get this change committed (or possibly moving it to it's own file and marking it Xfail)? If you'd prefer we hold off that's ok, but in the past I've found these LLVM updates very cumbersome to merge with subsequent ONNX MLIR commits because they touch so much code.

[2021-01-06 21:58] tjingrant commented on #425
@NathanielMcVicar that sounds like a better plan. Please go ahead and disable loop op related tests and we can proceed to upgrade LLVM.

[2021-01-07 00:08] tjingrant commented on #454
@shizy818 this is definitely on our mind. I hope to support this feature soon. Feel free to send me or other folks reminders if this feature is not done in the near future.

[2021-01-07 05:41] shizy818 commented on #454
@tjingrant Thank you very much!

[2021-01-08 01:32] AlexandreEichenberger commented on #454
So that is RT support to query the inputs and outputs? Is that info that is already there, but that we have to make "queryable", or is it info that the compiler needs to generate first as its not yet present?

[2021-01-08 02:21] tjingrant commented on #454
@AlexandreEichenberger the info is not present directly in our IR module. My plan is to enhance the EntryPoint function to record such information as names, shapes and types of each input/output tensor, and then lower them into callable functions in the .so file that returns such metadata.

[2021-01-08 18:06] AlexandreEichenberger commented on #454
Got it, so there is some onnx-mlir work and RT work.

[2021-01-12 01:48] #420 closed

[2021-01-12 01:48] #425 closed

[2021-01-12 19:47] gramalingam opened #469 "A parser for ONNX and creating test-cases for ONNX to ONNX-MLIR translation"
It will be convenient if we could use the filecheck utility for unit-tests for the translation of ONNX to ONNX-MLIR. This will be easier to do if we have a text-based syntax for ONNX models and a parser to create an ONNX model from text.

I created a PR in the ONNX repo with a proposed syntax and parser for this purpose: please see: https://github.com/onnx/onnx/pull/3194

[2021-01-13 18:23] tjingrant commented on #469
@gramalingam that makes a lot of sense!

One thing I had worked on (and hope to continue pushing forward with in the near future) is end-to-end tests, i.e., tests converting tensorflow/pytorch checkpoints to onnx models using converters and verify they can be parsed correctly by onnx-mlir. I believe these end-to-end conversion tests will complement the unit test suites mentioned here nicely.

Plea

[2021-01-14 00:51] tungld commented on #469
This is a good idea. It could help solve this issue #218 also.

[2021-01-14 16:52] kwu91 opened #471 "Using an initializer for the Transpose Op"
Hello,

I have a very simplified use case where I have a model with a Transpose node using an initializer as its input. If I try to run `onnx-mlir --EmitONNXIR` on the model, I get the following error:

[code]

If I add a ShapeInferencePass at the very beginning, I am able to successfully generate a file to ONNX IR.

[code]

I'm curious to know if there might be any consequences if I add this pass

[2021-01-14 18:50] AlexandreEichenberger commented on #128
Update:

MLIR now has global average pool, dropout for inference (some case failing, we are investigating), and we are working on LRN, which should come shortly.

[2021-01-15 03:01] tungld commented on #471
@kwu91 Thanks for reporting this issue!

`createDecomposeONNXToONNXPass` does not require ranked tensors, so it is not necessary to do shape inference before it. One possible way is to remove the first call `pm.addNestedPass<FuncOp>(mlir::createConstPropONNXToONNXPass());` because we will call it again later after the shape inference. Could you please try it to see whether it could resolve the iss

[2021-01-15 23:54] kwu91 commented on #471
@tungld Removing the first call to createConstPropONNXToONNXPass instead seems to work for my models as well! Thanks! I'll wait for the changes to be merged!

[2021-01-21 11:09] wmcindia opened #477 "TestLSTM or TestRNN execution are failing on windows -10 build."
TestLSTM or TestRNN are failing on windows -10  build. Error messages shown below.

---------------------------------------------------------------------------------------------------------------
E:\Projects\MLIR_\onnx-mlir\build\bin\Debug>cl.exe -shared -fPIC  ./TestLSTM_main_graph.o -o ./TestLSTM_main_graph.so -LE:/Projects/MLIR_/llvm-project/build/install\lib -lEmbeddedDataLoader -lcruntime
Mic

[2021-01-21 12:59] anlongstory opened #478 "control flow LoopOp and IfOp mlir::verify failed"
onnx-mlir is not allowed set input argument to then_branch or else_branch:

[code]

Graph like this,  mlir::ModuleOp->dump()，”else_body“ and ”then_body“ need ”%arg0“ and ”%arg1“  , but two arguments is not set in func@else_body and func@then_body。

use mlir::verify(module->get()) get failed :
error info:  error: operand #0 does not dominate this use

LoopOp get the same problem，can you fix it？

[2021-01-21 16:17] tjingrant commented on #478
The fix is on-going, basically, currently body graph is represented in MLIR as functions, this is incorrect because ONNX spec allows for implicit capture of variables in the parent scope. Thus I'm trying to translate the body graph instead to become a region.

[2021-01-21 16:35] kwu91 commented on #471
#472 Fixed my issue. Closing.

[2021-01-21 16:35] #471 closed

[2021-01-21 17:11] tjingrant commented on #477
@wmcindia support on Windows is entirely community-driven (mostly by curtsey of collaborators from Microsoft); so we rely heavily on community support in this area. Would you be interested in porting the correct flag to support Windows compiler? If so, I'm happy to walk you through the background to get you started.

[2021-01-22 09:00] SharonYuIBM opened #480 "Compiling the densenet model from onnx zoo is time consuming"
Hello,
With the fix from commit:
https://github.com/onnx/onnx-mlir/commit/4ffadba05a810729fb16982917c119117d5dd5e1

I'm now able to successfully compile the denesnet model from onnx zoo: https://github.com/onnx/models/blob/master/vision/classification/densenet-121/model/densenet-9.onnx

However, the compilation takes more than 15 minutes on my environment:
[code]

I wonder why it takes that long t

[2021-01-22 17:28] tjingrant commented on #480
@doru1004 had some thoughts on this topic.

[2021-01-22 18:32] doru1004 commented on #480
Some of the overhead are due to replaceOp being called multiple times in a single matchAndRewrite pattern hence it happening sequentially. If we could enable more parallelism to safely happen at that level it would speed up the process.

[2021-01-23 02:37] tungld commented on #480
My observation on ResNet50 was that if we turned off memory pool, compiling time was reduced from 4 minutes to 29 seconds. Not sure it is applicable with DenseNet or not.

[2021-01-23 02:41] tjingrant commented on #480
If anyone is interested in trying turning off memory pooling to assess compilation speed without it, you can comment out passes starting from here: https://github.com/onnx/onnx-mlir/blob/9e2bc007816b6f504d999b41eff81321859a700d/src/MainUtils.cpp#L449

Though obviously, you don't get the memory saving benefits in this case.

[2021-01-25 08:54] shizy818 opened #483 "Unsupported data type (Boolean) during import initializers"
While compile model Tiny YOLOv3 (https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/tiny-yolov3/model/tiny-yolov3-11.onnx), it gives following error:
[code]

It is because that Loop operator in this model contains a boolean type but it's not handled by `onnxTensorProtoToDenseElmAttr`

![图片](https://user-images.githubusercontent.com/2142335/105681294-eed37500-5f2b-11eb-

[2021-01-25 09:00] shizy818 commented on #483
I plan to submit code change:

[code]

One problem is that I do not get how to write test code for it. It seems that FileCheck test does not suit.

[2021-01-25 14:21] chentong319 commented on #483
The change you suggested seems good to me. Please go ahead.

As for test, we are using onnx backend test for model importing. The test is invoked with "make check-onnx-backend". We do not want to change the onnx backend test. Let's figure out how to add a model into the test later.

[2021-01-26 03:11] SharonYuIBM commented on #480
Thank you all for the review and suggestions.

I tried by turning off memory pooling which helps reduce the compilation time of the DenseNet model from 18 minutes to 1.5 minutes.  I have some additional questions:

1. Does it mean memory pooling is a trade-off between compilation efficiency and memory saving?
2. The code comment seems to indicate we have the plan to make memory pooling optional? I

[2021-01-26 15:20] doru1004 opened #485 "Enable LRN to use KrnlLoad/Store"
Enable LRN to use KrnlLoad/Store

[2021-01-26 15:31] doru1004 opened #486 "Main function cannot be identified by name"
In the current implementation of the constant packing pass we have this code:

[code]

If the function happens to not be called main_graph the compilation will fail.

We need to change this.

[2021-01-27 07:31] CHUNERnubi opened #489 "How to upgrade the libprotoc package？"
I use virtual machine to realize the whole project. But in the following links, we encountered problems.
I execute` $ make --build .`.
The error returned is here.

[code]

My Ubuntu system is 18.04, how to upgrade the package **libprotoc** to 3.11.0, my current version is 3.0.0.

How to upgrade this package？ Thank you in advance.

[2021-01-27 07:32] shizy818 commented on #483
@chentong319 Thank. Loop test is added in onnx 1.8.0 (https://github.com/onnx/onnx/blob/v1.8.0/onnx/backend/test/case/node/loop.py), however there is no initializer case. We should be able to add some custom models for testing.

[2021-01-27 08:51] tungld commented on #489
How about following the instruction here: https://github.com/protocolbuffers/protobuf/blob/master/src/README.md#c-installation---unix? You may need to install its python package also by using `pip install protobuf`.

[2021-01-27 10:00] shizy818 opened #490 "Assertion failed during Reshape Op"
It failed to compile this model:
[code]

![图片](https://user-images.githubusercontent.com/2142335/105973626-f2036800-60c7-11eb-899e-505294406cca.png)

I think it is input `rnn_h` with shape [1, -1, 256] that cause the problem.

[2021-01-27 10:00] shizy818 commented on #490
onnx model:
[keras_rnn_stock.onnx.zip](https://github.com/onnx/onnx-mlir/files/5879285/keras_rnn_stock.onnx.zip)

[2021-01-27 16:15] tjingrant commented on #480
No, it should not slow down compilation. This issue obviously needs to be fixed for memory pooling optimization to be practical.

As the comment indicates, yes, it is the plan.

[2021-01-28 02:01] CHUNERnubi commented on #489
Ok, I'll have a try, thx

[2021-01-28 03:35] CHUNERnubi opened #492 "How to configure pybind11？"
I had a problem executing the `cmake --build .` command, as shown below.
[code]
I didn't install pybind11 before. There were no problems with the previous build process. How can I set it?  Thank you in advance.

[2021-01-28 15:56] #492 closed

[2021-01-29 01:59] CHUNERnubi commented on #489
I also have a problem that I can complete `cmake..` according to the official installation method.

When executing the `cmake -- build.` command, an error occurs, as shown below：
[code]
It should be the inconsistency between the versions of protobuf and protoc, but I'm installing it.

Previously, the command line returned the following information:

[code]

The `protobuf` version shown here is `3.

[2021-01-29 02:36] gongsu832 commented on #489
After upgrading protobuf, you need to reinstall onnx so it picks up the new protobuf version. To do that:
[code]

[2021-01-29 03:16] CHUNERnubi opened #493 "After upgrading protobuf, you need to reinstall onnx so it picks up the new protobuf version. To do that:"
After upgrading protobuf, you need to reinstall onnx so it picks up the new protobuf version. To do that:
[code]

_Originally posted by @gongsu832 in https://github.com/onnx/onnx-mlir/issues/489#issuecomment-769534004_

[2021-01-29 03:16] #493 closed

[2021-01-29 03:20] CHUNERnubi commented on #489
@gongsu832 Thank you for your help. When I run the following command，`sudo python3 setup.py install`
There are new problems.
[code]

[2021-01-29 07:21] gongsu832 commented on #489
Don't sudo. Become root properly `sudo su - root` then `python3 setup.py install`

[2021-01-29 22:08] chentong319 opened #495 "Use IndexExpr for Krnl pushBound"
In short:  There are some issues with AffineExpr for IndexExpr. To me, it is impossible for  current IndexExpr to determine an expression is affine or not.
For example:
1. createSymbolIndexFromArrayValueAtIndex. If we do not say the ArrayValue is inside the loop or not, IndexExpr can not know whether the result is affine or not. I found this issue for Tile. The loop bound is dimension * repeat[c].

[2021-01-29 23:15] tungld commented on #495
I saw the same behavior when trying to use IndexExp as loop bounds in Conv. I had to create affine maps without using IndexExp. I guess the issue comes from the fact that IndexExpr is evaluate "online", and when we get its afffine expression to construct affine map, we will see new non-existing dims like `d2` in `#map2 = affine_map<(d0, d1) -> (d2)>`

[2021-01-30 01:07] chentong319 commented on #495
@tungld I used IndexExp for LRN. It works.  LRN has a reduction on one dimension whose bound is computed from an outer loop induction variable. It is similar to Conv. You can check the function pushIndexExprsBound. Similar to your code for Conv. but all from a SmallVector<indexExpr>. We may need to figure out why sometimes IndexExpr fails.

[2021-01-30 03:31] CHUNERnubi commented on #489
@gongsu832 thx.

[2021-02-01 06:01] shizy818 commented on #483
ONNX operators `Where`, `If` and `Loop` contain `cond` boolean input. Right now even with fix https://github.com/onnx/onnx-mlir/pull/458, `test_loop11` from https://github.com/onnx/onnx/blob/v1.8.0/onnx/backend/test/case/node/loop.py cannot pass.

I will add test for boolean initializer until `If`/`Where` is introduced or `Loop` tests works. Besides, https://github.com/onnx/onnx-mlir/issues/469 di

[2021-02-01 06:12] tungld opened #496 "Enable affine loop optimizations"
To make all tests passed when enabling affine loop optimizations, make sure the following patch is landed https://reviews.llvm.org/D95668.

Memo: do `loop-invariant-code-motion` before any affine loop optimizations.

[2021-02-01 08:24] CHUNERnubi opened #497 "MLIR Construction Problem"
In the process of building MLIR ToolChains, I want to know why setting that parameter setting.
Why use `-DLLVM_TARGETS_TO_BUILD = "host" `configuration, why not `-DLLVM_TARGETS_TO_BUILD="x86"`？
What's the meaning of that setting?

[2021-02-01 17:22] AlexandreEichenberger commented on #495
Thanks for looking into this. On your first 2 points:

There might be some confusion here. `createSymbolIndexFromArrayValueAtIndex` create a symbol. By definition, symbols are affine. You cannot take 2 symbols: "dimension" and "repeat[c]" which are affine and expecting the multiplication of them to be affine. That is against the affine rules (see affine dialect; it could be at most semi-affine). Y

[2021-02-01 19:37] chentong319 commented on #495
In affine dialect, the "symbol" is one type of assumed input (the other is loop induction variable) and can be combined with any value (at Affine.apply) that satisfies SSA requirement.  IndexExpr did not clearly separate the symbol in the map and the value provided to affine.apply. That's where the confusion coming from. For the example of dimension_size*reshape[c], if a value is computed before t

[2021-02-02 04:58] tungld commented on #490
@shizy818 thank you for pointing out the issue! Fixed it here #498.

[2021-02-02 07:34] chentong319 commented on #495
If we only have a value, we need to track back along d-u chain to determine whether it is an affine expression for a known loop nest.  If a definition computation is v1 op v2, the definition of v1 and v2 are outside the loop nest, such definition can be replaced with one symbol in the affine map, and the expression may be affine (illustrated below)
[code]
If we treat the expression as below, then

[2021-02-02 08:18] tungld commented on #495
@chentong319

It is done via this function `isValidDim`: https://github.com/llvm/llvm-project/blob/main/mlir/lib/Dialect/Affine/IR/AffineOps.cpp#L256, where it handles symbols also.

I think dims and symbols are equivalent when constructing an affine expression as Alex said. However, it really matters when constructing an affine map. For example, `affine` dialect said [https://mlir.llvm.org/docs/D

[2021-02-02 18:23] AlexandreEichenberger commented on #495
Tong, I understand your example. Here is what we could do.

Create conservatively all IndexExpr as literal or non-affine expressions. This would simplify the interface too.
Add a method that make an IndexExpr an affine dim or affine symbol.

Making a symbol (makeSym):
- making a literal to a symbol: nothing to do.
- making an affine expression to a symbol: perform an affine apply, register result

[2021-02-02 18:32] AlexandreEichenberger opened #499 "Apache License in files"
ONNX has requested that they would prefer us to add the Apache license to each of the files:

ONNX/Readme.md listed as having an Apache 2.0 license and with this string:

[code]

and a h file with this string:

[code]

and a cmake file

[code]

Any takers?

[2021-02-02 22:49] dwincort opened #500 "Build Error on `getAttr`"
I thought I double-checked everything before posting this, but it looks like I was somehow on the wrong branch of `llvm-project`.  I just switched and am rebuilding.  Sorry for the noise here!

---

I'm trying to build onnx-mlir, and I'm getting the following error:
[code]
Do you have any suggestions for what I might be doing wrong?

For what it's worth, here is the result of `cmake ..` from the `

[2021-02-03 00:10] dwincort commented on #500
It looks like this was all caused by having the wrong version of mlir.  Sorry again for the noise.  To any admin, feel free to delete this issue.

[2021-02-03 00:10] #500 closed

[2021-02-03 01:17] shizy818 commented on #490
@tungld Got it, thanks!

[2021-02-03 02:48] CHUNERnubi opened #502 "onnx-mlir-opt can not output file"
when i use toolchain `onnx-mlir-opt` to low the dialect, during the `--convert-onnx-to-hrnl`, i use `-o=<filename> ` OPTION, there is no message in command line and can not generate file at the same time. However, if I do not use `-o=<filename>` OPTION, the program will return the mlir file in command line. I just want to save the file automatically.

[2021-02-03 02:56] #497 closed

[2021-02-03 03:03] #489 closed

[2021-02-03 03:06] CHUNERnubi commented on #502
I use the input file is `add.onnx.mlir`, generated by the command `./onnx-mlir --EmitONNXIR add.onnx`.

[2021-02-03 06:42] CHUNERnubi opened #503 "ToolChain "onnx-mlir" help have a Spelling mistake"
ToolChain "onnx-mlir" help have a Spelling mistake.
when I execute `./onnx-mlir -h ` command, command return the help.
However, there is a spelling mistake in the next line.
`--EmitJNI          - Lower model to LLMV IR -> LLVM bitcode -> JNI shared library -> jar`
Obviously, it should be like that ` - Lower model to LLVM IR`.
It has to have a change.

[2021-02-03 09:50] gongsu832 commented on #499
These two commands should do it for all the `.h` and `CMakeLists.txt` files under `src` subdirectory:
[code]

[2021-02-03 13:43] tungld commented on #495
Just saw an interesting behaviour of IndexExpr when using local buffer for Conv in PR #504.

I have this kind of lowering code, where we have nested loops, save and restore insertion points.
[code]
Please look at the comments. I had to explicitly evaluate `resultIndices`. Without it, the lowering said `operand #3 does not dominate this use` and stopped. It was non-trivial to find a solution like t

[2021-02-03 13:54] AlexandreEichenberger commented on #499
Love to see others using sed too... it can be addictive :-) Will do once travis is healthy again. Right now, it seems really flaky.

[2021-02-03 21:20] AlexandreEichenberger commented on #495
Yes, in general, IndexExpr that are affines or literal are lazily generated on demand. If you need to compute it before, you need, for example, to do a "getValue()". This will generate all the code that is needed to evaluate the expression.

[2021-02-04 01:42] #503 closed

[2021-02-04 02:50] chentong319 commented on #495
@AlexandreEichenberger I think your suggestion will work. IndexExpr becomes quite similar to Affine Express. One thing we may do is to connect IndexExpr with Krnl: the intermediate expressions should be generated and inserted before a krnl loop and guarantee to satisfy the SSA requirement of affine expression.

[2021-02-04 03:23] chentong319 commented on #495
@tungld I went over the isValidDim. Notice the third condition is limited to affine apply op. We know that any op on symbol-or-constant operands generates a loop invariant. If we put it outside of loop, the result will become a symbol for the region. Conclusion is we have to generate the loop invariant result outside the loop. Perhaps that's the service IndexExpr can provide: find the loop invaria

[2021-02-04 03:56] CHUNERnubi opened #506 "How to generate the Executable File in x86-linux"
I've finished the build add.onnx,  and then step by step down the dialect, and finally down to llvm IR, get the llvm IR file. If I want to generate executable files on the x86-Linux platform, what should I do?

I try to use the tool chain in llvm `./mlir-translate`. I want to talk about that llvm IR is first converted into an object file, then C program is used to call the C interface in the objec

[2021-02-04 05:36] tjingrant commented on #506
My find this tutorial helpful: http://onnx.ai/onnx-mlir//doxygen_html/index.html

[2021-02-04 05:58] CHUNERnubi commented on #506
@tjingrant thanks a lot~

[2021-02-05 16:56] #490 closed

[2021-02-07 06:51] CHUNERnubi commented on #506
@tjingrant Thanks for the web link, I have successfully generated the executable file, and can run the correct results. However, this method can not see the whole process of gradual decline of dialect clearly. I also read your paper about this project. I still want to reduce dialect step by step, and be able to see the result of every decline. Do you have any suggestions?
Thank you very much.

[2021-02-11 02:47] tjingrant commented on #506
@CHUNERnubi i'm not sure what's stopping you from seeing the intermediate results of gradual lowering. Do you mean that you want to "edit" the intermediate results and then continue? (which is only possible currently using onnx-mlir-opt)

[2021-02-11 11:55] rengolin commented on #254
FYI, in project Verona, we're [using](https://github.com/microsoft/verona/blob/master/CMakeLists.txt#L67) `ExternalProject` to download a pre-built install directory of LLVM, build locally or use an external pre-built build directory.

We're storing the pre-build binaries in a blob storage and the cached directory remains in our project's build directory to avoid downloading every time. Only adds

[2021-02-12 16:14] syin-groq opened #519 "Shape Folding Support"
I am trying to implement shape folding during the shape inference process.
I would like to have a discussion on what would be the best approach to achieve it.

In essence shape folding does the same operation as constant folding, the only difference being shape folding operates on shape data created by Shape Op, whereas constant folding operates on Constant.

Proposed solution: While doing shape i

[2021-02-12 18:42] chentong319 commented on #519
@syin-groq Can you share a example of problem? I kind of understand your proposal. We can schedule a meeting next week to discuss in detail. I am available whole day Monday. How about you and @tjingrant (if interested)?

[2021-02-12 19:58] syin-groq commented on #519
@chentong319 Unfortunately next Monday is a holiday for where I live. We can setup a meeting from Tuesday and forward if you are okay with that.
As for an example I can show you a lit test for something I am working on:

[code]

This example illustrate an upsample by the factor of 2 in the two most inner axes.
The detailed operation explanation:

1. `onnx.Shape` takes the shape of %arg0
2. `onnx.S

[2021-02-12 20:54] chentong319 commented on #519
I forgot that Monday is the president day. Tuesday (except 9-10 am, 3-4 pm) is good to me.

[2021-02-12 21:04] syin-groq commented on #519
I can do any time before 11am and any time after 1pm. We can just do 10am-11am or 1pm-2pm. My work email is syin@groq.com

[2021-02-15 18:55] tjingrant commented on #519
My Tuesday is pretty packed and I'm free only after 5pm. Feel free to meet without me, I can try to stay up-to-date via reading this issue page or any related upcoming PR.

[2021-02-15 19:25] chentong319 commented on #519
5-6pm works for me. How about you @syin-groq?

[2021-02-16 00:22] syin-groq commented on #519
@chentong319 Yeah I could do Tuesday 5-6pm

[2021-02-16 00:28] chentong319 commented on #519
Confirmed: Tuesday 5-6 pm. I sent out calendar invitation.

[2021-02-16 02:26] tungld opened #521 "`make OMONNXOpsIncTranslation` returns empty files"
Using onnx 1.7.0 in `third_party/onnx`, `make OMONNXOpsIncTranslation` produces empty files for `OpBuildTable.inc` and `ONNXOps.td.inc`.

Output of `make OMONNXOpsIncTranslation`:
[code]

It seems the reason is that Drouput version is 13 which is not supported in the current `third_party/onnx`. It means that some PR changed `OpBuildTable.inc` and `ONNXOps.td.inc` by using a different onnx version.

[2021-02-16 03:32] tjingrant commented on #521
Hi @tungld could you double check your `third_party/onnx` is up-to-date?

This is the [link](https://github.com/onnx/onnx/blob/b2a20a9d07678e89ae9346243035e194b63e0e8a/docs/Operators.md#Dropout) to the documentation of DropOut version 13 in the current version of ONNX package that sits under our `third_party/onnx` directory. Note that the specific ONNX commit we took does not correspond to an ONNX

[2021-02-16 03:45] tungld commented on #521
Oops, my `third_party/onnx` is out-of-date. Updated it and don't see the issue. Thank you @tjingrant!

[2021-02-16 03:45] #521 closed

[2021-02-18 06:32] shizy818 commented on #454
@tjingrant Do we have this feature now?

[2021-02-20 11:42] anlongstory opened #526 "issues about import .pbtxt file"
Does onnx-mlir  plan to support reading .pbtxt files in the future?
.pbtxt which is human-readable file just like:

[code]

[2021-02-20 11:43] #478 closed

[2021-02-20 17:33] tjingrant commented on #526
Seems like a fairly easy modification to this line:

https://github.com/onnx/onnx-mlir/blob/f5922131acaf19fb7018b118f4d4460a9effb284/src/Builder/FrontendDialectTransformer.cpp#L1108

is required to implement this feature. If you feel like doing it, don't hesitate to to submit a PR!

[2021-02-21 04:19] chenqiny commented on #128
Update:

Until Feb-20th, 77 models can be compiled.

Models | Compilation Success
-- | --
./models/text/machine_comprehension/bert-squad/model/bertsquad-10.onnx | FALSE
./models/text/machine_comprehension/bert-squad/model/bertsquad-8.onnx | FALSE
./models/text/machine_comprehension/bidirectional_attention_flow/model/bidaf-9.onnx | FALSE
./models/text/machine_comprehension/gpt-2/model/gpt2-10.onnx

[2021-02-22 11:06] #526 closed

[2021-02-26 07:31] #502 closed

[2021-02-26 15:49] rdicecco opened #531 "Leaking of architecture/back-end related details in the canonicalization patterns"
There aren't too many examples of this, the primary two that I've encountered are:

// onnx.add(onnx.matmul(%X, %Y), %Z) = onnx.Gemm(%X, %Y, %Z)

Which implicitly assumes that the underlying hardware is better suited for Gemms (and also is a fairly restrictive transform given that the ONNX Spec only details Gemm support for rank 2 matmuls).

The other example of this has since been removed, but it

[2021-02-26 16:15] chentong319 commented on #531
Agree.

[2021-03-02 20:40] NathanielMcVicar opened #534 "ONNX 1.8 support timeline"
Hi all. We're wondering if there is a timeline or plan for moving to ONNX 1.8.X? We've looked into this locally, and unfortunately, unlike the ONNX 1.7 move, there are some substantial changes required, even without moving to new operator versions. There is a separate issue that the version 13 operator set introduces a number of significant semantic changes, but those can be adopted later or not a

[2021-03-03 01:36] shizy818 opened #535 "Shape tensor not ranked during ReshapeOp"
I have an old RNN model created by keras-onnx. Here is the error msg:
[code]

`Reshape` and `Reshape1`:
[code]

`Reshape2`:
[code]

Any particular rule applied on `Reshape2`? Thanks.

[keras_rnn.onnx.zip](https://github.com/onnx/onnx-mlir/files/6073032/keras_rnn.onnx.zip)

[2021-03-04 02:52] CHUNERnubi commented on #506
I just want to know is there any way or method can generate .so file from LLVM IR Dialect file, using the toolchain which is builded by this project. Thanks a lot.

[2021-03-04 03:34] caoimhinuibrian commented on #506
@CHUNERnubi Starting with an onnx file, "fn", you can use "onnx-mlir --EmitLib  fn.onnx" to generate a "fn.so". If you want to start from an arbitrary mlir file, you would need to use onnx-mlir-opt, specifying all the passes you want to run and ending with an LLVM IR bitcode file. You could then take the bitcode file and use llopt and llc to generate the .so. Currently the end-to-end compilation o

[2021-03-04 13:18] shizy818 commented on #535
I think we can narrow the problem to a simple Reshape model. Maybe it does not handle "-1"  well in the `shape`.

[reshape_op.onnx.zip](https://github.com/onnx/onnx-mlir/files/6083864/reshape_op.onnx.zip)

[2021-03-04 18:33] NathanielMcVicar opened #539 "Update LLVM upstream version"
Hi @tungld @tjingrant. I would like to bring the LLVM version up to date again. We have the changes locally, but I don't want to start the PR if someone else is working on it. Please let me know if I should proceed. Thanks!

[2021-03-04 18:41] caoimhinuibrian commented on #539
@NathanielMcVicar We would like to first move to LLVM 12 and tag this repo at that level before moving to the current commit. I was expecting the release a few days ago, but it doesn't seem to be here yet.

[2021-03-04 19:04] NathanielMcVicar commented on #539
That makes sense. Thanks for the update, and if we can be helpful updating to the release feel free to ping me.

[2021-03-05 01:50] chentong319 commented on #535
I tried reshape_op.onnx and reproduced the error. The compiler handled -1 and dynamic size tensor for reshape. The issue I found so far is that the attribute promote changed the reshape op into
[code]
The shape inference check the size and found its type is NOT Ranked shape tensor.
I will do further investigation.

[2021-03-05 02:22] chentong319 commented on #535
I think the error came from the inconsistency: the Reshape inference was changed to check the definition point instead of the attribute. That's why there is a check for the type of size. I tried to remove attribute promote for Reshape and it worked.

[2021-03-08 03:59] shizy818 commented on #535
@chentong319 Thanks for your analysis. In fact "attribute promote" for Reshape is added by https://github.com/onnx/onnx-mlir/pull/498, and the issue https://github.com/onnx/onnx-mlir/issues/490 is opened by me as well. So looks like "attribute promote" would cause the problem for dynamic size tensor.

[2021-03-08 18:22] chentong319 commented on #535
#498 forgot to update the shape inference for Reshape. We will discuss which way to go, remove the attribute promotion or fix the shape inference.

[2021-03-09 21:57] NathanielMcVicar commented on #534
@chentong319 We have some of the inference operators at 13 locally if it would be helpful to collaborate on this. If not, I appreciate the schedule info. Thanks!

[2021-03-11 06:55] CHUNERnubi commented on #506
@caoimhinuibrian I want to know whether mentioned the `LLVM IR bitcode file` is `LLVM IR dialect file` or not? (However, the llvm bitcode file suffix is usually .bc and LLVM IR dialect file suffix is .mlir. ) If not the same file, how can I generate the bitcode file from llvm ir dialect file? whether I have to use the toolchains of llvm or not?

[2021-03-11 16:17] CHUNERnubi commented on #506
I want to implement the end-to-end process with the following process, but there are some problems in the end.
First, use `. /onnx-mlir -- EmitLLVMIR` to generate `LLVM IR dialect` file from `.onnx` file.
Then, use `./mlir-translate  --mlir-to-llvmir` to generate the `.ll` file.
Then, use `./llvm-as` to generate `.ll` into `.bc` file, which is bitcode file.
Then, use `./llc` to generate the `.so`

[2021-03-12 15:00] SerenaC94 opened #544 "conversion to affine dialect - questions and crash report"
Hi,
I would like to use onnx-mlir to obtain an MLIR representation that only contains affine and std operations. I have followed these steps:

[code]

The MLIR file that I get at the end, however, still contains some `krnl` operations. Isn't it possible to eliminate all of them?

Also, my second interest would be to eliminate all constants (we are dealing with neural networks, so weights take up a

[2021-03-12 21:26] andrewsi-z opened #545 "UsingPyRuntime references an old entry point in example ExecutionSession"
In references to PyRuntime, the ExecutionSession examples specify _dyn_entry_point_main_graph which appears to be downlevel.

They should be changed to run_main_graph.

Here are the locations impacted that I found:

- http://onnx.ai/onnx-mlir//UsingPyRuntime.html
- https://github.com/onnx/onnx-mlir/blob/a4d12d37b2424c0ba4a947dda497e4667da8172b/docs/UsingPyRuntime.md
- https://github.com/onnx/onnx-

[2021-03-15 01:56] czlsccz commented on #33
Hi,now I have installed the onnx-mlir.But when I test the tool,use ./onnx-mlir --EmitONNXIR add.onnx,it occurs a error,like this
onnx-mlir: /home/yajuan.zhao/onnx-mlir/src/Builder/FrontendDialectTransformer.cpp:1109: void onnx_mlir::ImportFrontendModelFile(std::__cxx11::strit&, mlir::OwningModuleRef&, onnx_mlir::ImportOptions): Assertion `parse_success && "Onnx Model Parsing Failed."' failed.
Abor

[2021-03-15 06:58] tungld commented on #544
Hi @SerenaC94,

What were the krnl operations you saw?

In the .tmp file, constant values are elided  for easily examining the generated code, and we cannot use it for further steps. Please use the .onnx.mlir file instead which is a valid MLIR program.

Thanks!

[2021-03-15 08:39] SerenaC94 commented on #544
[code]
each time weights are loaded (as far as I understand), and
[code]
at the end.

[2021-03-15 09:45] tungld commented on #544
@SerenaC94, thanks for the information!
Currently, ONNXConstantOp will be lowered to `krnl.global`, and `krnl.global` will be directly lowered to LLVM via `convert-krnl-to-llvm`. More information is here: https://github.com/onnx/onnx-mlir/pull/66
`krnl.entry_point` is like a placeholder for user input tensors. You can remove `krnl.entry_point` to play with the generated program, but in that case y

[2021-03-15 14:17] CHUNERnubi commented on #506
I am a novice in this area, do face some difficulties, I can not solve it myself, hope to get help, thank you very much.

[2021-03-15 18:20] gramalingam commented on #534
A related question: is there any plan for supporting multiple ONNX opsets? Any ONNXMLIR-based tool will need to eventually support ONNX models using earlier opsets, instead of just a single (current) opset. Some of the op-changes in ONNX1.8 break compatibility: e.g., the treatment of "axes" has changed for reduction ops like ReduceSum. If onnxmlir migrates to ONNX1.8, instead of throwing away the

[2021-03-16 19:18] chentong319 commented on #535
PR#546 should solve this issue.

[2021-03-16 19:19] #485 closed

[2021-03-17 06:29] czlsccz commented on #33
when I used onnx-mlir tool,
./onnx-mlir --EmitLib add.onnx
I meet this question,
Error message: Executable "/home/yajuan.zhao/llvm-project/build/bin/opt" doesn't exist!
Program path: /home/yajuan.zhao/llvm-project/build/bin/opt
Command execution failed.
UNREACHABLE executed at /home/yajuan.zhao/onnx-mlir/src/MainUtils.cpp:196!
Aborted (core dumped)
Can anyone help me ?

[2021-03-17 15:28] jcwchen commented on #33
Hi @czlsccz,
I haven't worked with onnx-mlir for a while and your error looks quite different from mine so I have no clue... My suggestion would be please make sure your llvm version is same as what README mentioned. Otherwise, please open another new issue under onnx-mlir to get the best help. Thanks.

[2021-03-19 00:25] AlexandreEichenberger commented on #499
done

[2021-03-19 00:25] #499 closed

[2021-03-19 00:46] chentong319 commented on #534
@NathanielMcVicar I will be very glad to collaborate on this. Which operations did you implemented?

[2021-03-19 01:13] chentong319 commented on #534
@gramalingam As for the multiple versions support, here are our thoughts:
1. We will focus on support "the latest" version. That means we will keep upgrade onnx-mlir following onnx.
2. As for different dialects for different versions, it is difficult for us to maintain the optimization code. For example, we need write rule for all the dialects. If a new lowering is introduced, all the dialects nee

[2021-03-19 02:13] AlexandreEichenberger commented on #534
Agreeing with @chentong319 opinion.

On supporting multiple ONNX opsets, my hope is that we can handle most of the ops by up converting older ops to a newer version, so that we may have as few operations as possible. This is borne by the experience that the more ways that exist to do something similar, the more likely something is not going to be fully tested when some new optimization is brought

[2021-03-23 21:31] sstamenova opened #555 "Use top-down traversal in BundleMemoryPools"
A recent (as of 3/20/21) change to mlir changed the traversal order from bottom up to top down. This breaks the algorithms in bundle memory pools. We get invalid outputs (see use of ```%8```) such as:

[code]

The breaking change is: https://reviews.llvm.org/D99006
There is a temporary workaround checked in (but under discussion): https://reviews.llvm.org/D99059

At the end of the day, the change

[2021-03-24 17:39] stephenneuendorffer opened #557 "Use full standard cmake export from llvm/mlir"
LLVM/MLIR exports the information needed for external builds in a consistent and standard way.  It is generally preferred to use this mechanism, rather than replicating it.  It seems that onnx-mlir currently uses some of the information exported by LLVM, but not MLIR.  It also seems that there are direct references into the LLVM source tree, which shouldn't be necessary.  I'd be happy to work to i

[2021-03-25 17:54] sstamenova commented on #555
To make this even more interesting, the change was reverted: https://reviews.llvm.org/D99329 for the moment to give downstream components time to prepare.

See discussion here: https://llvm.discourse.group/t/speeding-up-canonicalize/3015/25

[2021-03-25 18:15] AlexandreEichenberger commented on #557
Let me check who would be the right person on our end.

[2021-03-25 18:36] chentong319 commented on #557
I wrote the first version of cmake to link with mlir/llvm. Then Tian made lots of modifications. Back then, mlir did not have a clear export structure.  I will be glad to work with @stephenneuendorffer to update our cmake.

[2021-03-25 18:41] stephenneuendorffer commented on #557
Great!  Thanks!

[2021-03-26 06:40] stephenneuendorffer opened #559 "Avoid find_package(PythonInterp...)"
This mechanism is not robust in the presence of python2 and python3 installs and is deprecated in recent versions of cmake.  In our environment it tends to find python2 which seems to fail in various ways.  Unfortunately, this usage seems to be endemic in many of the sub-projects used in onnx.
The preference is to use find_package(Python3 ...) if python3 is needed.  (see https://cmake.org/cmake/he

[2021-03-26 07:53] feiyuvl opened #560 "Reuse weight parameter"
According to the `test/numerical/TestConv.cpp`,  we need to copy weight each time we call the convolution function. Is there any method to set weight once, and avoid copying each time when computing?

[2021-03-26 16:59] stephenneuendorffer opened #561 "test/unit/Runtime/DocExampleTest does not respect cmake configuration"
This test attempts to install onnx through the setup.py mechanism before executing, which results in an internal (duplicate?) cmake-based compilation of onnx.  However, this cmake does not inherit any environment from the outer cmake, which has been properly configured.  This fails spectacularly in our environment because we need to configure the location of CC, pybind11, and other dependencies.

[2021-03-26 23:51] stephenneuendorffer commented on #557
@chentong319 Can you review this?  https://github.com/onnx/onnx-mlir/pull/558  I don't even have permission to add you as a reviewer, it seems.

[2021-03-29 17:39] stephenneuendorffer opened #563 "Long runtime for test/numerical -> Need separate validation test suite?"
Most of the tests in this directory are not great as unit tests because they can run for a long time.  Perhaps these could be broken out into a separate longer-running test suite?

[2021-03-29 22:28] AlexandreEichenberger opened #565 "Not perfectly nested loop asserts"
I have a case of a non-perfectly loop that result in an assert (tested in the current master)

Test case:
[code]

When the constant is set between the iterates, it asserts.
[code]

Otherwise, it works fine
[code]

The case I was testing was initially more complicated, I reduced it to this. Probably fewer tiling loops would also exhibit the asserts, but I have not tried it.

[2021-04-01 10:26] shizy818 opened #568 "parallel interference cause crash"
Hello, we've done parallel predictions on the compiled model by `onnx-mlir --EmitLib`. Unfortunately it crashed:
[code]

Is it a known issue? If needed, I can upload the test code. Thank you!

[2021-04-02 17:37] tjingrant commented on #568
@shizy818 this is not a case we've tested, could you post the content of main.cc?

[2021-04-02 21:20] AlexandreEichenberger opened #572 "Numerical test TestGRU, LSTM, and RNN do not build"
The Numeric tests TestLSTM, TestGRU and TestRNN appear to be broken, meaning they don't compile.

[code]

[2021-04-03 01:00] gongsu832 commented on #568
Running under gdb and produce a backtrace would also help.

[2021-04-04 10:22] shizy818 commented on #568
main.cc
[code]

I think this error is introduced by commit `Fix memory leak with C/C++ interface (1f0149b8808bc13bb60c3c43e0d9bb9db1caad86)`.

On Linux env, test before it runs OK. Since this commit, it fails:
[code]

Here is the simple onnx model:
[tent.onnx.zip](https://github.com/onnx/onnx-mlir/files/6254342/tent.onnx.zip)

[2021-04-04 10:24] shizy818 commented on #568
@gongsu832 By the way, I tried gdb to check the backtrace but get nothing. The dynamical library is produced by LLVM code and can we still see the source code and stack trace?

[2021-04-05 00:58] tjingrant commented on #572
This happened to me occasionally too, I suspect it happens for some specific versions of gcc/clang. What OS/versions of gcc/clang are you using?

[2021-04-05 01:08] tjingrant commented on #565
@AlexandreEichenberger this is likely confusion due to the reasons I've speculated during our call, that permute is tricky and currently krnl dialect lowering doesn't provide good error diagnostics.

The cause of the assertion failure is that your Krnl dialect IR does not mirror the structure of the optimized code. Specifically,
[code]
should really be
[code]

And the assertion failure is roughly

[2021-04-05 02:13] tjingrant commented on #568
@tungld wonder if you have any thoughts?

Perhaps to support parallel inference, we should, instead of cleaning up global constants ourselves at the end of each inference run, set up a clean up function for users to call into themselves upon completing all inference tasks.

[2021-04-05 02:15] chentong319 commented on #568
@tungld In #556, is  globalBase set to Null after it is freed?

[2021-04-05 03:20] tungld commented on #568
Sounds good to reuse the global constants across all tasks.

I am afraid so.

In addition to the free issue, there is another potential issue. globalBase only keeps the pointer to a newly allocated buffer for constants for local use. Each run creates a new local buffer and stores the pointer to the same globalBase. So, multiple tasks will try to store to the same location, which is problematic. It

[2021-04-05 08:16] tungld commented on #568
@chentong319 @tjingrant @shizy818 I created to PR to address this issues.

The idea is to allow loading constants once, running run_main_graph multiple times, then destroying the constants.

[2021-04-05 13:16] gongsu832 commented on #568
@shizy818 Indeed you won't be able to step into `run_main_graph` since the object code was compiled by `llc` and `opt` from LLVM bitcode, which apparently doesn't generate gdb consumable debug info. @tjingrant @chentong319 @tungld How do people normally debug in such situation?

[2021-04-05 13:58] tjingrant commented on #568
@gongsu832 I think Kevin at some point was able to step through the generated code using gdb. Let me learn from Kevin and perhaps I can write something up.

[2021-04-05 20:23] caoimhinuibrian commented on #568
@tjingrant @gongsu832 I believe i stepped through at the assembler level. Maybe we should add an option to onnx-mlir to have llc emit the dwarf info.

[2021-04-05 20:38] NathanielMcVicar commented on #534
It looks like the ONNX 1.8 patch is incoming #575. It looks like we have the Expand op, and maybe some others (I need to count) ready to go. Would it make sense for us to start submitting PRs for individual ops once 575 lands? Thanks!

[2021-04-05 21:22] AlexandreEichenberger commented on #565
Got it, so to clarify: at this time, we need to permute and list the operations in the 1st parameter of krnl.iterate in the optimized order as well.

[2021-04-05 21:59] #565 closed

[2021-04-05 23:29] caoimhinuibrian commented on #534
@NathanielMcVicar Yes, I think if you have patches ready to go it would be great to submit PRs for them.

[2021-04-06 05:26] jianlongf commented on #198
@doru1004 I wanna do the same work from krnl to AMD GPU. So are there any examples or demos about it.

[2021-04-07 19:18] NathanielMcVicar opened #582 "Release build of replace2x2Matmul2d creates blocks with improper alignment"
After #569 Release builds on Linux asserts in LLVM due to a null TypeRange as follows (block at src/Conversion/ONNXToKrnl/Math/MatMul.cpp:153).

[code]

A similar issue happens with LLVM head because the alignment requirment for the return type pointer in MLIR has changed from 4-bytes to 8-bytes, here: https://github.com/llvm/llvm-project/blob/6415f424bc2a3bbb4f2fd7bb67863968ac3c19f6/mlir/lib/IR/O

[2021-04-07 19:36] AlexandreEichenberger commented on #582
@NathanielMcVicar where are you running when experimenting the error. I don't see it on MacOS and it ran our linux/Mac tests clean.

[2021-04-07 19:49] NathanielMcVicar commented on #582
I don't believe any of the current GitHub Linux CI tests do a release build, and the issue doesn't happen with Debug.

I built using the exact steps and LLVM commit from the wiki, except that I used config Release and Clang 9. I'm on Ubuntu 18.04, and our CI on Ubuntu 20.04 reproduces the same error. We unfortunately don't have MacOS CI set up currently, and I don't have a Mac available to me, so

[2021-04-07 19:52] AlexandreEichenberger commented on #582
So your saying that I may have to run without Debug?

[2021-04-07 19:59] NathanielMcVicar commented on #582
My wild speculation is that if it is in fact a pointer alignment issue that would explain why it doesn't happen with Debug, since null pointers and underaligned pointers can behave the same way in some cases.

[2021-04-08 08:08] ihainan commented on #535
Hi @chentong319, I tried to use the latest ONNX-MLIR to compile the same `keras-onnx.onnx` model  but got an error:

[code]

Are there any code changes related to the fix after PR#546?  Thanks.

[2021-04-08 08:46] ihainan opened #587 "conv_mnist model compilation fails"
Hi there,

I tried to use ONNX-MLIR to compile a conv_mnist ONNX model but got the following error:

[code]

The model file:

[conv_mnist.tar.gz](https://github.com/onnx/onnx-mlir/files/6277291/conv_mnist.tar.gz)

Any help would be greatly appreciated, thanks much!

[2021-04-08 16:43] tjingrant commented on #587
The model is not compliant because the model claims to have onnx opset version 9, and in that version of the spec, ONNX reshape operation must specify shape in int64 (https://github.com/onnx/onnx/blob/master/docs/Changelog.md#Reshape-5). Whereas in the model shape is specified as int32.

However this difference is almost trivial. We should expand our support for data types used to specify shape.

[2021-04-08 16:54] sstamenova commented on #582
I see the same failure (or at least the same tests) failing on Windows in Release as well. I also noticed that the tests don't even run on Windows depending on how the local python is setup, so I will be following up with a fix for the python issue.

[2021-04-08 20:08] caoimhinuibrian commented on #587
can we accept int32 and issue a warning instead of an error?

[2021-04-08 20:10] caoimhinuibrian commented on #582
@gongsu832 We should probably add Release mode to our Jenkins builds to avoid this type of error in the future

[2021-04-08 20:44] caoimhinuibrian commented on #560
Not sure what you're asking. This is a testcase checking numerical accuracy.

[2021-04-08 22:13] tjingrant commented on #587
@caoimhinuibrian that was my suggestion. We shouldn't care which datatype shapes are specified in.

[2021-04-08 22:17] tjingrant commented on #582
@sstamenova Yes, the Windows CI was setup to only test the compile-ability of ONNX-MLIR. Feel free to suggests edits to the Azure Pipeline script to run whatever tests you see fit. The script was mostly written by collaborators from Microsoft.

[2021-04-09 00:47] AlexandreEichenberger commented on #535
Reopened

[2021-04-09 01:09] feiyuvl commented on #560
When we do inference for a nerual network, for example resnet, we only init weight once, then with different input data. Does onnx-mlir support global variable to store weight parameter?

[2021-04-09 01:14] chentong319 commented on #535
@ihainan Can you attach you onnx model here?

[2021-04-09 01:16] ihainan commented on #535
@chentong319 Sure.

[keras_rnn.tar.gz](https://github.com/onnx/onnx-mlir/files/6282494/keras_rnn.tar.gz)

[2021-04-09 02:05] chentong319 commented on #535
I think that we can ignore those Failure messages: those are for debugging rewrite phase. The real error occurs in KrnlBundleMemoryPoolsPass.  At this stage the IR is already quite large. Anyone know a quick to identify which op caused this "error: operand #1 does not dominate this use"? MLIR should print out op information in op.emitError.

[2021-04-09 02:27] gongsu832 commented on #582
Sure. I can make the user image a Release build and the dev image a Debug build so we get to test both.

[2021-04-09 02:32] sstamenova commented on #582
The windows build is setup to build and test Release, however, because of the python setup issue for the lit tests, it hasn't been running the tests - which is why it never caught the failure. With this change #590, the tests are now running and you can see the Windows build has failed. Two of the failures are the tests under discussion, the third one is a dependency issue I'm going to investigate

[2021-04-09 03:36] caoimhinuibrian commented on #560
Yes, the weights are stored in a global constant pool

[2021-04-09 06:01] feiyuvl commented on #560
Thank you. Is there any example?

[2021-04-09 08:33] tungld commented on #568
@shizy818 could you please try again with the current master branch? Thanks!

[2021-04-09 09:22] shizy818 opened #596 "sentiment analysis models compilation fails"
Hi,

There are two small sentiment analysis model that cannot be compiled.
[code]

[code]

Model files:
[sentiment_analysis_tensorflow1.onnx.zip](https://github.com/onnx/onnx-mlir/files/6284612/sentiment_analysis_tensorflow1.onnx.zip)
[pytorch_sentiment_analysis.onnx.zip](https://github.com/onnx/onnx-mlir/files/6284617/pytorch_sentiment_analysis.onnx.zip)

Thanks!

[2021-04-09 17:17] NathanielMcVicar commented on #539
I understand the motivation for waiting, but LLVM just tagged a 12.0-rc5 with no end in sight. Would it make sense to move to the latest LLVM and create a 12.0 branch that works with the release when it becomes available? We have a pretty significant set of changes ready. Thanks!

[2021-04-09 20:29] caoimhinuibrian commented on #572
@AlexandreEichenberger is this still a problem?

[2021-04-09 20:57] AlexandreEichenberger commented on #572
Works for me now.

[2021-04-09 20:57] #572 closed

[2021-04-09 21:18] sstamenova opened #599 "Windows CI build is broken"
The Windows CI build is very very broken. Issues identified so far:

1) The build of onnx-mlir.exe fails (see #598) but Windows CI hides it because the next step "succeeds"
2) The build of onnx-mlir.exe fails to link after 1) is fixed (due to protobuf version)
3) The tests don't run in the Windows CI build (see #590)

Right now the yml definition of the build invokes a single cmd script which does

[2021-04-09 21:29] sstamenova commented on #599
@tjingrant : Do you have a preference of 1 vs 2? I can probably quickly do either and hopefully end this madness.

[2021-04-09 21:52] caoimhinuibrian commented on #539
@NathanielMcVicar we are currently at LLVM 12.0-rc3, I'm guessing you want to move to 13.0?

[2021-04-09 22:07] NathanielMcVicar commented on #539
That's right, although more significantly we don't want all the effort we've done to support LLVM changes to have to be duplicated on your end. Particularly as the 12.0 RCs and 13.0 development diverges.

[2021-04-09 22:29] NathanielMcVicar commented on #599
#241 was a fix for essentially the same issue on the build side. This seems compatible with approach 1.

[2021-04-09 22:40] caoimhinuibrian commented on #599
@sstamenova we don't have any preference for how the Windows build works ... you should follow your own inclination

[2021-04-10 13:21] #545 closed

[2021-04-10 17:40] gongsu832 opened #600 "commit 694cdb033214e6baa314ae396fbeff1ce6a77ca0 breaks mnist model on s390x"
I have a mnist model and driver that worked fine before this patch but now is getting the wrong results. This looks like an endian problem. I remember Tian asked about the endian issue for this patch but there was no response.

Both native library and JNI jar are giving the wrong results (expected since JNI simply calls the native library).

Commands to compile the native library and run the infer

[2021-04-10 20:10] caoimhinuibrian commented on #600
What is the endianess of the data in the model? I'm guessing little-endian. Is it possible that in the process of writing to a file we converted the constants to big-endian on s390x? @tungld @tjingrant wht do you think?

[2021-04-10 23:02] tjingrant commented on #600
With our previous way of handling const pool, they're stored with native endianness. The endianness of the data is recorded in a symbol `constPackIsLE` and checked during parameter loading time to be compatible with native architecture.

So I think JNI here probably expects native endianness weights. Thus if things go wrong on s390x it'd be my guess to say that weights are stored instead as LE on

[2021-04-11 01:26] gongsu832 commented on #600
By convention, all weights on the disk should be in LE and converted to native endian when they are loaded into memory.

[2021-04-11 01:52] tungld commented on #600
Quick comment: new way stores weights with native endianness also, similar to the old way (e.g. reading data from raw buffer of dense attributes, and saving it). We have tests for le and be separately here https://github.com/onnx/onnx-mlir/blob/master/test/mlir/krnl/krnl_constant_to_llvm_be/constant.mlir.

[2021-04-11 02:01] caoimhinuibrian commented on #600
They aren't loaded from disk. They are stored in the model in the rodata section.

[2021-04-11 02:02] caoimhinuibrian commented on #600
@tungld could you take a look at @gongsu832's testcase above

[2021-04-11 02:06] tungld commented on #600
Yes, sure.

[2021-04-11 02:39] gongsu832 commented on #600
Yes I realize that so I was implying there could be problem since now they are stored in the model itself. In a sense, the weights are still stored on disk since the model itself is stored on disk. But I think here we are not dealing with raw weights like we did in DLC Classic, which is just an array of floats stored on disk. rodata should have metadata to tell whether the data is in LE or BE.

Wi

[2021-04-11 14:01] tungld commented on #600
As I remember, when we worked with endianness, if there was a problem with endianness, we often saw a lot of `0` in the result. But in this case it looks different.

After digging in endianness but could not get a better result, I changed the optimization level of `opt` from `-O3` to `-O2`, and got the correct results:

[code]

[code]

@gongsu832 could you please try to use `-O2` for `opt` and see

[2021-04-11 15:29] gongsu832 commented on #600
@tungld yes changing to -O2 gives the correct results. The .rodata dump on s390x now looks like this:
[code]
But it's just too weird to have a different optimization level writing data in different endian. Do we know what exactly -O2 and -O3 does for opt? It sounds like opt is broken.

[2021-04-12 01:14] tungld commented on #600
Yes. It appears that opt is broken. I don't know what optimization in opt caused the issue. I did a check on inference performance comparision and saw no different between -O3 and -O2 for resnet50 at this moment. Perhaps, we should use -O2 for safety.

[2021-04-12 02:01] gongsu832 commented on #600
Looks like we have no choice but to use -O2 until opt is fixed. I guess we should report this to LLVM?

[2021-04-12 05:54] tungld commented on #600
Yes, I think so.

[2021-04-12 16:10] tjingrant commented on #600
Just to make sure I understand the issue, so opt flips the byte order of global string in LLVM when -O3 flag is enabled?

That means if we write a helloworld program like this:

[code]

And compile with -O3 on s390x, it should print out garbage?

[2021-04-12 16:12] tjingrant commented on #600
@gongsu832 do you know why this issue slipped through our CI? Is it because this is something zOS specific, and therefore is not detectable under zLinux?

[2021-04-12 16:25] gongsu832 commented on #600
@tjingrant Endian is not a problem with strings since they are interpreted byte-by-byte. Endian is only a problem when you interpret data type with more than one byte. For example, if you have an array of shorts stored in memory like this:
[code]
If you print out the shorts on BE, you will get `0x0102`, `0x0304`. However, if you print out the shorts on LE, you will get `0x0201`, `0x0403`. This is

[2021-04-12 18:31] caoimhinuibrian commented on #600
do we have any actual evidence that this is an endianness problem? Perhaps it's just an O3 bug exposed by the change to put the constants in the LLVM IR?

[2021-04-12 23:47] gongsu832 commented on #600
@caoimhinuibrian That was what we suspected, that the -O3 has some bug that caused the .rodata on s390x to be written out in LE order (except the first word). Comparing to -O2, -O3 also seemed to trim off a few zero bytes (24464 vs 24448). Maybe it's doing some packing and forgets to check the endian and defaults to LE.

[2021-04-13 00:12] chentong319 commented on #596
@shizy818 Could you attach the model?

[2021-04-13 01:24] caoimhinuibrian commented on #539
@NathanielMcVicar You can go ahead and submit your PRs against master. I've created an llvm 12 branch that we will track that release in.

[2021-04-13 05:42] gongsu832 commented on #600
OK after comparing a few models with -O2 and -O3, it looks like the -O3 "bug" is definitely related to the size of the rodata. It only happens with small rodata, which explains why our CI didn't catch it because all the models used in the CI have large rodata.

From the models I have, -O3 rodata is bad when its size is below 31KB, but good when its size is above 72KB. So I venture to say that the

[2021-04-13 08:53] tungld commented on #600
@gongsu832 good finding! Thanks!

I generated LLVMIR from the mnist model, using `onnx-mlir -EmitLLVMIR`, then translated to LLVM using `mlir-translate -mlir-to-llvmir` to have an output, say, `mnist.ll`.

Now we play with bicode optimization. The idea is 1) generating bitcode from LLVM 2) optimizing bitcode using -O2 and -O3, then 3) converting back to LLVM.

Comparing the LLVM outputs of -O2 and

[2021-04-13 09:12] tungld commented on #600
One more observation about the mnist model. There were two dead constants generated by lowering onnx.reshape. `-O2` correctly eliminated the two constants, but `-O3` eliminated one more constant and caused the issue.

[2021-04-13 10:03] gongsu832 commented on #600
@tungld Thanks for the investigation. I think the problem is both, endian and missing constants. If you compare the rodata dump between -O3 and -O2:

-O3
[code]
-O2
[code]
You can clearly see that -O3 is missing all the 0s after `ff800000` and the rest of the constants are in LE, e.g., -O3 stores a `f4ba37bd` while -O2 stores `bd37baf4`, etc.

[2021-04-13 11:17] tungld commented on #600
It seems to me endianness in the generated -O3 bitcode is correct since we can obtain correct constants when they are converted back to LLVM. Any possibility that the endianness problem happened on the way from bitcode to .so?